<template>
    <div>
        <h1>BASKI UPLOAD</h1>
        <vue-resumable
            inputId="up1"
            name="up1-name"
            :multiple="true"
            :directory="false"
            post-action="/bayi/upload"
            :promptly="false"
            :thread="3"
            @change="change"
            :data="uploadData"
            ref="resumable"
        ></vue-resumable>
        <div>
        <img v-for="img in imgList" :src="img.url" width="150">
        </div>
        <button @click="upload">upload</button>
    </div>
</template>

<script>
  export default {
    data: function () {
      return {
        imgList: [],
        uploadData: {}
      }
    },
    methods: {
      change: function () {
        console.log('change')
        let _self = this
        let resumable = this.$refs.resumable
        resumable.files.forEach(file => {
          if (file.url) {
            _self.imgList.push(file)
          }
        })
      },
      upload: function () {
        console.log('App upload')
        this.$refs.resumable.upload()
      }
    },
    mounted:function(){
        this.uploadData = {'_token':document.head.querySelector("[name=csrf-token]").content};
    }
  }
</script>
