<style scoped>
tr,td {
    padding:5px;
}
td.right{
  text-align: right;
}
table.table-price{
  border-collapse: collapse;
  border: 1px solid #ccc;
}
table.table-price th, table.table-price td{
  border: 1px solid #ccc;
}
.modal{
  display: block;
  overflow: auto;
  margin:0 auto;
}
.modal-dialog {
  width: 90%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 90%;
  border-radius: 0;
}
.Table{
  display: table;
}
.Title{
  display: table-caption;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
.Heading{
  display: table-row;
  font-weight: bold;
  text-align: center;
}
.Row{
  display: table-row;
}
.Cell{
  display: table-cell;
  border: solid #eeeeee;
  border-width: thin;
  padding-left: 5px;
  padding-right: 5px;
  width: 15%;
}
.right{
  text-align: right;
}
</style>

<template>
<div>
<div class="modal" tabindex="-1" role="dialog" id="myModal">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" @click="kapat()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><h3>{{irsaliye.order_number}}  </h3></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-3">
              <label>{{nedenler[irsaliye.neden]}}</label><br>

              <label>Kayıt Tarihi</label>
              {{ irsaliye.kayit_tarihi || '' }} <br>
              <label>Sipariş Tarihi</label>
              {{ irsaliye.siptar || '' }}
          </div>
          <div class="col-xs-3">
            <label>BAYİ BİLGİLERİ</label><br>
            <strong>
            {{irsaliye.gon_adsoyad}}
            </strong>
            <br>
            <label>Gsm:</label>
            {{irsaliye.gon_cep}}<br>
            <label>Tel:</label>
            {{irsaliye.gon_sabit}}<br>
            <label>Email:</label>
            {{irsaliye.gon_email}}

          </div>
          <div class="col-xs-3">
            <label>FATURA BİLGİLERİ</label><br>
            <address v-if="irsaliye.neden=='kurumsal'">
            <strong>
            <label>Fatura Ünvan</label>
            {{irsaliye.fatura_unvan}}
            </strong><br>
            <strong>
            <label>Fatura Adresi</label>
            {{irsaliye.fatura_adres}}
            </strong><br>
            <strong>
            <label>V.D.</label>
            {{irsaliye.vergi_dairesi}}
            </strong><br>
            <label>V.N.</label>
            <strong>
            {{irsaliye.vergi_no}}
            </strong><br>
            </address>
            <address v-if="irsaliye.neden=='bireysel'">
            <strong>
            <label>Fatura Ünvanı</label>
            {{irsaliye.gon_adsoyad}}
            </strong><br>
            <label>Adres</label>
            {{irsaliye.gon_adres}}<br>
            <label>Kimlik No</label>
            {{irsaliye.kimlik_no}}
            </address>
          </div>
          <div class="col-xs-3">
            <label>Sipariş Kanalı</label><br>
            {{irsaliye.siparisalan}}
            </editable-text>
            <label>Müşteri Notu</label>
            {{irsaliye.bize_mesaj}}
            <label>Yönetici Mesajı</label>
            {{irsaliye.admin_mesaj}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="Table" v-if="!urun_edit && !urun_new">
                <div class="Heading">
                  <div class="Cell">
                    Ürün <button @click="urun_getir('urun_edit',0)" v-if="user.urun"><i class="glyphicon glyphicon-edit"></i> GÜNCELLE</button>
                  </div>
                  <div class="Cell">Üretim</div>
                  <!-- <div class="Cell">Alt Bayi Bilgileri</div> -->
                  <div class="Cell">Açıklama</div>
                </div>
                <div class="Row" v-for="op in irsaliye.orderproducts" v-if="op.ek==0" :key="op.id">
                    <div class="Cell">
                      <label class="label" :class="labels[op.status]">{{durumlar[op.status]}}</label>
                      <table class="table table-price">
                        <tr>
                          <th>Ürün</th>
                          <th>Adet</th>
                          <th>Birim Fiyat</th>
                          <th>Toplam</th>
                        </tr>
                        <tr>
                          <td>
                              {{op.product_name}} {{op.product_options}}
                          </td>
                          <td>
                            <span class="red">{{parseInt(op.product_qty)}}</span>
                          </td>
                          <td class="right">
                            <span class="red">{{op.product_price}}</span>
                          </td>
                          <td class="right">
                            <span class="red">{{op.product_qty*op.product_price}}</span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Taşıma Ücreti
                          </td>
                          <td colspan="3" class="right">
                            <span class="red">{{op.shipping}}</span>
                          </td>
                        </tr>
                      </table>

                    </div>
                    <div class="Cell">

                      <label>Teslimat Yöntemi</label>
                      {{op.ship}}
                      <br>
                      <label>Çıkış Tarihi</label>
                      {{op.cikis_tarihi}}
                      <br>
                      <label>Teslim Tarihi</label>
                      {{op.teslim_tarihi}}

                      <div  v-if="op.production_image">
                        <label>Baskı Görseli</label>
                        <span v-html="op.production_image"></span>
                      </div>

                    </div>
                    <!-- <div class="Cell">
                      <label>Alt Bayi Adı Soyadı</label>
                      {{op.alici_adsoyad}}
                      <label>Alt Bayi Telefonu</label>
                      {{op.alici_telefon}}
                      <label>Semt Adı</label>
                      {{op.semt_adi}}
                      <label>İl Adı</label>
                      {{op.il_adi}}
                    </div> -->
                    <div class="Cell">
                      <!-- <label>Adres Tipi</label>
                      {{op.alici_adrestipi}}
                      <label>İşyeri Adı</label>
                      {{op.alici_firma}}
                      <label>Alt Bayi Adres:</label>
                      {{op.alici_adres}}
                      <label>Adres Tarifi:</label>
                      {{op.alici_adrestarifi}} -->
                      {{op.product_desc}}
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      <div class="modal-footer">
          <button class="btn btn-info" @click="kapat()">KAPAT</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</div>
</template>

<script>
import EditableText from './EditableText.vue'
import EditableSelect from './EditableSelect.vue'
import EditableTextarea from './EditableTextarea.vue'
import EditableDate from './EditableDate.vue'

export default {
    components: {
        EditableText,
        EditableTextarea,
        EditableSelect,
        EditableDate
    },
    data: function () {
    return {
        durumlar:window.durumlar,
        labels:window.labels,
        api_link:window.api_link,
        irsaliye:{},
        products:{},
        urun_edit:false,
        coupon_edit:false,
        new_product:{qty:1,shipping:0,ship:'Frigolu Araç ile Teslimat ',cikis_tarihi: new Date().toISOString().substring(0, 10),teslim_tarihi: new Date().toLocaleDateString("tr-TR").replace(/\./g, '-'),parent_id:0},
        urun_new:0,
        nedenler : window.nedenler,
        kartlar : window.kartlar,
        payments:window.payments,
        user:window.user,
        kuryeler:window.kuryeler,
        kurye_arr:[]
      }
    },
    props: [
        'order_id'
    ],
    methods: {
        getir:function(){
            this.$http.get(this.api_link+'/v1/bayi/irsaliye/'+this.order_id)
            .then(function(response) {
                this.irsaliye = response.body;
            })
        },
        kapat:function(){
            this.$emit("kapatilacak");
        },
        degerGuncellendi:function(field,value){
            this.irsaliye[field] = value;
        },
        uretimGuncellendi:function(field,value){
            window.console.log(field,value)
        },
        kaydet:function(){
            this.$http.put(this.api_link+'/v1/irsaliye/save',this.irsaliye)
            .then((response)=>{
                if(response.status === 200){
                    this.$emit("kapatilacak");
                }else{
                    alert("Bir hata oluştu, lütfen tekrar deneyiniz..");
                }
            });

        },
        urun_getir:function(v,p){
            if(this.products.length !==undefined){
              if(v==='urun_edit'){
                this.urun_edit = true;
                this.urun_new = false;
              }
              if(v==='urun_new'){
                this.urun_new = true;
                this.urun_edit = false;
                this.new_product.parent_id = p;
              }
              return;
            }
            this.$http.get(this.api_link+'/v1/products')
            .then(function(response) {
                this.products = response.body;
                if(v==='urun_edit'){
                  this.urun_edit = true;
                  this.urun_new = false;
                }
                if(v==='urun_new'){
                  this.urun_new = true;
                  this.urun_edit = false;
                  this.new_product.parent_id = p;
                }
            })
        },
        urun_guncelle:function(op){

          this.$http.put(this.api_link+'/v1/irsaliye/op_save',op)
            .then((response)=>{
                if(response.status === 200){
                    this.irsaliye = response.body;
                }else{
                    alert("Bir hata oluştu, lütfen tekrar deneyiniz..");
                }
            });
        },
        urun_kaldir:function(op){

          this.$http.put(this.api_link+'/v1/irsaliye/op_sil',op)
            .then((response)=>{
                if(response.status === 200){
                    this.irsaliye = response.body;
                }else{
                    alert("Bir hata oluştu, lütfen tekrar deneyiniz..");
                }
            });
        },
        urun_ekle:function(new_product){
          let order_id = this.irsaliye.id;
          this.$http.put(this.api_link+'/v1/irsaliye/op_new',{order_id,new_product})
            .then((response)=>{
                if(response.status === 200){
                    this.irsaliye = response.body;
                    this.urun_new = false;
                }else{
                    alert("Bir hata oluştu, lütfen tekrar deneyiniz..");
                }
            });
        }
    },
    computed:{
      ekProducts(){
        return this.products.filter(function(item){
          return item.ek === 1
        })
      },
      anaProducts(){
        return this.products.filter(function(item){
          return item.ek === 0
        })
      }
    },
    mounted:function(){
      let k = {}
      $.each( this.kuryeler, function( key,val ) {
          k[key] = val.name;
      });
      this.kurye_arr = k;
      this.getir();
    }
}

</script>
