<style scoped>
  tr,td {
    padding:5px;
  }
  td.right{
    text-align: right;
  }
  table.table-price{
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  table.table-price th, table.table-price td{
    border: 1px solid #ccc;
  }
  .modal{
    display: block;
    overflow: auto;
    margin:0 auto;
  }
  .modal-dialog {
    width: 60%;
    margin: 0 auto;
    padding: 0;
  }

  .modal-content {
    height: auto;
    min-height: 80%;
    border-radius: 0;
  }
  .Table{
    display: table;
  }
  .Title{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
  }
  .Heading{
    display: table-row;
    font-weight: bold;
    text-align: center;
  }
  .Row{
    display: table-row;
  }
  .Cell{
    display: table-cell;
    border: solid #eeeeee;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 15%;
  }
  .right{
    text-align: right;
  }
</style>

<template>
  <div>
    <div class="modal" tabindex="-1" role="dialog" id="bayiModal">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" @click="kapat()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">YENİ BAYİ</h3>
          <grid-loader style="position:absolute;left:410px;top:10px;" :loading="is_loading"></grid-loader>
        </div>
        <div class="modal-body">

            <form class="form-horizontal" @submit.prevent="ekle()">
              <div class="form-group" :class="{'has-error':errors.name}">
                <label class="control-label col-xs-3">Adı Soyadı</label>
                <div class="col-xs-9">
                  <input type="text" v-model="veri.name" class="form-control">
                  <span class="help-text red" v-if="errors.name">{{errors.name[0]}}</span>
                </div>
              </div>
              <div class="form-group" :class="{'has-error':errors.gsm}">
                <label class="control-label col-xs-3">GSM</label>
                <div class="col-xs-9">
                  <input type="text" v-model="veri.gsm" class="form-control">
                </div>
              </div>
              <div class="form-group" :class="{'has-error':errors.customer_id}">
                <label class="control-label col-xs-3">Bayi</label>
                <div class="col-xs-9">
                  <select v-model="veri.customer_id" class="form-control">
                    <option v-for="(v,index) in customers" :value="index" :key="v">{{v}}</option>
                  </select>
                  <span class="help-text red" v-if="errors.customer_id">Lütfen Müşteri seçiniz</span>
                </div>
              </div>
              <div class="form-group">
                <button v-if="!is_loading" class="btn btn-danger btn-block" type="submit">EKLE</button>
              </div>
            </form>

        </div>
        <div class="modal-footer">
          <button class="btn" @click="kapat()">İPTAL</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</div>
</template>

<script>

  import GridLoader from 'vue-spinner/src/GridLoader.vue'
  export default {
    components: {
      GridLoader
    },
    data: function () {
      return {
        veri:{
          name:"",
          gsm:"",
          customer_id:"",
          firma:""
        },
        api_link:window.api_link,
        user:window.user,
        is_loading:false,
        customers:window.customers,
        errors:{}
      }
    },
    methods: {

      kapat:function(){
        this.$emit("kapatilacak");
      },
      ekle(){
        this.is_loading=true
        this.$http.put(this.api_link+'/v1/bayi',this.veri).then((response)=>{
          if(response.status === 200){
            this.kapat()
          }
        },(error)=>{
          this.errors = error.body
          this.is_loading=false
        })
      },
    }
  }

</script>
