<style scoped>
tr,td {
    padding:5px;
}
td.right{
  text-align: right;
}
table.table-price{
  border-collapse: collapse;
  border: 1px solid #ccc;
}
table.table-price th, table.table-price td{
  border: 1px solid #ccc;
}
.modal{
  display: block;
  overflow: auto;
  margin:0 auto;
}
.modal-dialog {
  width: 90%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 90%;
  border-radius: 0;
}
.Table{
  display: table;
}
.Title{
  display: table-caption;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
.Heading{
  display: table-row;
  font-weight: bold;
  text-align: center;
}
.Row{
  display: table-row;
}
.Cell{
  display: table-cell;
  border: solid #eeeeee;
  border-width: thin;
  padding-left: 5px;
  padding-right: 5px;
  width: 15%;
}
.right{
  text-align: right;
}
</style>

<template>
<div class="modal" tabindex="-1" role="dialog" id="myModal">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" @click="kapat()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><h3>{{irsaliyeproduct.irsaliye_no}}  </h3></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-7 col-xs-12">

            <div class="form-group" :class="{'has-error':hasOpError('product_top')}">
              <label class="control-label col-xs-3">Top</label>
              <div class="col-xs-9">
                <select v-model="irsaliyeproduct.product_top"  class="form-control" @change="topSelected(irsaliyeproduct)">
                    <option v-for="(v,index) in toplar" :value="v" :key="index">{{v}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-3">En / Boy</label>
              <div class="col-xs-4" :class="{'has-error':hasOpError('product_width')}">
                <input type="number" v-model="irsaliyeproduct.product_width" :max="irsaliyeproduct.product_top" class="form-control" placeholder="En">
              </div>
              <div class="col-xs-4" :class="{'has-error':hasOpError('product_height')}">
                <input type="number" v-model="irsaliyeproduct.product_height" class="form-control" placeholder="Boy">
              </div>
            </div>
            <div class="form-group" :class="{'has-error':hasOpError('product_qty')}">
              <label class="control-label col-xs-3">Adet</label>
              <div class="col-xs-9">
                <input type="number" v-model="irsaliyeproduct.product_qty" min="1" class="form-control">
              </div>
            </div>
            <div class="form-group" :class="{'has-error':hasOpError('product_name')}">
              <label class="control-label col-xs-3">Açıklama</label>
              <div class="col-xs-9">
                <input type="text" v-model="irsaliyeproduct.product_desc" class="form-control">
              </div>
            </div>
            <div class="form-group" :class="{'has-error':hasOpError('product_options')}">
              <label class="control-label col-xs-3">Barkod Notu</label>
              <div class="col-xs-9">
                <input type="text" v-model="irsaliyeproduct.product_options" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-danger btn-block" type="button" @click="kaydet" :disabled="irsaliyeproduct.irsaliye_no">GÜNCELLE</button>
              <br>
              <span class="label label-warning" v-if="irsaliyeproduct.irsaliye_no">Üretime verildi, değişiklik için müşteri hizmetlerini aramalısınız</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-info" @click="kapat()">KAPAT</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</template>

<script>
import EditableText from './EditableText.vue'
import EditableSelect from './EditableSelect.vue'
import EditableTextarea from './EditableTextarea.vue'
import EditableDate from './EditableDate.vue'

export default {
    components: {
        EditableText,
        EditableTextarea,
        EditableSelect,
        EditableDate
    },
    data: function () {
    return {
        durumlar:window.durumlar,
        labels:window.labels,
        api_link:window.api_link,
        irsaliyeproduct:{},
        toplar:[],
        user:window.user,
        errors:{}
      }
    },
    props: [
        'op_id'
    ],
    methods: {
        getir:function(){
          var t = this
            this.$http.get(this.api_link+'/v1/bayi/irsaliyeproduct/'+this.op_id)
            .then(function(response) {
                t.irsaliyeproduct = response.body;

                if(t.irsaliyeproduct.product_sku == "JUNGLE"){
                  t.toplar = [133,150,160,175]
                }else{
                  t.toplar = [160,175]
                }

            })
        },
        kapat:function(){
            this.$emit("kapatilacak");
        },
        degerGuncellendi:function(field,value){
            this.irsaliyeproduct[field] = value;
        },
        uretimGuncellendi:function(field,value){
            window.console.log(field,value)
        },
        kaydet:function(){
            this.$http.put(this.api_link+'/v1/bayi/irsaliyeproduct/save',this.irsaliyeproduct)
            .then((response)=>{
              console.log(response)
                if(response.status === 200){
                    this.$emit("kapatilacak");
                }else{
                    alert("Bir hata oluştu, lütfen tekrar deneyiniz..");
                }
            });

        },
        topSelected(op){
          op.product_width = op.product_top
        },
        hasOpError: function (field) {
          if(Object.keys(this.errors).length !== 0){
            if(this.errors['irsaliyeproduct'+'.'+field] !==undefined){
              return true;
            }
          }
          return false;
        }
    },
    computed:{

    },
    mounted:function(){
      this.getir();
    }
}

</script>
