<style scoped>
a{cursor: text;}
</style>
<template>
<div>
	<a @click.prevent="edit()">
		<span v-show="!editing">{{deger || 'yok'}}</span>
	</a>
    <textarea  v-show="editing" v-model="deger" class="form-control"  @blur="save()" @focusout="save()" ref="field"></textarea>
</div>
</template>

<script>
export default {
	data: function () {
    return {
    editing:true,
    deger:""
    }
},
props: [
    'value'
],
methods: {
    edit:function(){
        this.editing=true
        this.$nextTick(function () {
            this.$refs.field.focus()
        })
    },
    save:function(){
        this.editing = false
        this.$emit("input",this.deger);
    }
},
    mounted:function(){
        this.deger = this.value
    }
}
</script>
