<style scoped>

</style>
<template>
<div>
    <a @click.prevent="edit()">
        <span v-show="!editing">{{options[deger] || 'yok'}}</span>
    </a>
    <select v-show="editing" v-model="deger" class="form-control" @change="save()" ref="field">
        <option v-for="(v,index) in options" :value="index" :key="v">{{v}}</option>
    </select>

</div>
</template>

<script>
export default {
    data: function () {
    return {
        editing:true,
        deger:0
      }
    },
    props: [
        'value',
        'options'
    ],
    methods: {
        edit:function(){
            this.editing=true
        },
        save:function(){
            this.editing = false
            this.$emit("input",this.deger);
            this.$emit("changed")
        }
    },
    mounted:function(){
        this.deger = this.value
    }
}
</script>
