<style scoped>
a{cursor: text;}
</style>
<template>
<div>
	<a @click.prevent="edit()">
        <span v-show="!editing">************</span>
	</a>
	<input type="password" v-show="editing" v-model="deger" class="form-control" @focusout="save()" ref="field">
</div>
</template>

<script>
export default {
data: function () {
return {
    editing:false,
    deger:""
    }
},
props: [
    'value'
],
methods: {
    edit:function(){
        this.editing=true
        this.$nextTick(function () {
            this.$refs.field.focus()
        })
    },
    save:function(){
        this.editing = false
        this.$emit("input",this.deger)
        if(this.deger !== this.value){
            if(this.deger.length > 5){
                this.$emit("changed")
            }else{
                alert("Şifre en az 6 karakter olmalı")
            }
        }
    },
},
mounted:function(){
    this.deger = this.value
}
}
</script>