<style scoped>

</style>
<template>
<div>
	<date-picker :date="startTime" :option="option" @change="save"></date-picker>
</div>
</template>

<script>
import DatePicker from 'vue-datepicker'

export default {
  components:{
      DatePicker
  },
data: function () {
  return {
      startTime: {
        time: ''
      },
      endtime: {
        time: ''
      },
      option: {
        type: 'day',
        week: ['Pt', 'Sa', 'Ça', 'Pr', 'Cu', 'Ct', 'Pz'],
        month: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
        format: 'DD-MM-YYYY',
        placeholder: 'seçiniz..',
        inputStyle: {
          'display': 'inline-block',
          'padding': '4px',
          'line-height': '20px',
          'font-size': '14px',
          'border': '2px solid #fff',
          'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
          'border-radius': '2px',
          'color': '#5F5F5F'
        },
        color: {
          header: '#ccc',
          headerText: '#f00'
        },
        buttons: {
          ok: 'TAMAM',
          cancel: 'İPTAL'
        },
        overlayOpacity: 0.5, // 0.5 as default
        dismissible: true // as true as default
      },
    editing:false,
      deger:""
    }
  },
  props: [
    'value'
  ],
  watch:{
    value:{
      handler:function(val,oldVal){
        this.startTime = {
          time:val
        }
      }
    }
  },
  methods: {
    edit:function(){
      this.editing=true
    },
    save:function(ar){
      this.editing = false
      this.$emit("input",ar);
    },
  },
  mounted:function(){
      this.startTime = {
        time:this.value
      }
  }
}
</script>