<style scoped>
.modal {
  display: block;
}
</style>

<template>
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sipariş Hareketleri</h4>
        <button type="button" class="close" @click="kapat()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" style="height:500px;overflow:auto;">
        <slot></slot>
      </div>
      <div class="modal-footer">
        <slot name="footer"></slot>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  methods: {
      kapat:function(){
          this.$emit("kapatilacak");
      }
  }
}
</script>
