<style scoped>
tr,td {
    padding:5px;
}
td.right{
  text-align: right;
}
table.table-price{
  border-collapse: collapse;
  border: 1px solid #ccc;
}
table.table-price th, table.table-price td{
  border: 1px solid #ccc;
}
.modal{
  display: block;
  overflow: auto;
  margin:0 auto;
}
.modal-dialog {
  width: 90%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 90%;
  border-radius: 0;
}
.Table{
  display: table;
}
.Title{
  display: table-caption;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
.Heading{
  display: table-row;
  font-weight: bold;
  text-align: center;
}
.Row{
  display: table-row;
}
.Cell{
  display: table-cell;
  border: solid #eeeeee;
  border-width: thin;
  padding-left: 5px;
  padding-right: 5px;
  width: 15%;
}
.right{
  text-align: right;
}
</style>

<template>
<div>
<div class="modal" tabindex="-1" role="dialog" id="myModal">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" @click="kapat()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><h3>{{irsaliye.order_number}}  <small>({{durumlar[irsaliye.onay]}})</small> </h3></h4>
      </div>
      <div class="modal-body" v-if="irsaliye.order_number">
        <div class="row">
          <div class="col-xs-2">
              <label>BİREYSEL/KURUMSAL</label>
                <editable-select :options="nedenler" v-model="irsaliye.neden"></editable-select>
              <label>Kayıt Tarihi</label>
              {{ irsaliye.kayit_tarihi || 'boş' }} <br>
              <label>Sipariş Tarihi</label>
              <editable-date v-model="irsaliye.siptar">
              </editable-date>
          </div>
          <div class="col-xs-2">
            <label>GÖNDERİCİ BİLGİLERİ</label>
            <strong>
            <editable-textarea v-model="irsaliye.gon_adsoyad"></editable-textarea>
            </strong>
            <label>Gsm:</label>
            <editable-text v-model="irsaliye.gon_cep" placeholder="Gönderici Gsm"></editable-text>
            <label>Tel:</label>
            <editable-text v-model="irsaliye.gon_sabit" placeholder="Gönderici Telefon"></editable-text>
            <label>Email:</label>
            <editable-text v-model="irsaliye.gon_email" placeholder="Gönderici Email"></editable-text>

          </div>
          <div class="col-xs-2">
            <label>FATURA BİLGİLERİ</label>
            <address v-if="irsaliye.neden=='kurumsal'">
            <strong>
            <label>Fatura Ünvan</label>
            <editable-text v-model="irsaliye.fatura_unvan"></editable-text>
            </strong>
            <strong>
            <label>Fatura Adresi</label>
            <editable-textarea v-model="irsaliye.fatura_adres"></editable-textarea>
            </strong>
            <strong>
            <label>V.D.</label>
            <editable-text v-model="irsaliye.vergi_dairesi"></editable-text>
            </strong>
            <strong>
            <label>V.N.</label>
            <editable-text v-model="irsaliye.vergi_no"></editable-text>
            </strong>
            </address>
            <address v-if="irsaliye.neden=='bireysel'">
            <strong>
            <label>Fatura Ünvanı</label>
            <editable-text v-model="irsaliye.gon_adsoyad"></editable-text>
            </strong>
            <label>Adres</label>
            <editable-textarea v-model="irsaliye.gon_adres"></editable-textarea>
            <label>Kimlik No</label>
            <editable-textarea v-model="irsaliye.kimlik_no"></editable-textarea>
            </address>
          </div>
          <div class="col-xs-2">
            <div class="checkbox">
              <label>
              <input type="checkbox" v-model="irsaliye.bilgilendirme_email" v-bind:true-value="1"
v-bind:false-value="0">
              Email Bilgilendirme
              </label>
            </div><br>
            <div class="checkbox">
              <label>
              <input type="checkbox" v-model="irsaliye.bilgilendirme_sms" v-bind:true-value="1"
v-bind:false-value="0">
              Sms Bilgilendirme
              </label>
            </div> <br>
            <label>Sipariş Alan</label>
            <editable-text v-model="irsaliye.siparisalan">
                </editable-text>
          </div>
          <div class="col-xs-2">

            <label>Müşteri Notu</label>
            <editable-textarea v-model="irsaliye.bize_mesaj"></editable-textarea>
            <label>Yönetici Mesajı</label>
            <editable-textarea v-model="irsaliye.admin_mesaj"></editable-textarea>
          </div>
          <div class="col-xs-2">
            <label>Kurye Mesajı</label>
            <editable-textarea v-model="irsaliye.kurye_mesaj"></editable-textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="Table" v-if="!urun_edit && !urun_new">
                <div class="Heading">
                  <div class="Cell">
                    <button @click="urun_getir('urun_edit',0)" v-if="user.urun"><i class="glyphicon glyphicon-edit"></i> GÜNCELLE</button>
                  </div>
                  <div class="Cell">Üretim</div>
                  <div class="Cell">Alt Bayi</div>
                  <div class="Cell">Adresler</div>
                </div>
                <div class="Row" v-for="op in irsaliye.orderproducts" v-if="op.ek==0" :key="op.id">
                    <div class="Cell">
                      <table class="table table-price">
                        <tr>
                          <th>Ürün</th>
                          <th>Adet</th>
                          <th>Birim Fiyat</th>
                          <th>Toplam</th>
                        </tr>
                        <tr>
                          <td>
                             {{op.product_name}}
                          </td>
                          <td>
                            <span class="red">{{parseInt(op.product_qty)}}</span>
                          </td>
                          <td class="right">
                            <span class="red">{{op.product_price}}</span>
                          </td>
                          <td class="right">
                            <span class="red">{{op.product_qty*op.product_price}}</span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Taşıma Ücreti
                          </td>
                          <td colspan="3" class="right">
                            <span class="red">{{op.shipping}}</span>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="4">
                            <button  @click="urun_getir('urun_new',op.id)"><i class="glyphicon glyphicon-plus"></i> EK ÜRÜN EKLE</button>
                          </td>
                        </tr>
                      </table>

                    </div>
                    <div class="Cell">

                      <label>Teslimat Yöntemi</label>
                      <editable-text v-model="op.ship"></editable-text>

                      <label>Çıkış Tarihi</label>
                      <editable-date v-model="op.cikis_tarihi">
                        </editable-date>
                      <label>Teslim Tarihi</label>
                      <editable-date v-model="op.teslim_tarihi">
                        </editable-date>
                      <label>Teslim Saati</label>
                      <editable-text v-model="op.teslim_saati">
                        </editable-text>

                        <label>
                        <input type="checkbox" v-model="op.gon_gizli" v-bind:true-value="1" v-bind:false-value="0"> Gönderici Gizli mi?</label>
                        <strong class="red"><br>{{op.gon_gizli==1 && "GÖNDERİCİ GİZLİ OLACAK" || ""}}</strong>

                    </div>
                    <div class="Cell">
                      <label>Alt Bayi Adı Soyadı</label>
                      <editable-text v-model="op.alici_adsoyad"></editable-text>
                      <label>Alt Bayi Telefonu</label>
                      <editable-text v-model="op.alici_telefon"></editable-text>
                      <label>Semt Adı</label>
                      <editable-text v-model="op.semt_adi"></editable-text>
                      <label>İl Adı</label>
                      <editable-text v-model="op.il_adi"></editable-text>
                    </div>
                    <div class="Cell">
                      <label>Adres Tipi</label>
                      <editable-text v-model="op.alici_adrestipi"></editable-text>
                      <label>İşyeri Adı</label>
                      <editable-text v-model="op.alici_firma"></editable-text>
                      <label>Alt Bayi Adres:</label>
                      <editable-textarea v-model="op.alici_adres"></editable-textarea>
                      <label>Adres Tarifi:</label>
                      <editable-textarea v-model="op.alici_adrestarifi"></editable-textarea>
                      <label>Adreste Bulunamazsa</label>
                      <editable-textarea v-model="op.alici_yoksa"></editable-textarea>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-danger" @click="urun_getir('urun_new',0)"  v-if="!urun_edit && !urun_new">ANA ÜRÜN EKLE</button>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-7 col-xs-12" v-if="urun_edit">

             <table class="table table-condensed table-bordered" border="1" v-if="irsaliye.orderproducts">
              <tr>
                    <th>Ürün</th>
                    <th>Miktar</th>
                    <th>Taşıma Ücreti</th>
                    <th></th>
                  </tr>
                  <tr v-for="op in irsaliye.orderproducts" :key="op.id">
                    <td>
                      <button @click="urun_kaldir(op)"><i class="glyphicon glyphicon-remove"></i></button>
                      <select v-model="op.product_id">
                        <option v-for="p in products" :value="p.id" :key="p.id">{{p.sku}} - {{p.name}} ({{p.saleprice}})</option>
                      </select>

                    </td>
                    <td>
                      <input type="text" size="4" v-model="op.product_qty">
                    </td>
                    <td>
                      <input type="text" size="6" v-model="op.shipping">
                    </td>
                    <td>
                      <button @click="urun_guncelle(op)" class="btn">GÜNCELLE</button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4">

                      <button @click="urun_edit=0" class="btn btn-warning">KAPAT</button>
                    </td>
                  </tr>
            </table>
          </div>
          <div class="col-xs-9" v-if="urun_new">
          <form class="form-horizontal" @submit.prevent="onSubmit" v-if="new_product.parent_id > 0">
          <h2>Yeni Ek Ürün</h2>
          <div class="form-group">
                <label class="col-sm-3 control-label">Ürün</label>
                <div class="col-sm-9">
                  <select v-model="new_product.id" class="form-control">
                    <option v-for="p in ekProducts" :value="p.id" :key="p.id">{{p.sku}} - {{p.name}}  ({{p.saleprice}})</option>
                  </select>
                </div>
              </div>
              <div class="form-group pull-right">
                <button @click="urun_ekle(new_product)" class="btn btn-info">EKLE</button>
                <button @click="urun_new=0" class="btn">İPTAL</button>
              </div>
          </form>
          <form class="form-horizontal" @submit.prevent="onSubmit" v-if="new_product.parent_id == 0">
            <h2>Yeni Ürün</h2>
              <div class="form-group">
                <label class="col-sm-3 control-label">Ürün</label>
                <div class="col-sm-9">
                {{new_product.parent_id}}
                  <select v-model="new_product.id" class="form-control">
                    <option v-for="p in anaProducts" :value="p.id" :key="p.id">{{p.sku}} - {{p.name}}  ({{p.saleprice}})</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Taşıma Ücreti</label>
                <div class="col-sm-9">
                  <input type="text" size="4" v-model="new_product.shipping" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Teslimat Yöntemi</label>
                <div class="col-sm-9">
                  <input type="text" v-model="new_product.ship" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Çıkış Tarihi</label>
                <div class="col-sm-9">
                  <editable-date v-model="new_product.cikis_tarihi"></editable-date>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Teslim Tarihi</label>
                <div class="col-sm-9">
                  <editable-date v-model="new_product.teslim_tarihi"></editable-date>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Teslim Saati</label>
                <div class="col-sm-9">
                  <input type="text" v-model="new_product.teslim_saati" class="form-control">
                </div>
              </div>
              <div class="form-group pull-right">
                <button @click="urun_ekle(new_product)" class="btn btn-info">EKLE</button>
                <button @click="urun_new=0" class="btn">İPTAL</button>
              </div>
            </form>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <table class="table table-condensed table-bordered" border="1">
              <caption><h4>ÜCRETLER</h4></caption>
                <tr>
                  <th>KUPON KODU  </th>
                  <td v-if="!coupon_edit">{{ irsaliye.coupon_code || 'boş' }} <button @click="coupon_edit=true" v-show="!coupon_edit" v-if="user.indirim==1" class="pull-right"><i class="glyphicon glyphicon-edit"></i> İNDİRİM</button></td>
                  <td v-if="coupon_edit">
                    <input type="text" v-model="irsaliye.coupon_code">
                     <button @click="coupon_update()" class="btn">KAYDET</button>
                  </td>
                </tr>
                <tr>
                  <th>İNDİRİM (%{{parseFloat(irsaliye.discount_yuzde || 0).toFixed(2)}})</th>
                  <td class="right" v-if="!coupon_edit">
                    {{ parseFloat(irsaliye.coupon_discount  || 0).toFixed(2) }} TL
                  </td>
                  <td v-if="coupon_edit">
                    <input type="text" v-model="irsaliye.coupon_discount">
                  </td>
                </tr>

                <tr>
                  <th>ARA TOPLAM</th>
                  <td class="right">{{ parseFloat(irsaliye.subtotal  || 0).toFixed(2) }} TL</td>
                </tr>
                <tr>
                  <th>KDV</th>
                  <td class="right">{{ parseFloat(irsaliye.tax  || 0).toFixed(2) }} TL</td>
                </tr>
                <tr>
                  <th>TAŞIMA ÜCRETİ</th>
                  <td class="right">
                   {{ parseFloat(irsaliye.shipping  || 0).toFixed(2) }} TL
                  </td>
                </tr>
                <tr>
                  <th>TOPLAM</th>
                  <td class="right">{{parseFloat((irsaliye.total*1)+(irsaliye.shipping*1)).toFixed(2) }} TL</td>
                </tr>

                <tr>
                  <th>ÖDEME</th>
                  <td>
                    <editable-select  :options="payments" v-model="irsaliye.payment"></editable-select>
                    <br/>
                    <editable-text v-model="irsaliye.payment_info"></editable-text>
                    <br/>
                    <strong>
                    <div class="checkbox">
                    <label>
                        <input type="checkbox" v-model="irsaliye.payment_ok" v-bind:true-value="1"
      v-bind:false-value="0">
                        {{irsaliye.payment_ok==1 && 'ÖDEME ALINDI' || 'ÖDEME ALINMADI'}}
                    </label>
                    </div>
                    </strong>
                    <br>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" v-model="irsaliye.kapida" v-bind:true-value="1"
      v-bind:false-value="0">
                        {{irsaliye.kapida==1 ? 'KAPIDA ÖDEME VAR' : 'KAPIDA ÖDEME'}}
                        </label>
                      </div>

                  </td>
                </tr>
            </table>
        </div>
      <div class="modal-footer">
          <button class="btn" @click="kapat()">İPTAL</button>
          <button class="btn btn-success pull-right" @click="kaydet()" v-show="!urun_new && !urun_edit">KAYDET</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</div>
</template>

<script>
import EditableText from './EditableText.vue'
import EditableSelect from './EditableSelect.vue'
import EditableTextarea from './EditableTextarea.vue'
import EditableDate from './EditableDate.vue'

export default {
    components: {
        EditableText,
        EditableTextarea,
        EditableSelect,
        EditableDate
    },
    data: function () {
    return {
        durumlar:window.durumlar,
        api_link:window.api_link,
        irsaliye:{},
        products:{},
        urun_edit:false,
        coupon_edit:false,
        new_product:{qty:1,shipping:0,ship:'Frigolu Araç ile Teslimat ',cikis_tarihi: new Date().toISOString().substring(0, 10),teslim_tarihi: new Date().toLocaleDateString("tr-TR").replace(/\./g, '-'),parent_id:0},
        urun_new:0,
        nedenler : window.nedenler,
        kartlar : window.kartlar,
        payments:window.payments,
        payment_arr:[],
        user:window.user
      }
    },
    props: [
        'order_id'
    ],
    methods: {
        getir:function(){
            this.$http.get(this.api_link+'/v1/order/'+this.order_id)
            .then(function(response) {
                this.irsaliye = response.body;
            })
        },
        kapat:function(){
            this.$emit("kapatilacak");
        },
        degerGuncellendi:function(field,value){
            this.irsaliye[field] = value;
        },
        uretimGuncellendi:function(field,value){
            window.console.log(field,value)
        },
        kaydet:function(){
            this.$http.put(this.api_link+'/v1/order/save',this.irsaliye)
            .then((response)=>{
                if(response.status === 200){
                    this.$emit("kapatilacak");
                }else{
                    alert("Bir hata oluştu, lütfen tekrar deneyiniz..");
                }
            });

        },
        urun_getir:function(v,p){
            if(this.products.length !==undefined){
              if(v==='urun_edit'){
                this.urun_edit = true;
                this.urun_new = false;
              }
              if(v==='urun_new'){
                this.urun_new = true;
                this.urun_edit = false;
                this.new_product.parent_id = p;
              }
              return;
            }
            this.$http.get(this.api_link+'/v1/products')
            .then(function(response) {
                this.products = response.body;
                if(v==='urun_edit'){
                  this.urun_edit = true;
                  this.urun_new = false;
                }
                if(v==='urun_new'){
                  this.urun_new = true;
                  this.urun_edit = false;
                  this.new_product.parent_id = p;
                }
            })
        },
        urun_guncelle:function(op){

          this.$http.put(this.api_link+'/v1/order/op_save',op)
            .then((response)=>{
                if(response.status === 200){
                    this.irsaliye = response.body;
                }else{
                    alert("Bir hata oluştu, lütfen tekrar deneyiniz..");
                }
            });
        },
        urun_kaldir:function(op){

          this.$http.put(this.api_link+'/v1/order/op_sil',op)
            .then((response)=>{
                if(response.status === 200){
                    this.irsaliye = response.body;
                }else{
                    alert("Bir hata oluştu, lütfen tekrar deneyiniz..");
                }
            });
        },
        urun_ekle:function(new_product){
          let order_id = this.irsaliye.id;
          this.$http.put(this.api_link+'/v1/order/op_new',{order_id,new_product})
            .then((response)=>{
                if(response.status === 200){
                    this.irsaliye = response.body;
                    this.urun_new = false;
                }else{
                    alert("Bir hata oluştu, lütfen tekrar deneyiniz..");
                }
            });
        },
        coupon_update:function(){

          let order_id = this.irsaliye.id;
          let coupon_discount = this.irsaliye.coupon_discount
          let coupon_code = this.irsaliye.coupon_code
          this.$http.put(this.api_link+'/v1/order/coupon_update',{order_id,coupon_code,coupon_discount})
            .then((response)=>{
                if(response.status === 202){
                    alert(response.body.mesaj)
                }
                else if(response.status === 200){
                    this.irsaliye = response.body;
                    this.coupon_edit = false;
                }else{
                    alert("Bir hata oluştu, lütfen tekrar deneyiniz..");
                }
            });
        }
    },
    computed:{
      ekProducts(){
        return this.products.filter(function(item){
          return item.ek === 1
        })
      },
      anaProducts(){
        return this.products.filter(function(item){
          return item.ek === 0
        })
      }
    },
    mounted:function(){
      this.getir();
    }
}

</script>
