
<template>
    <div class="upload">

        <div  :id="'error'+id" class="resumable-error" v-show="resumable_error">
        Your browser, unfortunately, is not supported by Resumable.js. The library requires support for <a href="http://www.w3.org/TR/FileAPI/">the HTML5 File API</a> along with <a href="http://www.w3.org/TR/FileAPI/#normalization-of-params">file slicing</a>.
        </div>

        <div :id="'drop'+id" class="resumable-drop" v-show="resumable_drop" :class="{'resumable-dragover': resumableDrag}"
        @dragover="resumableDrag=true" @drop="resumableDrag=false" @dragleave="resumableDrag=false"
        >
            Baskı görseli buraya sürükleyin
            <a :id="'browse'+id" class="resumable-browse"><u> veya dosya seçin</u></a>
        </div>

        <div class="resumable-list" v-show="resumable_list">
            <ul v-for="file in fileList" :key="file.uniqueIdentifier">
                <span class="resumable-file-name">{{file.fileName}}</span>
                <span class="resumable-file-progress" style="position: absolute;left:300px">
                    {{Math.floor(file.progress() * 100) + '%'}}
                </span>
                <span style="position:absolute;right:40px">{{file.size | size}}</span>
                <button style="position:absolute;right:35px;" @click="removeFile(file)">X</button>

                <li v-show="!file.load" :class="'resumable-progress-' + file.uniqueIdentifier" style="height:25px;margin-top:5px">
                    <table>
                        <tr>
                            <td width="80%" style="vertical-align:middle">
                                <div class="progress-container">
                                    <div class="progress-bar" :style="progress_bar"></div>
                                </div>
                            </td>
                            <td class="progress-text" nowrap="nowrap" :style="{color: 'activeColor'}">
                                {{progress_text}}
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                resumable_error: false,
                resumable_drop: true,
                resumable_list: false,
                resumableDrag: false,
                activeColor: 'green',
                progress_text: '',
                progressState: true,
                progress_bar: {
                    width: ''
                },
                id:null
            }
        },
        props: {
            uploadList: {
                type: Array,
                required: true
            },
            target: {
                type: String,
                required: true
            },
            fileList: {
                type: Array,
                default: () => []
            }
        },
        methods: {
            removeFile(file) {
                if (!file.load) {
                    file.cancel();
                }
                for (let i = 0; i < this.fileList.length; i++) {
                    if (this.fileList[i].uniqueIdentifier === file.uniqueIdentifier) {
                        this.fileList.splice(i ,1);
                    }
                }
                for (let i = 0; i < this.uploadList.length; i++) {
                    if (this.uploadList.uid === file.uniqueIdentifier) {
                        this.uploadList.splice(i, 1);
                    }
                }
            }
        },
        filters: {
            size: function(value) {
                if (!value) {
                    return 0;
                }
                let s = value / (1024 * 1024);
                if (parseInt(s, 10) > 0) {
                    return s.toFixed(1) + 'M';
                } else {
                    return (value / 1024).toFixed(1) + 'Kb'
                }
            }
        },
        watch: {
            fileList(newValue, oldValue) {
                if (newValue.length === 0) {
                    for (let i = 0; i < oldValue.length; i++) {
                        oldValue[i].cancel()
                    }
                }
            }
        },
        mounted() {
            this.id = this._uid
            this.$nextTick(() => {
                let r = new Resumable({
                    target: this.target,
                    chunkSize: 512 * 512,
                    simultaneousUploads: 3,
                    testChunks: false,
                    query:{_token : $('meta[name=csrf-token]').attr("content")}
                })
                this.r = r;
                if (!r.support) {
                    this.resumable_error = true;
                } else {
                    this.resumable_drop = true;

                    r.assignDrop($('#drop'+this.id));
                    // r.assignDrop($('.resumable-drop')[0]);
                    r.assignBrowse($('#browse'+this.id));
                    // r.assignBrowse($('.resumable-browse')[0]);
                    this.resumable_list = true;
                    r.on('fileAdded', (file) => {
                        this.fileList.push({
                            'uniqueIdentifier': file.uniqueIdentifier,
                            'fileName': file.fileName,
                            'progress': () => file.progress(),
                            'size': file.size,
                            'cancel': () => file.cancel(),
                            'load': false,
                        })
                        r.upload()
                    })
                    r.on('fileSuccess', (file, message) => {
                        let res = JSON.parse(message);
                        this.uploadList.push({url: res.message, name: file.fileName, uid: file.uniqueIdentifier, size: file.size})
                        this.progress_text = 'yükleniyor'
                    })
                    r.on('fileError', () => {
                        this.progressState = false;
                        this.activeColor = 'red';
                        this.progress_text = 'hata';
                    })
                    r.on('fileProgress', (file) => {
                        this.progress_bar = {
                            width: Math.floor(file.progress() * 100) + '%'
                        }
                    })
                }
            })
        }
    }
</script>
