<style scoped>
  tr,td {
    padding:5px;
  }
  td.right{
    text-align: right;
  }
  table.table-price{
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  table.table-price th, table.table-price td{
    border: 1px solid #ccc;
  }
  .modal{
    display: block;
    overflow: auto;
    margin:0 auto;
  }
  .modal-dialog {
    width: 60%;
    margin: 0 auto;
    padding: 0;
  }

  .modal-content {
    height: auto;
    min-height: 80%;
    border-radius: 0;
  }
  .Table{
    display: table;
  }
  .Title{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
  }
  .Heading{
    display: table-row;
    font-weight: bold;
    text-align: center;
  }
  .Row{
    display: table-row;
  }
  .Cell{
    display: table-cell;
    border: solid #eeeeee;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 15%;
  }
  .right{
    text-align: right;
  }
   .drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 300px;
  font-family: sans-serif;
  padding: 20px;
}
.drop-area.highlight {
  border-color: purple;
}
</style>

<template>
  <div>
    <div class="modal" tabindex="-1" role="dialog" id="urunModal">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" @click="kapat()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">YENİ ÜRÜN</h3>
          <grid-loader style="position:absolute;left:410px;top:10px;" :loading="is_loading"></grid-loader>
        </div>
        <div class="modal-body">
            <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" :useCustomSlot=true @vdropzone-success="vsuccess" v-on:vdropzone-sending="sendingEvent">
              <div class="border border-dotted border-blue-600 px-8 py-4 flex align-center">
                  <div class="w-32 text-xs mt-4">Bilgisayardan Fotoğraf Ekle veya Sürükle Bırak</div>
              </div>
            </vue-dropzone>
            <button @click="removeAllFiles" v-if="resim_kaldir" class="pull-right btn btn-danger">Tüm Resimleri Kaldır</button>
            <form class="form-horizontal" @submit.prevent="ekle()">
              <div class="form-group" :class="{'has-error':errors.name}">
                <label class="control-label col-xs-3">Ürün Kodu</label>
                <div class="col-xs-9">
                  <input type="text" v-model="veri.name" class="form-control">
                  <span class="help-text red" v-if="errors.name">Ürün adı gereklidir</span>
                </div>
              </div>
              <div class="form-group" :class="{'has-error':errors.filename}">
                <label class="control-label col-xs-3">RESİM</label>
                <div class="col-xs-9">
                  <img :src="veri.filename" width="75">
                   <span class="help-text red" v-if="errors.filename">Resim Gereklidir</span>
                </div>
              </div>

              <div class="form-group">
                <button v-if="!is_loading" class="btn btn-danger btn-block" type="submit">EKLE</button>
              </div>
            </form>

        </div>
        <div class="modal-footer">
          <button class="btn" @click="kapat()">İPTAL</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</div>
</template>

<script>
  import vueDropzone from 'vue2-dropzone'
  import GridLoader from 'vue-spinner/src/GridLoader.vue'
  import 'vue2-dropzone/dist/vue2Dropzone.min.css'
  export default {
    components: {
      GridLoader,
      vueDropzone
    },
    data: function () {
      return {
        veri:{
          name:"",
          filename:""
        },
        resim_kaldir:false,
        api_link:window.api_link,
        user:window.user,
        is_loading:false,
        errors:{},
        dropzoneOptions: {
          url: window.api_link+'/v1/urun/upload/yeni',
          maxFilesize: 1,
          maxFiles: 1,
          addRemoveLinks: true,
          thumbnailWidth: 150, // px
          thumbnailHeight: 150,
          headers: {
            "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]").content
          },
          dictDefaultMessage:"Yüklemek için dosyaları buraya bırakın",
          dictFallbackMessage:"Tarayıcınız sürükle bırak dosya yüklemelerini desteklemiyor.",
          dictFallbackText:"Eski günlerdeki gibi dosyalarınızı yüklemek için lütfen aşağıdaki yedek formu kullanın.",
          dictFileTooBig:"Dosya çok büyük ({{filesize}} MiB). Maks. Dosya boyutu: {{maxFilesize}} MiB.",
          dictInvalidFileType:"Bu tür dosyaları yükleyemezsiniz.",
          dictResponseError:"Sunucu {{statusCode}} koduyla yanıt verdi.",
          dictCancelUpload:"Yüklemeyi iptal et",
          dictCancelUploadConfirmation:"Bu yüklemeyi iptal etmek istediğinizden emin misiniz?",
          dictRemoveFile:"Dosyayı kaldır",
          dictMaxFilesExceeded:"Başka dosya yükleyemezsiniz.",
      }
      }
    },
    methods: {
      removeAllFiles:function(){
         this.$refs.myVueDropzone.removeAllFiles();
      },
      kapat:function(){
        this.$emit("kapatilacak");
      },
      ekle(){
        this.is_loading=true
        this.$http.put(this.api_link+'/v1/urun',this.veri).then((response)=>{
          if(response.status === 200){
            this.kapat()
          }
        },(error)=>{
          this.errors = error.body.errors
          this.is_loading=false
        })
      },
      vsuccess(file, response) {
        this.is_loading=false
        this.veri.filename = response.image
        this.$refs.myVueDropzone.removeFile(file)
        this.resim_kaldir = false
      },
      sendingEvent (file, xhr, formData) {
        //console.log(formData)
        this.resim_kaldir = true
      },
      onProgress(e){
        this.is_loading=true
      },
    }
  }

</script>
