<style scoped>
.secili{
  background-color: #FFB6C1;
}
</style>

<template>
  <div>
     <div class="panel panel-warning" :class="{'modal-backdrop' : viewHareket}">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <form class="form-inline" @submit.prevent="cek()">
            <div class="form-group">
              <label for="tarih1">İlk Tarih</label>
              <editable-date v-model="secimData.tarih1"></editable-date>
            </div>
            <div class="form-group">
              <label for="tarih2">İkinci Tarih</label>
              <editable-date v-model="secimData.tarih2"></editable-date>
            </div>
              <select v-model="secimData.tip" class="form-control">
                <option v-for="option in options" :value="option.value">
                  {{ option.text }}
                </option>
              </select>
            <input type="text" name="order_number" v-model="secimData.top_number" placeholder="Top No"  class="form-control">
            <input type="text" name="fatura_unvan" v-model="secimData.fatura_unvan" placeholder="Bayi"  class="form-control">
            <input type="text" name="alici_adsoyad" v-model="secimData.alici_adsoyad" placeholder="Alt Bayi"  class="form-control">
            <button type="submit" class="btn btn-danger">GÖSTER</button>
            <button class="btn btn-default" @click="secimData_temizle()">TEMİZLE</button>

          </form>
          </div>
          </div>
      </div>
    </div>

    <div class="panel panel-info" v-if="!arama">
      <div class="panel-heading">
        <a href="#" class="navbar-brand">ANALİZ ({{veri.total}})</a>
        <button v-on:click="cek()" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-refresh"></i></button>
        <grid-loader style="position:absolute;left:350px;top:10px;" :loading="is_loading"></grid-loader>
      </div>
      <div class="panel-body">
       <span>İlk Tarih : <strong>{{secimData.tarih1}}</strong></span>
        <span>Son Tarih : <strong>{{secimData.tarih2}}</strong></span>
        <span v-show="secimData.order_number">Sipariş No:<strong>{{secimData.order_number}}</strong></span>
        <span v-show="secimData.status">Durum:<strong>{{durumlar[secimData.status]}}</strong></span>
        <span v-show="secimData.fatura_unvan">Bayi:<strong>{{secimData.fatura_unvan}}</strong></span>
        <span v-show="secimData.alici_adsoyad">Alt Bayi:<strong>{{secimData.alici_adsoyad}}</strong></span>
        <span v-show="secimData.ship">Teslim Şekli:<strong>{{secimData.ship}}</strong></span>
        <span v-show="secimData.siparisalan">Sipariş Alan:<strong>{{secimData.siparisalan}}</strong></span>
        <span v-show="secimData.payment">Ödeme:<strong>{{secimData.payment}}</strong></span>
        <span v-show="secimData.payment_ok">Ödeme Var mı:<strong>{{secimData.payment_ok}}</strong></span>
     </div>
   </div>
    <div class="panel panel-info">
      <div class="panel-body">
        <table class="table table-bordered table-striped" v-if="veri.total" border="1">
          <tr>
            <th colspan="4">{{veri.total}} Sipariş</th>
          </tr>

          <tr v-for="(c,id) in veri.cari">
            <th>{{customers[id]}}</th>
            <td v-for="(v,k) in c">{{k}} : {{v.toFixed(2)}}</td>
          </tr>
          <tr>
            <th>Toplam</th>
            <td v-for="(v,k) in veri.tum">{{k}} : {{v.toFixed(2)}}</td>
          </tr>
        </table>
      </div>
     </div>

  </div>
</template>

<script>
  import GridLoader from 'vue-spinner/src/GridLoader.vue'
  import EditableDate from '../components/EditableDate.vue'
  export default {
    components: {
      GridLoader,
      EditableDate
    },
    data: function () {
    return {
        durumlar,
        labels,
        veri:{},
        api_link,
        colors,
        printHtml,
        customers,
        order_id:0,
        op_id:0,
        irsaliye_no:"",
        arama:false,
        secimData:{tarih1,tarih2,tip:'siptar',iptaliade:false,fatura_unvan:"",alici_adsoyad:"",top_number:"",status:"",teslim_saati:"",ship:"",siparisalan:"",coupon_code:"",payment:"",payment_ok:"",sort:"created_at",direction:"desc"
        },
        options:[
          {text:'ÇIKIŞ TARİHİ',value:'cikis_tarihi'},
          {text:'SİPARİŞ TARİHİ',value:'siptar'}
        ],
        is_loading:false,
        user,
        checkedIrs:[],
        viewMenu:false,
        viewHareket:false,
        top: '0px',
        left: '0px',
        order_number:"",
        option_product_names:[''],
        option_product_tops:[''],
        option_fatura_unvan:[''],
        option_alici_adsoyad:[''],
        option_siptar:[''],
        option_cikis_tarihi:[''],
        csrf:""
      }
    },
    name: 'analiz-page',
    methods: {
        secili:function(id,e){
          e.preventDefault()
          if(this.checkedIrs.indexOf(id) > -1){
            this.checkedIrs.splice(this.checkedIrs.indexOf(id),1);
          }else{
            this.checkedIrs.push(id);
          }
        },
        cek:function(on){
          this.veri={}
          this.arama = false
          this.is_loading=true
          this.order_id = 0
          this.$http.post(this.api_link+'/v1/analiz',this.secimData)
          .then((response) => {
            if(response.status==200){
              this.veri = response.body
            }
            this.is_loading=false
          },(error)=>{
            alert("hata..")
            this.is_loading=false
          });
        },
        secimData_temizle:function(){
            this.secimData = {
              tarih1,tarih2,tip:'cikis_tarihi',iptaliade:false,order_number:"",status:"",fatura_unvan:"",alici_adsoyad:"",teslim_saati:"",ship:"",siparisalan:"",coupon_code:"",payment:"",payment_ok:"",sort:"updated_at",direction:""
          }
          this.cek()
        },

    },
    computed:{
      sortClass:function(){
        if(this.secimData.direction=='asc'){
          return 'glyphicon glyphicon-arrow-down'
        }else{
          return 'glyphicon glyphicon-arrow-up'
        }
      }
    },
    created:function(){
      this.csrf =  document.querySelector('meta[name="csrf-token"]').getAttribute('content')
    }
  }
</script>
