<style scoped lang="scss">
.drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 300px;
  font-family: sans-serif;
  padding: 20px;
}
.drop-area.highlight {
  border-color: purple;
}
</style>

<template>
  <div>
    <div class="container">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3>YENİ SİPARİŞ</h3>
          <grid-loader style="position:absolute;left:410px;top:10px;" :loading="is_loading"></grid-loader>
        </div>
        <div class="panel-body">
        <div class="alert alert-danger" v-if="!formValid">Lütfen Eksik Alanları Doldurunuz</div>
        <form class="form-horizontal" @submit.prevent="ekle()" @keydown="checkValid($event.target)">
        <div class="row" v-for="(orderproduct,key) in this.orderproducts">
          <div class="col-sm-7 col-xs-12">
            <label class="control-label col-xs-3">Kalite</label>
            <div class="form-group" :class="{'has-error':hasOpError('product_sku',key)}">
               <v-select label="name" :options="products" v-model="orderproduct.product" v-on:input="productSelected(orderproduct)">
                 <span slot="no-options">Aramanız ile eşleşen stok bulunamadı</span>
               </v-select>
            </div>
            <div class="form-group" v-show="false">
              <label class="control-label col-xs-3">Stok Kodu</label>
              <div class="col-xs-9">
                <input type="text" v-model="orderproduct.product_sku" class="form-control" readonly>
              </div>
            </div>
            <div class="form-group" v-show="false">
              <label class="control-label col-xs-3">Malın Cinsi</label>
              <div class="col-xs-9">
                <input type="text" v-model="orderproduct.product_name" class="form-control" readonly>
              </div>
            </div>
            <div class="form-group" :class="{'has-error':hasOpError('product_top',key)}">
              <label class="control-label col-xs-3">Top Seçiniz</label>
              <div class="col-xs-9">
                <select v-model="orderproduct.product_top"  class="form-control" @change="topSelected(orderproduct)">
                    <option v-for="(v,index) in orderproduct.toplar" :value="v" :key="index">{{v}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-3">En / Boy</label>
              <div class="col-xs-4" :class="{'has-error':hasOpError('product_width',key)}">
                <input type="number" v-model="orderproduct.product_width" :max="orderproduct.product_top" class="form-control" placeholder="En">
              </div>
              <div class="col-xs-4" :class="{'has-error':hasOpError('product_height',key)}">
                <input type="number" v-model="orderproduct.product_height" class="form-control" placeholder="Boy">
              </div>
            </div>
            <div class="form-group" :class="{'has-error':hasOpError('product_qty',key)}">
              <label class="control-label col-xs-3">Adet</label>
              <div class="col-xs-9">
                <input type="number" v-model="orderproduct.product_qty" min="1" class="form-control">
              </div>
            </div>
            <div class="form-group" :class="{'has-error':hasOpError('product_name',key)}">
              <label class="control-label col-xs-3">Açıklama</label>
              <div class="col-xs-9">
                <editable-textarea  v-model="orderproduct.product_desc"></editable-textarea>
              </div>
            </div>
            <div class="form-group" :class="{'has-error':hasOpError('product_options',key)}">
              <label class="control-label col-xs-3">Barkod Notu</label>
              <div class="col-xs-9">
                <input type="text" v-model="orderproduct.product_options" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-xs-12" :class="{'has-error':hasOpError('product_image',key)}">
            <label class="control-label col-xs-12" v-if="productimages.length && !orderproduct.product_image">Mevcut ürün ekleyin..</label>
             <v-select label="name" :options="productimages" v-model="orderproduct.mevcut_urun" v-on:input="mevcutEkle(orderproduct)">
                 <span slot="no-options">Aramanız ile eşleşen ürün bulunamadı</span>
            </v-select>
            <!-- <select v-model="orderproduct.mevcut_urun" class="form-control" @change="mevcutEkle(orderproduct)" v-if="productimages.length && !orderproduct.product_image">
              <option v-for="v in productimages" :value="v" :key="v.id">{{v.name}}</option>
            </select> -->
            <img v-if="orderproduct.product_image" :src="orderproduct.product_image" class="img img-responsive">
            <input type="text" v-if="orderproduct.yukleme_var" placeholder="Ürün kodu girerek ürünü kaydedebilirsiniz" class="form-control" v-model="orderproduct.mevcut_urun">
            <div  v-if="!orderproduct.product_image">
              <label class="control-label col-xs-12">Resim yükleyin..</label>
              <input type="file" @change="saveImage($event,orderproduct)" class="drop-area" accept="image/jpeg, image/png, image/webp">
            </div>
            <button class="btn btn-danger btn-xs pull-right" @click.prevent="urun_kaldir(key)">X</button>
          </div>
        </div>
        <button @click.prevent="yeniUrun" class="btn btn-info">Ürün Ekle</button>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
              <label class="control-label col-xs-12 red">Cari Seçiniz..</label>
              <v-select label="name" :options="customers" v-model="customer">
                 <span slot="no-options">Aramanız ile eşleşen cari bulunamadı</span>
               </v-select>
               <br>
              <div class="form-group" :class="{'has-error':hasOrderError('siparisalan')}">
                <label class="control-label col-xs-3">Sipariş Kanalı</label>
                <div class="col-xs-9">
                   <editable-select :options="kanallar" v-model="order.siparisalan"></editable-select>
                </div>
              </div>
              <div class="form-group" :class="{'has-error':hasOrderError('fatura_unvan')}">
                <label class="control-label col-xs-3">Cari Ünvan</label>
                <div class="col-xs-9">
                  <input type="text" v-model="order.fatura_unvan" class="form-control">
                </div>
              </div>
              <div class="form-group" :class="{'has-error':hasOrderError('fatura_adres')}">
                <label class="control-label col-xs-3">Fatura Adresi</label>
                <div class="col-xs-9">
                  <textarea v-model="order.fatura_adres" class="form-control"></textarea>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12" v-if="subcustomers.length>1">
              <div class="form-group">
                <label class="control-label col-xs-3">Alt Bayi Firma Seçiniz..</label>
                <v-select label="name" :options="subcustomers" v-model="subcustomer">
                  <span slot="no-options">Aramanız ile eşleşen firma bulunamadı</span>
                </v-select>
              </div>
              <div class="form-group" :class="{'has-error':hasOrderError('alici_firma')}">
                <label class="control-label col-xs-3">Alt Bayi Firma</label>
                <div class="col-xs-9">
                  <input type="text" v-model="order.alici_firma" class="form-control">
                </div>
              </div>
              <div class="form-group" :class="{'has-error':hasOrderError('alici_adsoyad')}">
                <label class="control-label col-xs-3">Alt Bayi Adı Soyadı</label>
                <div class="col-xs-9">
                  <input type="text" v-model="order.alici_adsoyad" class="form-control">
                </div>
              </div>
              <div class="form-group" :class="{'has-error':hasOrderError('alici_telefon')}">
                <label class="control-label col-xs-3">Alt Bayi Telefon</label>
                <div class="col-xs-9">
                  <input type="text" v-model="order.alici_telefon" class="form-control">
                </div>
              </div>
              <div class="form-group" :class="{'has-error':hasOrderError('il_adi')}">
                <label class="control-label col-xs-3">Alt Bayi Şehir</label>
                <div class="col-xs-9">
                  <input type="text" v-model="order.il_adi" class="form-control">
                </div>
              </div>
              <div class="form-group" :class="{'has-error':hasOrderError('semt_adi')}">
                <label class="control-label col-xs-3">Alt Bayi Semt</label>
                <div class="col-xs-9">
                  <input type="text" v-model="order.semt_adi" class="form-control">
                </div>
              </div>
              <div class="form-group" :class="{'has-error':hasOrderError('alici_adres')}">
                <label class="control-label col-xs-3">Alt Bayi Adres</label>
                <div class="col-xs-9">
                  <textarea v-model="order.alici_adres" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group" :class="{'has-error':hasOrderError('alici_adrestarifi')}">
                <label class="control-label col-xs-3">Alt Bayi Adres Tarifi</label>
                <div class="col-xs-9">
                  <input type="text" v-model="order.alici_adrestarifi" class="form-control">
                </div>
              </div>
            </div>
        </div>

              <div class="form-group">
                <button v-if="!is_loading" class="btn btn-danger btn-block" type="submit">EKLE</button>
              </div>
            </form>
          <button class="btn" @click="kapat()">İPTAL</button>
          </div>

          <label class="control-label col-xs-12" v-if="productimages.length==0"><a href="/bayi/urun">Daha hızlı sipariş vermek için buraya tıklayarak ürünlerinizi ekleyebilirsiniz.</a></label>
          </div>
    </div>
</div>
</template>

<script>
  import GridLoader from 'vue-spinner/src/GridLoader.vue'
  import EditableSelect from '../components/EditableSelect.vue'
  import EditableTextarea from '../components/EditableTextarea.vue'
  import { FileUploadService } from 'v-file-upload'

  export default {
    components: {
      GridLoader,
      EditableSelect,
      EditableTextarea
    },
    data: function () {
      return initialState();
    },
    methods: {
      urun_kaldir:function(key){
        if(confirm("Ürün kaldırılacak?")){
          this.orderproducts.splice(key,1)
        }
      },
      hasOpError: function (field,key) {
        if(Object.keys(this.errors).length !== 0){
          if(this.errors['orderproducts.'+key+'.'+field] !==undefined){
            return true;
          }
        }
        return false;
      },
      hasOrderError: function (field) {
        if(Object.keys(this.errors).length !== 0){
          if(this.errors['order.'+field] !==undefined){
            return true;
          }
        }
        return false;
      },
      kapat:function(){
        window.location.reload()
      },
      checkValid(e){
        if(Object.keys(this.errors).length !== 0){
          this.errors = {}
        }
      },
      ekle(){
        this.is_loading=true
        this.$http.put(this.api_link+'/v1/bayi/order',{order:this.order,orderproducts:this.orderproducts,customer:this.customer,subcustomer:this.subcustomer}).then((response)=>{
          if(response.status === 200){
            alert("Sipariş Eklendi")
            this.is_loading=false
            this.kapat()
          }
        },(error)=>{
          this.errors = error.body.errors
          this.is_loading=false
        })
      },
      populateSubCustomer(customer){
        if(customer === "undefined" || customer === null){
          return
        }
        this.order.gon_adsoyad = customer.name
        this.order.gon_cep = customer.mobile_phone
        this.order.fatura_unvan = customer.company_name
        this.order.fatura_adres = customer.address
        this.order.vergi_dairesi = customer.vergi_dairesi
        this.order.vergi_no = customer.vergi_no
        this.order.email = customer.email

        this.subcustomer = {}
        this.subcustomers = [{"name":"Lütfen Cari Seçiniz.."}]
        this.is_loading=true
        this.$http.get(this.api_link+'/v1/subcustomer/'+customer.id).then((response)=>{
          if(response.status === 200){
            this.subcustomers = response.body
            this.subcustomer = this.subcustomers[0]
            this.is_loading=false
            this.checkValid("")
          }
        },(error)=>{
          this.errors = error.body.errors
          this.is_loading=false
        })
      },
      yeniUrun(){
        this.orderproducts.push({
            product:products[0],
            product_sku:"JUNGLE",
            product_name:"JUNGLE",
            product_image:"",
            toplar:products[0].tops.split(","),
            product_top:"133",
            product_width:"133",
            product_height:"",
            product_options:"",
            product_price:"",
            product_tax:"",
            product_qty:1,
            cikis_tarihi:""
        })
      },
      productSelected(op){
        op.product_sku = op.product ? op.product.sku : op.product_sku
        op.product_name = op.product ? op.product.name : op.product_name
        op.toplar = op.product ? op.product.tops.split(",") : op.toplar
        op.product_top = op.toplar[0]
        op.product_width = op.product_top
        op.product_height = ""
        if(op.product_sku == 'KLOZET' || op.product_sku=='KLOZET2'){
          op.product_width = "150"
          op.product_height = "60"
        }
      },
      topSelected(op){
        op.product_width = op.product_top
      },
      saveImage(e,op) {
        let file = e.target.files[0];
        if(file.size>999999){
          alert(" Resim büyüklüğü 1mb altında olmalıdır");
          this.is_loading=false
          return;
        }
        let fileUpload = new FileUploadService(
          this.api_link+'/v1/bayi/order/upload',
          {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
          this.onProgress
        )
        fileUpload
          .upload(file)
          .then(e => {
            this.is_loading=false
            op.product_image = "/uploads/"+e.target.response.image
            op.yukleme_var=true
          })
          .catch(e => {
            alert(e.target.statusText+" Resim büyüklüğü 1mb altında olmalıdır")
            this.is_loading=false
          })
      },
      onProgress(e){
        this.is_loading=true
      },
      mevcutEkle(op){
        op.product_image = op.mevcut_urun.src
        op.mevcut_urun = op.mevcut_urun.name
      }
    },
    computed:{
      formValid:function(){
        return Object.keys(this.errors).length === 0
      }
    },
    watch: {
      customer: function () {
        this.populateSubCustomer(this.customer)
      },
      subcustomer: function(){
        this.order.alici_firma = this.subcustomer.company_name
        this.order.alici_adsoyad = this.subcustomer.name
        this.order.alici_telefon = this.subcustomer.mobile_phone
        this.order.il_adi = this.subcustomer.city
        this.order.semt_adi = this.subcustomer.semt
        this.order.alici_adres = this.subcustomer.address
      },
    },
    created:function(){
      //this.populateSubCustomer(this.customer)
    }
  }

</script>
