<style scoped>
.secili{
  background-color: #FFB6C1;
}
</style>

<template>
  <div>
    <div class="panel panel-warning" :class="{'modal-backdrop' : viewHareket}">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <form class="form-inline" @submit.prevent="cek()">
            <div class="form-group">
              <label for="tarih1">İlk Tarih</label>
              <editable-date v-model="secimData.tarih1"></editable-date>
            </div>
            <div class="form-group">
              <label for="tarih2">İkinci Tarih</label>
              <editable-date v-model="secimData.tarih2"></editable-date>
            </div>
             <select v-model="secimData.tip" class="form-control">
                <option v-for="option in options" :value="option.value">
                  {{ option.text }}
                </option>
              </select>
            <button type="submit" class="btn btn-danger">GÖSTER</button>
            <button class="btn btn-default" @click="secimData_temizle()">TEMİZLE</button>
            <label>
              <input type="checkbox" v-model="secimData.iptaliade"/> İptal İade
            </label>
          </form>
          </div>
          <div class="col-sm-6 hidden-xs">
            <button v-on:click="cikis_yazdir" class="btn btn-default pull-right">YAZDIR <i class="glyphicon  glyphicon-print"></i></button>
            <form class="form-inline" @submit.prevent="ara()">
                <input type="text" name="irsaliye_no" v-model="searchData.irsaliye_no" placeholder="Sipariş No"  class="form-control">
                <input type="text" name="mevcut_urun" v-model="searchData.mevcut_urun" placeholder="Ürün Kodu"  class="form-control">
                <button class="btn btn-danger" type="submit">ARA</button>
            </form>
            </div>
          </div>
      </div>
    </div>
    <div class="panel panel-warning" v-if="arama">
      <div class="panel-heading">
        ARAMA SONUÇLARI ({{veri.length}})
      </div>
    </div>
    <div class="panel panel-info" v-if="!arama">
      <div class="panel-heading">
        <a href="#" class="navbar-brand">TÜM SİPARİŞLER ({{veri.length}})</a>
        <button v-on:click="cek()" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-refresh"></i></button>
        <grid-loader style="position:absolute;left:350px;top:10px;" :loading="is_loading"></grid-loader>
      </div>
      <div class="panel-body">
       <span>İlk Tarih : <strong>{{secimData.tarih1}}</strong></span>
        <span>Son Tarih : <strong>{{secimData.tarih2}}</strong></span>
        <span v-show="secimData.order_number">Sipariş No:<strong>{{secimData.order_number}}</strong></span>
        <span v-show="secimData.status">Durum:<strong>{{durumlar[secimData.status]}}</strong></span>
        <span v-show="secimData.fatura_unvan">Bayi:<strong>{{secimData.fatura_unvan}}</strong></span>
        <span v-show="secimData.alici_adsoyad">Alt Bayi:<strong>{{secimData.alici_adsoyad}}</strong></span>
        <span v-show="secimData.siparisalan">Sipariş Alan:<strong>{{secimData.siparisalan}}</strong></span>
        <span v-show="secimData.payment">Ödeme:<strong>{{secimData.payment}}</strong></span>
        <span v-show="secimData.payment_ok">Ödeme Var mı:<strong>{{secimData.payment_ok}}</strong></span>
     </div>
   </div>
   <div class="panel panel-info">
    <div class="panel-body">
      <table class="table table-bordered table-condensed">
        <thead>
         <tr v-if="!arama">
          <th><input type="text" size="6" v-model="secimData.order_number" @change="cek(false)" class="form-control"></th>
          <th>
            <select v-model="secimData.status" style="width:50px;" @change="cek(false)" class="form-control">
               <option value="">..</option>
              <option v-for="(value,index) in durumlar" :value="index">
                {{ value }}
              </option>
            </select>
          </th>
          <th></th>
          <th>
            <select v-model="secimData.fatura_unvan" @change="cek(false)" class="form-control">
                <option v-for="option in option_fatura_unvan">
                  {{ option }}
                </option>
              </select>
          </th>
          <th>
            <select v-model="secimData.alici_adsoyad" @change="cek(false)" class="form-control">
                <option v-for="option in option_alici_adsoyad">
                  {{ option }}
                </option>
              </select>
          </th>
          <th></th>
          <th></th>
          <th></th>
          <th>
              <select v-model="secimData.siptar" @change="cek(false)" class="form-control">
                <option v-for="option in option_siptar">
                  {{ option }}
                </option>
              </select>
            </th>
            <th>
              <select v-model="secimData.cikis_tarihi" @change="cek(false)" class="form-control">
                <option v-for="option in option_cikis_tarihi">
                  {{ option }}
                </option>
              </select>
            </th>

        </tr>
        <tr v-if="arama">
          <th><input type="text" size="6" v-model="searchData.order_number" @change="ara(false)" class="form-control"></th>
          <th>
            <select v-model="searchData.status" style="width:50px;" @change="ara(false)" class="form-control">
               <option value="">..</option>
              <option v-for="(value,index) in durumlar" :value="index">
                {{ value }}
              </option>
            </select>
          </th>
          <th></th>
          <th>
            <select v-model="searchData.fatura_unvan" @change="ara(false)" class="form-control">
                <option v-for="option in option_fatura_unvan">
                  {{ option }}
                </option>
              </select>
          </th>
          <th>
            <select v-model="searchData.alici_adsoyad" @change="ara(false)" class="form-control">
                <option v-for="option in option_alici_adsoyad">
                  {{ option }}
                </option>
              </select>
          </th>
          <th></th>
          <th><input type="text" size="6" v-model="searchData.mevcut_urun" @change="ara(false)" class="form-control"></th>
          <th></th>
          <th>
              <select v-model="searchData.siptar" @change="ara(false)" class="form-control">
                <option v-for="option in option_siptar">
                  {{ option }}
                </option>
              </select>
            </th>
            <th>
              <select v-model="searchData.cikis_tarihi" @change="ara(false)" class="form-control">
                <option v-for="option in option_cikis_tarihi">
                  {{ option }}
                </option>
              </select>
            </th>

        </tr>
          <tr>
            <th></th>
            <th><a @click="setSort('status')" class="sort">Sipariş Durumu</a> <i v-if="secimData.sort=='status'" :class="sortClass"></i></th>
            <th>Resim</th>
            <th>Bayi</th>
            <th><a @click="setSort('alici_adsoyad')" class="sort">Alt Bayi</a> <i v-if="secimData.sort=='alici_adsoyad'" :class="sortClass"></i></th>
            <th>Top</th>
            <th><a @click="setSort('product_name')" class="sort">Ürün</a> <i v-if="secimData.sort=='product_name'" :class="sortClass"></i></th>
            <th>Miktar</th>
            <th>Sipariş Tarihi</th>
            <th>Çıkış Tarihi</th>

          </tr>
        </thead>
        <tbody>
        <tr v-for="op in veri" :id="op.id" v-on:contextmenu="openMenu(op,$event)" :class="{secili:op.id == op_id}">
          <td>
              <div class="btn-group">
                <a class="btn obtn" @click="showModal(op)" :class="op.irsaliye_no ? 'btn-danger':'btn-success'">
                  <!-- {{op.irsaliyesi.order_number}} -->
                  <span v-if="!op.irsaliye_no">_____</span>
                  <span v-if="op.irsaliye_no">{{op.irsaliye_no}}</span>
                </a>
              </div>
          </td>
          <td><label class="label" :class="labels[op.status]">{{durumlar[op.status]}}</label></td>
          <td><a v-if="op.product_image" :href="op.product_image.replace('uploads','uploads/org').replace('products','products/org')" target="_blank"><img :src="op.product_image" style="max-width:150px;max-height:70px;"></a></td>
          <td class="green">{{op.irsaliyesi.fatura_unvan}}</td>
          <td class="purple">{{op.alici_firma?op.alici_firma:op.alici_adsoyad}}</td>
          <td>{{op.product_top}} <strong v-if="op.stock">({{op.stock.product_top}}x{{op.stock.product_height}})</strong></td>
          <td>
            {{op.mevcut_urun}} {{op.product_name}} ({{op.product_width}}x{{op.product_height}})
          </td>
          <td>{{parseInt(op.product_qty)}} ad.</td>
          <td>{{op.irsaliyesi.siptar}} </td>
          <td>{{op.cikis_tarihi}} </td>
        </tr>
      </tbody>
      </table>

     </div>
     </div>

     <bayi-op-modal :op_id="op_id" v-if="op_id" @kapatilacak="orderModalKapat()"></bayi-op-modal>
     <hareket-modal v-if="viewHareket">
       <div v-html="hareket_data"></div>
       <slot name="footer">
         <button class="btn" @click="modalKapat()">KAPAT</button>
       </slot>
     </hareket-modal>

    <div class="right-click-menu" tabindex="-1" ref="right" v-if="viewMenu" v-on:blur="closeMenu"
     v-bind:style="{top:top, left:left}">
      <h4 class="text-center">{{order_number}}</h4>
       <ul>
          <li @click="modal_ac"><i class="glyphicon glyphicon-list"></i> Sipariş Detayı</li>
          <li @click="hareket_getir"><i class="glyphicon glyphicon-list"></i> Sipariş Hareketleri</li>
          <li @click="iptalet"><i class="glyphicon glyphicon-remove"></i> İptal Et</li>
      </ul>
    </div>
  </div>
</template>

<script>
  import GridLoader from 'vue-spinner/src/GridLoader.vue'
  import BayiOpModal from '../components/BayiOpModal.vue'
  import HareketModal from '../components/HareketModal.vue'
  import EditableDate from '../components/EditableDate.vue'
  export default {
    components: {
      GridLoader,
      BayiOpModal,
      HareketModal,
      EditableDate
    },
    data: function () {
    return {
        durumlar,
        labels,
        veri:{},
        api_link,
        pusher_channel,
        payments,
        colors,
        printHtml,

        modal_id:0,
        op_id:0,
        op2_id:0,
        irsaliye_no:"",
        hareket_data:"",
        arama:false,
        secimData:{tarih1,tarih2,tip:'siptar',iptaliade:false,order_number:"",status:"",fatura_unvan:"",alici_adsoyad:"",teslim_saati:"",ship:"",siparisalan:"",coupon_code:"",payment:"",payment_ok:"",sort:"created_at",direction:"desc"
        },
        options:[
          {text:'ÇIKIŞ TARİHİ',value:'cikis_tarihi'},
          {text:'SİPARİŞ TARİHİ',value:'siptar'}
        ],
        is_loading:true,
        user,
        searchData:{"iptaliade":true,"irsaliye_no":"","mevcut_urun":""},
        checkedIrs:[],
        viewMenu:false,
        viewHareket:false,
        top: '0px',
        left: '0px',
        order_number:"",
        option_fatura_unvan:[''],
        option_alici_adsoyad:[''],
        option_siptar:[''],
        option_cikis_tarihi:['']
      }
    },
    name: 'tum-page',
    methods: {
        secili:function(id,e){
          e.preventDefault()
          if(this.checkedIrs.indexOf(id) > -1){
            this.checkedIrs.splice(this.checkedIrs.indexOf(id),1);
          }else{
            this.checkedIrs.push(id);
          }
        },
        cek:function(on){
          this.veri={}
          this.arama = false
          this.is_loading=true
          this.op2_id = 0
          this.op_id = 0
          this.$http.post(this.api_link+'/v1/bayi/tum',this.secimData)
          .then((response) => {
            if(response.status==200){
              this.veri = response.body.tum
              this.irsaliye_no = response.body.irsaliye_no
              if(on){
                var a= this.option_alici_adsoyad = [''];
                var g= this.option_fatura_unvan = [''];
                var s= this.option_siptar = [''];
                var t= this.option_cikis_tarihi = [''];
              this.veri.forEach(function(op,k){

                  if(a.indexOf(op.alici_adsoyad) === -1){
                      a.push(op.alici_adsoyad);
                  }
                  if(g.indexOf(op.irsaliyesi.fatura_unvan) === -1){
                      g.push(op.irsaliyesi.fatura_unvan);
                  }
                  if(s.indexOf(op.irsaliyesi.siptar) === -1){
                      s.push(op.irsaliyesi.siptar);
                  }
                  if(t.indexOf(op.cikis_tarihi) === -1){
                      t.push(op.cikis_tarihi);
                  }
                })
              }
            }
            this.is_loading=false
          },(error)=>{
            alert("hata..")
          });
        },
        ara:function(){
          this.arama = true
          this.is_loading=true
          this.$http.post(this.api_link+'/v1/bayi/search',this.searchData)
          .then(function(response) {
            this.veri = response.body
            this.is_loading=false
            var a= this.option_alici_adsoyad = [''];
                var g= this.option_fatura_unvan = [''];
                var s= this.option_siptar = [''];
                var t= this.option_cikis_tarihi = [''];
              this.veri.forEach(function(op,k){

                if(a.indexOf(op.alici_adsoyad) === -1){
                    a.push(op.alici_adsoyad);
                }
                if(g.indexOf(op.irsaliyesi.fatura_unvan) === -1){
                    g.push(op.irsaliyesi.fatura_unvan);
                }
                if(s.indexOf(op.irsaliyesi.siptar) === -1){
                    s.push(op.irsaliyesi.siptar);
                }
                if(t.indexOf(op.cikis_tarihi) === -1){
                    t.push(op.cikis_tarihi);
                }
              })
          })
        },
        secimData_temizle:function(){
            this.secimData = {
              tarih1,tarih2,tip:'cikis_tarihi',iptaliade:false,order_number:"",status:"",fatura_unvan:"",alici_adsoyad:"",teslim_saati:"",ship:"",siparisalan:"",coupon_code:"",payment:"",payment_ok:"",sort:"updated_at",direction:""
          }
          this.searchData = {"iptaliade":true,"irsaliye_no":"","mevcut_urun":""}
          this.cek()
        },
        showModal:function(op){
          this.op_id = op.id
        },
        orderModalKapat:function(){
          this.cek()
          this.op_id = 0;
        },
        hareket_getir:function(){
          this.viewHareket = true;
          let op_id = this.op2_id;
          this.hareket_data = 'yükleniyor..';
          this.closeMenu();
          this.$http.post(this.api_link+'/v1/bayi/takip',{op_id:op_id})
          .then(function(response) {
            this.hareket_data = response.body;
          })
        },
        modal_ac:function(){

          this.closeMenu();
          this.op_id = this.modal_id;
        },
        iptalet:function(){
          let op_id = this.op2_id
          this.closeMenu();
          if(confirm("Sipariş iptal edilecek")){
            this.$http.put(this.api_link+'/v1/bayi/iptalet',{op_id:op_id})
            .then(function(response) {
              if(response.data=="1"){
                this.cek();
              }else{
                alert("Sipariş iptal edilemez..")
              }
            })
          }
        },
        modalKapat:function(){
          this.viewHareket = 0;
          this.hareket_data = "";
          this.op_id = 0;
        },
        setMenu: function(event) {
          this.top = (event.clientY - 100) + 'px';
          this.left = event.clientX  + 'px';
        },
        openMenu: function(op,e) {

            this.order_number = op.irsaliyesi.order_number;
            this.modal_id = op.id;
            this.op2_id = op.id;
            this.viewMenu = true;
            this.$nextTick(function() {
                this.$refs.right.focus();
                this.setMenu(e)
            });
            e.preventDefault();
        },
        closeMenu: function() {
          this.viewMenu = false
          this.op2_id = 0
        },
        pad:function(str, max) {
          str = str.toString();
          return str.length < max ? this.pad("0" + str, max) : str;
        },
        setSort:function(field){
          this.secimData.sort = field
          if(this.secimData.direction == "asc"){
            this.secimData.direction = "desc"
          }else if(this.secimData.direction == "desc"){
            this.secimData.direction = "asc"
          }else{
            this.secimData.direction = "asc"
          }
          this.cek()
        },
        cikis_yazdir:function(){
          let product_ids = []
          this.veri.forEach(function(op,k){
              product_ids.push(op.id)
          })
          this.closeMenu();
          this.$http
          .post(this.api_link+'/v1/bayi/print/cikis',{product_ids:product_ids})
          .then(function(response) {
                this.printHtml(response.body);
                let products = this.veri.products
                this.checkedPrd.forEach(function(v,k){
                  var io = products.find(item => item.id === v);
                  io.irsaliye_no = "ok"
                });
                this.checkedPrd.forEach(function(op,k){
                      console.log(op)
                })
            });
        },
    },
    computed:{
      sortClass:function(){
        if(this.secimData.direction=='asc'){
          return 'glyphicon glyphicon-arrow-down'
        }else{
          return 'glyphicon glyphicon-arrow-up'
        }
      }
    },
    created:function(){
      this.cek(true);
    }
  }
</script>
