<style scoped>

</style>

<template>

<div>
    <div class="panel panel-danger">
      <div class="panel-heading">
        CARİLER  ({{customers.length}}) &nbsp;&nbsp;&nbsp;&nbsp;
        <span v-if="arama">
           <h4>ARAMA SONUÇLARI</h4>
        </span>
        <grid-loader style="position:absolute;left:380px;top:10px;" :loading="is_loading"></grid-loader>
        <button class="btn btn-warning" @click="yeni_cari=true">YENİ CARİ</button>
      </div>

    <div  class="panel-body">

      <table class="table table-bordered table-condensed">
        <thead>
           <tr v-if="!arama">
              <th>&nbsp;</th>
              <th>
                <input type="text" class="form-control" v-model="secimData.firmakodu" @change="cek" placeholder="Firma Kodu">
              </th>
              <th>
                <input type="text" class="form-control" v-model="secimData.name" @change="cek" placeholder="Firma Adı">
              </th>
              <th>
                <input type="text" class="form-control" v-model="secimData.company_name" @change="cek" placeholder="Ünvan">
              </th>
              <th>
                <input type="text" class="form-control" v-model="secimData.work_phone" @change="cek">
              </th>
              <th>
                <input type="text" class="form-control" v-model="secimData.mobile_phone" @change="cek">
              </th>
              <th>
                <input type="text" class="form-control" v-model="secimData.email" @change="cek">
              </th>
              <th>
                <select v-model="secimData.active" style="width:50px;" @change="cek">
                   <option value="">..</option>
                  <option value="0">KAPALI</option>
                  <option value="1">AÇIK</option>
                </select>
              </th>
              <th>&nbsp;</th>
            </tr>
          <tr>
            <th>No</th>
            <th>Cari Kodu</th>
            <th>Cari Adı</th>
            <th>Cari Ünvan</th>
            <th>Tel</th>
            <th>Gsm</th>
            <th>Eposta</th>
            <th>Durum</th>
            <th>Alt Bayiler</th>
          </tr>
        </thead>
        <tbody>
        <tr v-for="cari in customers.data" :id="cari.id">
          <td>
              {{cari.id}}
          </td>
          <td>
             {{cari.firmakodu}}
          </td>
          <td>
            <editable-text v-model="cari.name" @changed="degisti(cari)"></editable-text>
          </td>
          <td>
              <editable-text v-model="cari.company_name" @changed="degisti(cari)"></editable-text>
          </td>
          <td>
            <editable-text v-model="cari.work_phone" @changed="degisti(cari)"></editable-text>
          </td>
          <td>
            <editable-text v-model="cari.mobile_phone" @changed="degisti(cari)"></editable-text>
          </td>
          <td>
            <editable-text v-model="cari.email" @changed="degisti(cari)"></editable-text>
          </td>
          <td>
            <input
                type="checkbox"
                v-model="cari.active"
                v-bind:true-value=1
                v-bind:false-value=0
                @change="degisti(cari)"
            >
          </td>
          <td>{{cari.altbayiler}}</td>
        </tr>
      </tbody>
      </table>
      <pagination :data="customers" @pagination-change-page="cek"></pagination>
     </div>
    </div>
    <cari-modal v-if="yeni_cari" @kapatilacak="yeniModalKapat()"></cari-modal>
  </div>
</template>

<script>
  import GridLoader from 'vue-spinner/src/GridLoader.vue'
  import CariModal from '../components/CariModal.vue'
  import EditableText from '../components/EditableText.vue'
  import EditableSelect from '../components/EditableSelect.vue'
  import pagination from 'laravel-vue-pagination'

  export default {
    components: {
      GridLoader,
      EditableText,
      EditableSelect,
      CariModal,
      pagination
    },
    data: function () {
    return {
        api_link,
        pusher_channel,
        customers,
        cari_id:0,
        user,
        viewMenu:false,
        arama:false,
        top: '0px',
        left: '0px',
        is_loading:false,
        yeni_cari:false,
        secimData:{
            firmakodu:"",
            name:"",
            company_name:"",
            work_phone:"",
            mobile_phone:"",
            email:"",
            username:"",
            active:"1"
        }
      }
    },
    name: 'cari-page',
    methods: {

        cek:function(page=1){
          this.customers={}
          this.arama=false
          this.is_loading=true
          this.$http.post(this.api_link+'/v1/cari?page='+page,this.secimData)
          .then((response) => {
            if(response.status==200){
              this.customers = response.body
            }
            this.is_loading=false
          },(error)=>{
            if(error.status ==401){
              this.$localStorage.remove("user")
              this.$router.push('/login')
            }
          });
        },
        degisti:function(cari){
          this.is_loading=true
          this.$http.patch(this.api_link+'/v1/cari/'+cari.id,cari)
          .then((response) => {
            this.is_loading=false
          },(error)=>{
            if(error.status ==401){
              this.$localStorage.remove("user")
              this.$router.push('/login')
            }
          });
        },
        temizle:function(){
          this.checkedIrs = []
        },
        yeniModalKapat:function(){
          this.yeni_cari = false
          this.cek()
        }
    },
    created:function(){

    }
  }
</script>
