<style scoped>
.secili{
  background-color: #fef088;
}
</style>

<template>
<div>
    <div class="panel panel-info">
      <div class="panel-heading">
        ETİKETİ BASILACAK SİPARİŞLER <span v-if="veri">({{veri.length}})</span>
        <button v-on:click="cek(false)" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-refresh"></i></button>
        <button v-on:click="hepsiniSec" class="btn btn-default btn-circle"><i class="glyphicon  glyphicon-flash"></i></button>
        <button v-on:click="etiket_yazdir" class="btn btn-default" :disabled="checkedIrs.length==0">ETİKET <i class="glyphicon  glyphicon-print"></i></button>
        <button @click="temizle()" class="btn btn-default" style="margin-left:10px;" title="TEMİZLE"><i class="glyphicon glyphicon-remove"></i></button>
        <grid-loader style="position:absolute;left:380px;top:10px;" :loading="is_loading"></grid-loader>

        <div class="pull-right form-inline" v-if="false">
            <button class="btn btn-danger" :disabled="checkedIrs.length==0" @click="cikisa"> ÇIKIŞA AL</button>
        </div>
        <form class="form-inline pull-right" @submit.prevent="ara(true)">
              <!-- <input type="text" name="top_number" v-model="searchData.top_number" placeholder="Top No"  class="form-control"> -->
              <input type="text" name="order_number" v-model="searchData.order_number" placeholder="Sipariş No"  class="form-control">
              <input type="text" name="fatura_unvan" v-model="searchData.fatura_unvan" placeholder="Bayi"  class="form-control">
              <button class="btn btn-danger" type="submit" :disabled="searchData.top_number==undefined && searchData.order_number==undefined && searchData.fatura_unvan==undefined">ARA</button>
        </form>
        <br>
        <br>
          <div class="input-group" v-if="!arama">
            <input type="text" class="form-control" placeholder="TOP NUMARASI" v-model="secimData.top_number">
            <span class="input-group-btn">
                <button class="btn btn-default" @click="cek(true)" :disabled="secimData.top_number==''">GETİR</button>
            </span>
          </div>
      </div>

    <div class="panel-body" v-if="veri">
      <div class="panel panel-warning" v-if="arama">
        <div class="panel-heading">
          ARAMA SONUÇLARI ({{veri.length}})
        </div>
      </div>
      <table class="table table-bordered">
       <thead>
           <tr v-if="!arama">
            <th><input type="text" size="6" v-model="secimData.order_number" @change="cek(false)" class="form-control" placeholder="No"></th>
            <th></th>
            <th></th>
            <th>
              <select v-model="secimData.mevcut_urun" @change="cek(false)" class="form-control" v-if="option_mevcut_urun">
                <option v-for="option in option_mevcut_urun">
                  {{ option }}
                </option>
              </select>
             </th>
            <th>
              <select v-model="secimData.product_name" @change="cek(false)" class="form-control" v-if="option_names">
                <option v-for="option in option_names">
                  {{ option }}
                </option>
              </select>
            </th>
           <th>
             <select v-model="secimData.top_id" @change="cek(false)" class="form-control" v-if="option_tops">
               <option v-for="option in option_tops" :value="option">
                {{ top_names[option] }}
              </option>
            </select>
          </th>
          <th>
             <select v-model="secimData.product_top" @change="cek(false)" class="form-control" v-if="option_product_tops">
               <option v-for="option in option_product_tops" :value="option">
                {{ option }}
              </option>
            </select>
          </th>
          <th>
             <select v-model="secimData.product_width" @change="cek(false)" class="form-control" v-if="option_product_widths">
               <option v-for="option in option_product_widths" :value="option">
                {{ option }}
              </option>
            </select>
          </th>
          <th></th>
          <th></th>
           <th>
              <select v-model="secimData.product_desc" @change="cek(false)" class="form-control" v-if="option_product_desc">
                <option v-for="option in option_product_desc">
                  {{ option }}
                </option>
              </select>
            </th>
            <th>
              <select v-model="secimData.siptar" @change="cek(false)" class="form-control" v-if="option_siptar">
                <option v-for="option in option_siptar">
                  {{ option }}
                </option>
              </select>
            </th>
            <th>
              <select v-model="secimData.cikis_tarihi" @change="cek(false)" class="form-control">
                <option v-for="option in option_cikis_tarihi">
                  {{ option }}
                </option>
              </select>
            </th>

            <th>
              <select v-model="secimData.fatura_unvan" @change="cek(false)" class="form-control">
                <option v-for="option in option_fatura_unvan">
                  {{ option }}
                </option>
              </select>
            </th>
            <th>
              <input type="text" size="6" v-model="secimData.alici_adsoyad" @change="cek(false)" class="form-control" placeholder="Alt Bayi">
            </th>

          </tr>
          <tr v-if="arama">
            <th><input type="text" size="6" v-model="searchData.order_number" @change="ara(false)" class="form-control" placeholder="No"></th>
            <th></th>
            <th></th>
            <th>
              <select v-model="searchData.mevcut_urun" @change="ara(false)" class="form-control" v-if="option_mevcut_urun">
                <option v-for="option in option_mevcut_urun">
                  {{ option }}
                </option>
              </select>
             </th>
            <th>
              <select v-model="searchData.product_name" @change="ara(false)" class="form-control" v-if="option_names">
                <option v-for="option in option_names">
                  {{ option }}
                </option>
              </select>
            </th>
           <th>
             <select v-model="searchData.top_id" @change="ara(false)" class="form-control" v-if="option_tops">
               <option v-for="option in option_tops" :value="option">
                {{ top_names[option] }}
              </option>
            </select>
          </th>
           <th>
             <select v-model="searchData.product_top" @change="ara(false)" class="form-control" v-if="option_product_tops">
               <option v-for="option in option_product_tops" :value="option">
                {{ option }}
              </option>
            </select>
          </th>
          <th>
             <select v-model="searchData.product_width" @change="ara(false)" class="form-control" v-if="option_product_widths">
               <option v-for="option in option_product_widths" :value="option">
                {{ option }}
              </option>
            </select>
          </th>
          <th></th>
          <th></th>
           <th>
              <select v-model="searchData.product_desc" @change="ara(false)" class="form-control" v-if="option_product_desc">
                <option v-for="option in option_product_desc">
                  {{ option }}
                </option>
              </select>
            </th>
            <th>
              <select v-model="searchData.siptar" @change="ara(false)" class="form-control" v-if="option_siptar">
                <option v-for="option in option_siptar">
                  {{ option }}
                </option>
              </select>
            </th>
            <th>
              <select v-model="searchData.cikis_tarihi" @change="ara(false)" class="form-control">
                <option v-for="option in option_cikis_tarihi">
                  {{ option }}
                </option>
              </select>
            </th>

            <th>
              <select v-model="searchData.fatura_unvan" @change="ara(false)" class="form-control">
                <option v-for="option in option_fatura_unvan">
                  {{ option }}
                </option>
              </select>
            </th>
            <th>
              <input type="text" size="6" v-model="searchData.alici_adsoyad" @change="ara(false)" class="form-control" placeholder="Alt Bayi">
            </th>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Kod</th>
            <th>Kalite</th>
            <th><a @click="setSort('top_id')" class="sort">Top No</a> <i v-if="secimData.sort=='top_id'" :class="sortClass"></i></th>
            <th>Top</th>
            <th>Ölçü</th>
            <th>Miktar</th>
            <th>Okunan</th>
            <th>Müşteri Notu</th>
            <th>Sipariş Tarihi</th>
            <th>Çıkış Tarihi</th>
            <th>Bayi</th>
            <th><a @click="setSort('alici_adsoyad')" class="sort">Alt Bayi</a> <i v-if="secimData.sort=='alici_adsoyad'" :class="sortClass"></i></th>

          </tr>
        </thead>
        <tbody>
        <tr v-for="op in veri" :id="op.id" :class="{secili:checkedIrs.indexOf(op.id)>-1}" v-on:contextmenu="openMenu(op,$event)" @mousedown="startDrag" @mousemove="doDrag(op.id,$event)" @click.stop="secili(op.id,$event)">
          <td>
              <div class="btn-group">
                <a class="btn obtn" @click="showModal(op)" :class="op.irsaliye_no ? 'btn-danger':'btn-success'">
                  <i class="icon-edit"></i>
                  <!-- {{op.irsaliyesi.order_number}} -->
                  <span v-if="!op.irsaliye_no">_____</span>
                  <span v-if="op.irsaliye_no">{{op.irsaliye_no}}</span>
                </a>
                <h4>{{op.irsaliye_no}}</h4>
              </div>
          </td>
          <td><label class="label" :class="labels[op.status]">{{durumlar[op.status]}}</label></td>
          <td><a v-if="op.product_image" :href="op.product_image.replace('uploads','uploads/org').replace('products','products/org')" target="_blank"><img :src="op.product_image" style="max-width:150px;max-height:70px;"></a></td>
          <td>{{op.mevcut_urun}}</td>
          <td>{{op.product_sku}} {{op.product_name}}
          </td>
          <td>{{top_names[op.top_id]}}</td>
          <td>{{op.product_top}}</td>
          <td>{{op.product_width}}x{{op.product_height}}</td>
          <td class="text-right">{{parseInt(op.product_qty)}} </td>
          <td>{{op.okunan ? op.okunan.split(",").length : ""}} </td>
          <td class="red">{{op.product_desc}}</td>
          <td>{{op.irsaliyesi.siptar}} </td>
          <td>{{op.cikis_tarihi}} </td>
          <td class="green">{{op.irsaliyesi.fatura_unvan}} </td>
          <td class="purple">{{op.alici_firma?op.alici_firma:op.alici_adsoyad}}</td>
        </tr>
      </tbody>
      <tfoot>
         <tr>
            <th colspan="7"></th>
            <th class="text-right"><strong>{{totalItem}}</strong></th>
            <th colspan="6"></th>
         </tr>
      </tfoot>
      </table>
     </div>

     </div>

      <irsaliye-modal :order_id="order_id" v-if="order_id" @kapatilacak="orderModalKapat()"></irsaliye-modal>
      <div class="right-click-menu" tabindex="-1" ref="right" v-if="viewMenu" v-on:blur="closeMenu"
     v-bind:style="{top:top, left:left}">
      <h4 class="text-center">{{irsaliye_number}}</h4>
       <ul>
          <li @click="etiket_yazdir"><i class="glyphicon glyphicon-print"></i> Etiket Yazdır</li>
          <li @click="cikmadi"><i class="glyphicon glyphicon-ban-circle"></i> Ürün Çıkmadı</li>
          <li @click="hatali"><i class="glyphicon glyphicon-alert"></i> Ürün Hatalı</li>
      </ul>
    </div>
  </div>
</template>

<script>
  import GridLoader from 'vue-spinner/src/GridLoader.vue'
  import IrsaliyeModal from '../components/IrsaliyeModal.vue'

  export default {
    components: {
      GridLoader,
      IrsaliyeModal
    },
    data: function () {
    return {
        veri:{},
        searchData:{"only_top":1},
        arama:false,
        api_link,
        pusher_channel,
        colors,
        printHtml,
        order_id:0,
        irsaliye_no:"",
        irsaliye_number:"",
        op_id:0,
        dagitimvar:0,
        is_loading:false,
        user,
        payments,
        checkedIrs:[],
        viewMenu:false,
        top: '0px',
        left: '0px',
        secimData,
        dragging:false,
        currentDragId:0,
        option_tops:[''],
        option_product_tops:[''],
        option_product_widths:[''],
        option_names:[''],
        option_fatura_unvan:[''],
        option_mevcut_urun:[''],
        option_product_desc:[''],
        option_bize_mesaj:[''],
        option_siptar:[''],
        option_cikis_tarihi:[''],
        oku:"",
        top_names,
        durumlar,
        labels
      }
    },
    name: 'uretilen-page',
    methods: {
        startDrag() {
          this.dragging = true;
        },
        stopDrag() {
          this.dragging = false;
          this.currentDragId = 0;
        },
        doDrag(id,e) {
          e.preventDefault()
          if (this.dragging && this.currentDragId !== id) {
            if(this.checkedIrs.indexOf(id) > -1){
              this.checkedIrs.splice(this.checkedIrs.indexOf(id),1);
            }else{
              this.checkedIrs.push(id);
            }
            this.currentDragId = id
          }
        },
        secili:function(id,e){
          if(e.target.nodeName=='A' || e.target.nodeName=='IMG'){
            return;
          }
          e.preventDefault()
          if(this.checkedIrs.indexOf(id) > -1){
            this.checkedIrs.splice(this.checkedIrs.indexOf(id),1);
          }else{
            this.checkedIrs.push(id);
          }
        },
        cek:function(on){
          if(this.secimData.top_number==""){
            return false;
          }
          this.is_loading=true
          this.$http.post(this.api_link+'/v1/top_transfer',this.secimData)
          .then((response) => {
            if(response.status==200){
              this.veri = response.body
              if(on){
                var o = this.option_tops = [''];
                var p = this.option_product_tops = [''];
                var w = this.option_product_widths = [''];
                var n= this.option_names = [''];
                var g= this.option_fatura_unvan = [''];
                var m= this.option_mevcut_urun = [''];
                var b= this.option_product_desc = [''];
                var s= this.option_siptar = [''];
                var t= this.option_cikis_tarihi = [''];
                this.veri.forEach(function(op,k){
                  if(o.indexOf(op.top_id) === -1){
                      o.push(op.top_id);
                  }
                  if(p.indexOf(op.product_top) === -1){
                      p.push(op.product_top);
                  }
                  var width = op.product_width+"x"+op.product_height;
                  if(w.indexOf(width) === -1){
                      w.push(width);
                  }
                  if(n.indexOf(op.product_name) === -1){
                      n.push(op.product_name);
                  }
                  if(g.indexOf(op.irsaliyesi.fatura_unvan) === -1){
                      g.push(op.irsaliyesi.fatura_unvan);
                  }
                  if(m.indexOf(op.mevcut_urun) === -1){
                      m.push(op.mevcut_urun);
                  }
                  if(b.indexOf(op.product_desc) === -1){
                      b.push(op.product_desc);
                  }
                  if(s.indexOf(op.irsaliyesi.siptar) === -1){
                      s.push(op.irsaliyesi.siptar);
                  }
                  if(t.indexOf(op.cikis_tarihi) === -1){
                      t.push(op.cikis_tarihi);
                  }
                })
              }
            }
            this.is_loading=false
          },(error)=>{

            if(error.status=='404'){
              this.veri={}
              alert("Numara hatalı.. Top bulunamadı..")
            }else{
              alert("Hata! Tekrar giriş yapınız")
              location.reload()
            }
            this.is_loading=false
          });
        },
        ara:function(on){
          if(this.searchData.top_number==undefined && this.searchData.order_number==undefined && this.searchData.fatura_unvan==undefined){
            alert("arama sözcüğü girmediniz!")
            return ""
          }
          this.arama = true
          this.is_loading=true
          this.$http.post(this.api_link+'/v1/search',this.searchData)
          .then(function(response) {
            if(response.body.length>0){
              this.veri = response.body
              if(on){
                var o = this.option_tops = [''];
                var p = this.option_product_tops = [''];
                var w = this.option_product_widths = [''];
                var n= this.option_names = [''];
                var g= this.option_fatura_unvan = [''];
                var m= this.option_mevcut_urun = [''];
                var b= this.option_product_desc = [''];
                var s= this.option_siptar = [''];
                var t= this.option_cikis_tarihi = [''];
                this.veri.forEach(function(op,k){
                  if(o.indexOf(op.top_id) === -1){
                      o.push(op.top_id);
                  }
                  if(p.indexOf(op.product_top) === -1){
                      p.push(op.product_top);
                  }
                  var width = op.product_width+"x"+op.product_height;
                  if(w.indexOf(width) === -1){
                      w.push(width);
                  }
                  if(n.indexOf(op.product_name) === -1){
                      n.push(op.product_name);
                  }
                  if(g.indexOf(op.irsaliyesi.fatura_unvan) === -1){
                      g.push(op.irsaliyesi.fatura_unvan);
                  }
                  if(m.indexOf(op.mevcut_urun) === -1){
                      m.push(op.mevcut_urun);
                  }
                  if(b.indexOf(op.product_desc) === -1){
                      b.push(op.product_desc);
                  }
                  if(s.indexOf(op.irsaliyesi.siptar) === -1){
                      s.push(op.irsaliyesi.siptar);
                  }
                  if(t.indexOf(op.cikis_tarihi) === -1){
                      t.push(op.cikis_tarihi);
                  }
                })
              }
            }else{
              this.veri = {}
            }
            this.is_loading=false
          },(error)=>{
            this.is_loading=false
          });
        },
        eklendi:function(order_id){
          this.cek(false)
        },
        dagit:function(){

            if(this.checkedIrs.length>0){
              this.cikisa();
            }else{
              alert("Lütfen seçim yapınız..")
            }
            this.closeMenu();

        },
        cikisa:function(){
          this.is_loading=true
            let checkedIrs = this.checkedIrs
            this.$http.put(this.api_link+'/v1/cikisa',{checkedIrs}).then((response)=>{
              if(response.status == 200){
                this.cek(false)
                 this.is_loading=false
              }else{
                alert("Bir problem oluştu, lütfen tekrar deneyiniz..");
                 this.is_loading=false
              }
            });
        },
        uretilendenCikar:function(checkedIrs){
          var indexRemove;
          var i = 0;
          var uretilmis = this.veri;
          checkedIrs.forEach(function(v,k){
            var io = uretilmis.findIndex(item => item.id === v);
            if(io>-1){
              uretilmis.splice(io, 1);
            }
          });
          this.veri = uretilmis

        },
        cikmadi:function(){
          let op_id = this.op_id
          this.closeMenu();
          if(confirm("Bu sipariş çıkmadı")){
            this.$http.put(this.api_link+'/v1/cikmadi',{op_id})
            .then(function(response) {
              this.cek();
            })
          }
        },
        hatali:function(){
          let op_id = this.op_id
          this.closeMenu();
          if(confirm("Bu sipariş hatalı")){
            this.$http.put(this.api_link+'/v1/hatali',{op_id})
            .then(function(response) {
              this.cek();
            })
          }
        },
        showModal:function(op){
          this.order_id = op.irsaliyesi.id
        },
        orderModalKapat:function(){
          this.order_id = 0;
        },
        setMenu: function(event) {
          this.top = (event.clientY - 100) + 'px';
          this.left = event.clientX  + 'px';
        },
        openMenu: function(op,e) {
            if(e.target.nodeName==='H4'){
              return;
            }
            this.irsaliye_number = op.irsaliye_no;
            this.op_id = op.id;

            this.checkedIrs = []
            this.checkedIrs.push(this.op_id);
            //this.order_id = op.irsaliyesi.id;
            this.viewMenu = true;
            this.$nextTick(function() {
                this.$refs.right.focus();
                this.setMenu(e)
            });
            e.preventDefault();
        },
        closeMenu: function() {
          this.viewMenu = false;
        },

        etiket_yazdir:function(){
          var t = this
          t.closeMenu();
          var printData = []
          t.veri.forEach(function(op,k){
            if(t.checkedIrs.indexOf(op.id) !== -1){
                for(var adet=1;adet<=op.product_qty;adet++){

                  var barkod_no = op.irsaliye_no+"-"+adet;
                  //var aciklama = op.irsaliyesi.bize_mesaj ? t.karakter(op.irsaliyesi.bize_mesaj.substring(0,50)) : "";
                  var aciklama = op.product_options ? t.karakter(op.product_options.substring(0,50)) : "";
                  var mevcut_urun = op.mevcut_urun+" "+op.product_width+"x"+op.product_height
                  var cari = t.karakter(op.irsaliyesi.fatura_unvan.substring(0,50));

                  printData.push({barkod_no:barkod_no,product_top:op.product_top,product_sku:op.product_sku,aciklama:aciklama,mevcut_urun:mevcut_urun,cari:cari,stok_kodu:op.stok_kodu})
                }
            }
          })
          t.dagit()
          t.printEtiket(printData)

        },
        pad:function(str, max) {
        str = str.toString();
        return str.length < max ? this.pad("0" + str, max) : str;
        },
        temizle:function(){
          this.secimData = {order_number:"",bize_mesaj:"",semt_adi:"",fatura_unvan:"",alici_adsoyad:"",product_name:"",teslim_saati:"",kargo:"",siparisalan:"",payment:"",payment_ok:"",sort:"created_at",direction:"desc",top_number:this.secimData.top_number,"only_top":1}
          this.searchData = {order_number:"",bize_mesaj:"",semt_adi:"",fatura_unvan:"",alici_adsoyad:"",product_name:"",teslim_saati:"",kargo:"",siparisalan:"",payment:"",payment_ok:"",sort:"created_at",direction:"desc",top_number:this.secimData.top_number};
          this.checkedIrs = []
          this.arama=false
          if(this.secimData.top_number){
            this.cek(false)
          }else{
            this.veri = {}
          }
        },
        hepsiniSec:function(){
          let secili = this.checkedIrs
          this.veri.forEach(function(op,k){
            if(secili.indexOf(op.id) === -1){
                secili.push(op.id);
            }
          })
        },
        setSort:function(field){
          this.secimData.sort = field
          if(this.secimData.direction == "asc"){
            this.secimData.direction = "desc"
          }else if(this.secimData.direction == "desc"){
            this.secimData.direction = "asc"
          }else{
            this.secimData.direction = "asc"
          }
          this.cek(false)
        },
        printEtiket:function(printData){
          var data = []
          printData.forEach(function(item){

                data.push('c0000\n');
                data.push('KI501\n');
                data.push('O0220\n');
                data.push('f220\n');
                data.push('KW0278\n');
                data.push('KI7\n');
                data.push('V0\n');
                data.push('L\n');
                data.push('H12\n');
                data.push('PC\n');
                data.push('A2\n');
                data.push('D11\n');
                data.push('1a4205100840083'+item.barkod_no+'\n');
                data.push('121100000260129'+item.aciklama+'\n');
                data.push('121100000390129'+item.mevcut_urun+'\n');
                data.push('131100000520129'+item.cari+'\n');
                data.push('1a6204800200011'+item.stok_kodu+'\n');
                data.push('141100000830011'+item.product_top+'\n');
                data.push('141100001040011'+item.product_sku+'\n');
                data.push('191100200710128'+item.barkod_no+'\n');
                data.push('191100200040031'+item.stok_kodu+'\n');
                data.push('^01\n');
                data.push('Q0001\n');
                data.push(':0001\n');
                data.push('E\n');

          });

          var config = qz.configs.create("argoxUSB");

          qz.print(config, data).catch(displayError);

        },
        karakter:function(str){
          return str.replace('Ğ','G')
            .replace('Ü','U')
            .replace('Ş','S')
            .replace('İ','I')
            .replace('Ö','O')
            .replace('Ç','C')
            .replace('ğ','g')
            .replace('ü','u')
            .replace('ş','s')
            .replace('ı','i')
            .replace('ö','o')
            .replace('ç','c');
        }
    },
    computed:{
      sortClass:function(){
        if(this.secimData.direction=='asc'){
          return 'glyphicon glyphicon-arrow-down'
        }else{
          return 'glyphicon glyphicon-arrow-up'
        }
      },
      totalItem: function(){
        let sum = 0;
        if(this.veri.length){
          this.veri.forEach(function(item) {
            sum += parseFloat(item.product_qty);
          });
        }

        return sum;
      }
    },
    created:function(){
      //
    },
    mounted() {
      window.addEventListener('mouseup', this.stopDrag);
    }
  }
</script>
