<style scoped>

.rotate {
    padding: 0;
    width: 10px;
    margin-right:10px;
    z-index: 15;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform-origin: center left;
}
</style>

<template>

<div>
  <div class="panel panel-danger" :class="{'modal-backdrop' : viewHareket}">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <form class="form-inline" @submit.prevent="cek()">
            <div class="form-group">
              <label for="tarih1">İlk Tarih</label>
              <editable-date v-model="secimData.tarih1"></editable-date>
            </div>
            <div class="form-group">
              <label for="tarih2">İkinci Tarih</label>
              <editable-date v-model="secimData.tarih2"></editable-date>
            </div>
             <select v-model="secimData.tip" class="form-control">
                <option v-for="option in options" :value="option.value">
                  {{ option.text }}
                </option>
              </select>
            <button type="submit" class="btn btn-danger">GÖSTER</button>
            <button class="btn btn-default" @click="secimData_temizle()">TEMİZLE</button>
            <label>
              <input type="checkbox" v-model="secimData.iptaliade"/> İptal İade
            </label>
          </form>
          </div>
          <div class="col-sm-6 hidden-xs">
            <form class="form-inline" @submit.prevent="ara()">
                <input type="text" name="order_number" v-model="searchData.order_number" placeholder="Sipariş No"  class="form-control">
                <input type="text" name="gon_adsoyad" v-model="searchData.gon_adsoyad" placeholder="Bayi Adı"  class="form-control">
                <input type="text" name="alici_adsoyad" v-model="searchData.alici_adsoyad" placeholder="Alt Bayi Adı"  class="form-control">
                <input type="text" name="coupon_code" v-model="searchData.coupon_code" placeholder="Kupon Kodu"  class="form-control">
                <input type="text" name="fatura_no" v-model="searchData.fatura_no" placeholder="Fatura No"  class="form-control">
                <button class="btn btn-danger" type="submit">ARA</button>
            </form>
            </div>
          </div>
      </div>
    </div>


    <div class="panel panel-danger">
      <div class="panel-heading">
        FATURALAR  ({{veri.length}}) &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" v-model="fat_no" size="7">
        <span v-if="arama">
           <h4>ARAMA SONUÇLARI</h4>
        </span>
        <div class="pull-right">{{rawprinter}}</div>
      </div>

    <div  class="panel-body">
      <table class="table table-bordered table-condensed">
        <thead>
           <tr v-if="!arama">
              <th><input type="text" size="6" v-model="secimData.order_number" @change="cek" class="form-control"></th>
              <th><input type="text" size="6" v-model="secimData.fatura_no" @change="cek" class="form-control"></th>

              <th>
                <select v-model="secimData.payment" style="width:50px;" @change="cek" class="form-control">
                   <option value="">..</option>
                  <option v-for="(value,index) in payments" :value="index">
                    {{ value }}
                  </option>
                </select>
              </th>
              <th>
                <select v-model="secimData.payment_ok" style="width:50px;" @change="cek" class="form-control">
                   <option value="">..</option>
                  <option value="0">ALINMADI</option>
                  <option value="1">ALINDI</option>
                </select>
              </th>
              <th>
                <input type="text" size="6" v-model="secimData.total" @change="cek" class="form-control">
              </th>
              <th>
                <input type="text" size="6" v-model="secimData.shipping" @change="cek" class="form-control">
              </th>
              <th>
                <input type="text" size="6" v-model="secimData.siparisalan" @change="cek" class="form-control">
              </th>
              <th>
                <input type="text" size="6" v-model="secimData.gon_adsoyad" @change="cek" class="form-control">
              </th>

              <th>
                <div class="Table">
                  <div class="Heading">
                      <div class="Cell">
                        <select v-model="secimData.status" style="width:50px;" @change="cek" class="form-control">
                           <option value="">..</option>
                          <option v-for="(value,index) in durumlar" :value="index">
                            {{ value }}
                          </option>
                        </select>
                      </div>
                      <div class="Cell"><input type="text" size="6" v-model="secimData.alici_adsoyad" @change="cek" class="form-control" placeholder="Alt Bayi"></div>
                      <div class="Cell"><input type="text" size="6" v-model="secimData.product_name" @change="cek" class="form-control" placeholder="Kalite"></div>

                      <div class="Cell"><input type="text" size="6" v-model="secimData.teslim_saati" @change="cek" class="form-control" placeholder="Teslim Saati"></div>
                      <div class="Cell"><input type="text" size="6" v-model="secimData.ship" @change="cek" class="form-control" placeholder="Teslim Şekli"></div>
                      <div class="Cell">
                          <select v-model="secimData.kurye_id" style="width:50px;" @change="cek" class="form-control">
                            <option value="">..</option>
                            <option v-for="(k,index) in kuryeler" :value="index">
                              {{ k.name }}
                            </option>
                          </select>
                      </div>
                  </div>
               </div>
              </th>
              <th>
                <input type="text" size="6" v-model="secimData.coupon_code" @change="cek" class="form-control">
              </th>
              <th></th>
            </tr>
          <tr>
            <th>No</th>
            <th>Fatura No</th>
            <th>Ödeme</th>
            <th>Alındı mı</th>
            <th>Tutar</th>
            <th>Teslimat</th>
            <th>Sipariş Alan</th>
            <th>Gönderici</th>
            <th>
              <div class="Table">
                <div class="Heading">
                    <div class="Cell">Durum</div>
                    <div class="Cell">Alt Bayi</div>
                    <div class="Cell">Ürünler</div>
                    <div class="Cell"></div>
                    <div class="Cell">Teslimat Tarihi</div>
                    <div class="Cell">Teslim Şekli</div>
                    <div class="Cell">Kargo</div>
                </div>
              </div>
            </th>
            <th>Kupon Kodu</th>
            <th>Kayıt Zamanı</th>
          </tr>
        </thead>
        <tbody>
        <tr v-for="irsaliye in veri" :id="irsaliye.id" :class="{secili:checkedIrs.indexOf(irsaliye.id)>-1}" v-on:contextmenu="openMenu(irsaliye,$event)">
          <td>
              <div class="btn-group">
                <a class="btn" @click.prevent="showModal(irsaliye)" ref="btn" :class="irsaliye.fatura_no ? 'btn-danger':'btn-info'">
                  {{irsaliye.order_number}}</a>
              </div>
          </td>
          <td>
            {{irsaliye.fatura_no}}<br>
            <a href="#" @click.prevent="xml_indir(irsaliye.id,irsaliye.fatura_no)"><img src="/images/xml-indir.png"></a>
          </td>
          <td>{{payments[irsaliye.payment]}}</td>
          <td>
            <span v-show="irsaliye.payment_ok" class="glyphicon glyphicon-check" aria-hidden="true"></span>
            <span v-show="!irsaliye.payment_ok" class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
          </td>
          <td class="text-right">{{parseFloat(irsaliye.total).toFixed(2)}}</td>
          <td class="text-right">{{parseFloat(irsaliye.shipping).toFixed(2)}}</td>
          <td>{{irsaliye.siparisalan}}</td>
          <td class="green">{{irsaliye.gon_adsoyad}} </td>
          <td>
            <div class="Table">
              <div class="Row" v-for="op in irsaliye.orderproducts" v-if="op.ek==0">
                  <div class="Cell" style="width:10px;">
                    <div class="rotate">
                      <label class="label" :class="labels[op.status]">{{durumlar[op.status]}}</label>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                  </div>
                  <div class="Cell bbt purple">{{op.alici_adsoyad}} {{op.alici_firma}}</div>
                  <div class="Cell bbt">
                      {{parseInt(op.product_qty)}} ad. {{op.product_name}} ({{op.product_width}}x{{op.product_height}})
                  </div>
                  <div class="Cell bbt"><a v-if="op.product_image" :href="op.product_image.replace('uploads','uploads/org').replace('products','products/org')" target="_blank"><img :src="op.product_image" style="max-width:80px;max-height:40px;" class="img img-responsive pull-right"></a>
                  </div>
                  <div class="Cell bbt">{{op.teslim_tarihi}} {{op.teslim_saati}}</div>
                  <div class="Cell bbt">{{op.ship}}</div>
                  <div class="Cell bbt"><span v-if="kuryeler[op.kurye_id]">{{kuryeler[op.kurye_id].name}}&nbsp;</span></div>
              </div>
            </div>
          </td>
          <td>{{irsaliye.coupon_code}}</td>
          <td>{{irsaliye.created_at}}</td>
        </tr>

      </tbody>
      <tfoot>
        <tr>
            <th>Toplam</th>
            <th colspan="3"></th>
            <th class="text-right">{{toplam.total.toFixed(2)}}</th>
            <th class="text-right">{{toplam.shipping.toFixed(2)}}</th>
            <th colspan="7"></th>
          </tr>
      </tfoot>
      </table>
     </div>
     </div>

    <irsaliye-modal :order_id="order_id" v-if="order_id" @kapatilacak="orderModalKapat()"></irsaliye-modal>
    <div class="right-click-menu" tabindex="-1" ref="right" v-if="viewMenu" v-on:blur="closeMenu"
     v-bind:style="{top:top, left:left}">
      <h4 class="text-center">{{order_number}}</h4>
       <ul>
          <li @click="fatura_yazdir"><i class="glyphicon glyphicon-print"></i> Fatura Yazdır</li>
      </ul>
    </div>
  </div>
</template>

<script>

  import GridLoader from 'vue-spinner/src/GridLoader.vue'
  import IrsaliyeModal from '../components/IrsaliyeModal.vue'
  import EditableDate from '../components/EditableDate.vue'
  export default {
    components: {
      GridLoader,
      IrsaliyeModal,
      EditableDate
    },
    data: function () {
    return {
        veri:{},
        api_link,
        pusher_channel,
        kuryeler,
        colors,
        durumlar,
        labels,
        kurye_id:0,
        order_id:0,
        irsaliye_no:"",
        order_number:"",
        dagitimvar:0,
        is_loading:false,
        user,
        rawprinter,
        payments,
        checkedIrs:[],
        viewMenu:false,
        top: '0px',
        left: '0px',
        arama:false,
        fat_no:"",
        viewHareket: false,
        searchData:{
          tarih1: '01-01-2017',
          tarih2: new Date().toLocaleDateString("tr-TR").replace(/\./g, '-'),
          iptaliade:true,
          tip:'search'
        },
        secimData:{
          tarih1: new Date().toLocaleDateString("tr-TR").replace(/\./g, '-'),
          tarih2: new Date().toLocaleDateString("tr-TR").replace(/\./g, '-'),
          tip:'siptar',
          iptaliade:false,
          order_number:"",
          status:"",
          gon_adsoyad:"",
          alici_adsoyad:"",
          teslim_saati:"",
          ship:"",
          siparisalan:"",
          coupon_code:"",
          payment:"",
          payment_ok:""
        },
        options:[
          {text:'SİPARİŞ TARİHİ',value:'siptar'}
        ],
      }
    },
    name: 'fatura-page',
    methods: {

        cek:function(){
          this.arama=false
          this.is_loading=true
          this.$http.post(this.api_link+'/v1/fatura',this.secimData)
          .then((response) => {
            if(response.status==200){
              this.veri = response.body.faturalar
              this.fat_no = response.body.fatura_no
            }
            this.is_loading=false
          },(error)=>{
            if(error.status ==401){
              this.$localStorage.remove("user")
              this.$router.push('/login')
            }
          });
        },
        eklendi:function(order_id){
          this.cek()
        },
        showModal:function(irsaliye){
          this.checkedIrs = []
          this.order_id = irsaliye.id
        },
        orderModalKapat:function(){
          this.order_id = 0;
        },

        setMenu: function(event) {
          this.top = (event.clientY - 100) + 'px';
          this.left = event.clientX  + 'px';
        },
        openMenu: function(order,e) {
            this.order_number = order.order_number
            this.irs_id = order.id
            this.viewMenu = true
            this.$nextTick(function() {
                this.$refs.right.focus()
                this.setMenu(e)
            }.bind(this));
            e.preventDefault()
        },
        closeMenu: function() {
          this.viewMenu = false;
        },
        temizle:function(){
          this.checkedIrs = []
        },
        ara:function(){
          this.arama=true
          this.is_loading=true
          this.$http.post(this.api_link+'/v1/fatura',this.searchData)
          .then(function(response) {
            this.veri = response.body.faturalar
            this.fat_no = response.body.fatura_no
            this.is_loading=false
          })
        },
        secimData_temizle:function(){
          this.secimData = {
            tarih1: new Date().toLocaleDateString("tr-TR").replace(/\./g, '-'),
            tarih2: new Date().toLocaleDateString("tr-TR").replace(/\./g, '-'),
            tip:'siptar',
            iptaliade:false,
            order_number:"",
            irs_id:0,
            status:"",
            gon_adsoyad:"",
            alici_adsoyad:"",
            teslim_saati:"",
            ship:"",
            siparisalan:"",
            coupon_code:"",
            payment:"",
            payment_ok:""
          },
          this.searchData={
            tarih1: '01-01-2017',
            tarih2: new Date().toLocaleDateString("tr-TR").replace(/\./g, '-'),
            iptaliade:true,
            tip:'search'
          }
          this.cek()
        },
        xml_indir:function(irs_id,fat_no){
          if(fat_no == ''){
            fat_no = this.fat_no
            if(fat_no.length > 0){
              let seri = fat_no.charAt(0);
              let no = fat_no.slice(1);
              this.fat_no = seri+this.pad(parseInt(no)+1,no.length);
            }
            this.veri.forEach(function(irsaliye,k){
              if(irs_id == irsaliye.id){
                irsaliye.fatura_no = fat_no
              }
            })
          }
          var file = this.api_link+'/v1/xml/fatura/'+irs_id+'?fat_no='+fat_no;
          window.open(file, '_parent', 'download');
        },
        fatura_yazdir:function(){
          this.closeMenu();
          let irs_id = this.irs_id
          this.$http
          .get(this.api_link+'/v1/print/fatura/'+irs_id+'?fat_no='+this.fat_no)
          .then(function(response) {
                PHE.printHtml(response.body);
                let fat_no = this.fat_no
                if(fat_no.length > 0){
                  let seri = fat_no.charAt(0);
                  let no = fat_no.slice(1);
                  this.fat_no = seri+this.pad(parseInt(no)+1,no.length);
                }
                this.veri.forEach(function(irsaliye,k){
                  if(irs_id == irsaliye.id){
                    irsaliye.fatura_no = fat_no
                  }
                })
            });
        },
        pad:function(str, max) {
          str = str.toString();
          return str.length < max ? this.pad("0" + str, max) : str;
        },
        qze:function(){
          qz.websocket.connect().then(function() {
            return qz.printers.find(this.rawprinter)
          }).then(function(found) {
            //var config = qz.configs.create(found);
            var data = [
                'Raw Data\n',
                'More Raw Data\n',
                'Even More Raw Data\n'
             ];
             console.log(found)
            //return qz.print(config, data);
          }).catch(function(e) { console.error(e); }).then(function() {
             return qz.websocket.disconnect();
          });
        }
    },
    computed:{
      toplam:function(){
        let total = 0;
        let shipping = 0;
        if(this.veri.length){
          this.veri.forEach(function(irsaliye,k){
            total+=parseFloat(irsaliye.total)
            shipping+=parseFloat(irsaliye.shipping)
          })
        }
        return {total,shipping}
      }
    },
    created:function(){

      this.irsaliye_no = this.$localStorage.get("irs_no");
      this.cek();

      let t = this;

      //var channel = this.$pusher.subscribe(this.pusher_channel);


    }
  }
</script>
