<style scoped>

</style>

<template>
  <div>

    <div class="panel panel-info">
      <div class="panel-heading">
      <a href="#" class="navbar-brand">HATALI & ÇIKMAYAN ÜRÜNLER <span v-if="veri">({{veri.length}})</span></a>
      <button v-on:click="cek(false)" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-refresh"></i></button>
      <grid-loader style="position:absolute;left:410px;top:10px;" :loading="is_loading"></grid-loader>
      <button v-on:click="hepsiniSec" class="btn btn-default btn-circle"><i class="glyphicon  glyphicon-flash"></i></button>
      <button v-on:click="cikis_yazdir" class="btn btn-default" :disabled="checkedIrs.length==0">YAZDIR <i class="glyphicon  glyphicon-print"></i></button>
      <div class="pull-right form-inline">
        <button @click="temizle()" class="btn btn-default" style="margin-left:10px;" title="TEMİZLE"><i class="glyphicon glyphicon-remove"></i></button>
      </div>
      </div>


    <div class="panel-body" v-if="veri">
      <table class="table table-bordered">
        <thead>
           <tr>
            <th><input type="text" size="6" v-model="secimData.order_number" @change="cek(false)" class="form-control" placeholder="No"></th>

            <th></th>
            <th></th>
            <th>
              <select v-model="secimData.mevcut_urun" @change="cek(false)" class="form-control">
                <option v-for="option in option_mevcut_urun">
                  {{ option }}
                </option>
              </select>
             </th>
            <th>
              <select v-model="secimData.product_name" @change="cek(false)" class="form-control">
                <option v-for="option in option_names">
                  {{ option }}
                </option>
              </select>
            </th>
             <th>
             <select v-model="secimData.product_top" @change="cek(false)" class="form-control">
               <option v-for="option in option_tops">
                {{ option }}
              </option>
            </select>
          </th>
          <th>
             <select v-model="secimData.top_id" @change="cek(false)" class="form-control">
               <option v-for="option in option_topnames" :value="option">
                {{ top_names[option] }}
              </option>
            </select>
            </th>
            <th></th>
            <th></th>
            <th>
              <select v-model="secimData.product_desc" @change="cek(false)" class="form-control">
                <option v-for="option in option_product_desc">
                  {{ option }}
                </option>
              </select>
            </th>
             <th>
              <select v-model="secimData.siptar" @change="cek(false)" class="form-control">
                <option v-for="option in option_siptar">
                  {{ option }}
                </option>
              </select>
            </th>
            <th>
              <select v-model="secimData.cikis_tarihi" @change="cek(false)" class="form-control">
                <option v-for="option in option_cikis_tarihi">
                  {{ option }}
                </option>
              </select>
            </th>

            <th>
              <select v-model="secimData.fatura_unvan" @change="cek(false)" class="form-control">
                <option v-for="option in option_fatura_unvan">
                  {{ option }}
                </option>
              </select>
            </th>
            <th>
              <input type="text" size="6" v-model="secimData.alici_adsoyad" @change="cek(false)" class="form-control" placeholder="Alt Bayi">
            </th>

          </tr>

          <tr>
            <th></th>
            <th></th>

            <th></th>
            <th>Kod</th>
            <th>Kalite</th>
            <th><a @click="setSort('product_top')" class="sort">Top</a> <i v-if="secimData.sort=='product_top'" :class="sortClass"></i></th>
            <th>Top No</th>
            <th>Ölçü</th>
            <th>Miktar</th>
            <th>Müşteri Notu</th>
            <th>Sipariş Tarihi</th>
            <th>Çıkış Tarihi</th>
           <th>Bayi</th>
          <th><a @click="setSort('alici_adsoyad')" class="sort">Alt Bayi</a> <i v-if="secimData.sort=='alici_adsoyad'" :class="sortClass"></i></th>

          </tr>
        </thead>
        <tbody>
        <tr v-for="op in veri" :id="op.id" :class="{secili:checkedIrs.indexOf(op.id)>-1}" @mousedown="startDrag" @mousemove="doDrag(op.id,$event)" @click.stop="secili(op.id,$event)"  @contextmenu.prevent="openMenu(op,$event)" :key="op.id">
          <td>
              <div class="btn-group">
                <a class="btn obtn" @click="showModal(op)" :class="op.irsaliye_no ? 'btn-danger':'btn-success'">
                  <i class="icon-edit"></i>
                  <!-- {{op.irsaliyesi.order_number}} -->
                  <span v-if="!op.irsaliye_no">_____</span>
                  <span v-if="op.irsaliye_no">{{op.irsaliye_no}}</span>
                </a>
              </div>
          </td>
          <td><label class="label" :class="labels[op.status]">{{durumlar[op.status]}}</label></td>
          <td><a v-if="op.product_image" :href="op.product_image.replace('uploads','uploads/org').replace('products','products/org')" target="_blank"><img :src="op.product_image" style="max-width:150px;max-height:70px;"></a></td>

          <td>{{op.mevcut_urun}}</td>
          <td>{{op.product_sku}} {{op.product_name}}
          </td>
          <td>{{op.product_top}}</td>
          <td>{{top_names[op.top_id]}}</td>
          <td>{{op.product_width}}x{{op.product_height}}</td>
          <td class="text-right">{{parseInt(op.product_qty)}} </td>
          <td class="red">{{op.product_desc}}</td>
          <td>{{op.irsaliyesi.siptar}} </td>
          <td>{{op.cikis_tarihi}} </td>
          <td class="green">{{op.irsaliyesi.fatura_unvan}} </td>
          <td class="purple">{{op.alici_firma?op.alici_firma:op.alici_adsoyad}}</td>
        </tr>
      </tbody>
      <tfoot>
         <tr>
            <th colspan="7"></th>
            <th class="text-right"><strong>{{totalItem}}</strong></th>
            <th colspan="5"></th>
         </tr>
      </tfoot>
      </table>
    </div>
  </div>

    <irsaliye-modal :order_id="order_id" v-if="order_id" @kapatilacak="orderModalKapat()"></irsaliye-modal>

    <div class="right-click-menu" tabindex="-1" ref="right" v-if="viewMenu" v-on:blur="closeMenu"
     v-bind:style="{top:top, left:left}">
      <h4 class="text-center">{{order_number}}</h4>
       <ul>
          <li @click="cikis_yazdir"><i class="glyphicon glyphicon-print"></i> Seçilenleri Yazdır</li>
          <li @click="uretimegeri" v-if="user.onay==1"><i class="glyphicon glyphicon-repeat"></i> Gelen Siparişlere Geri Gönder</li>
          <li @click="iptalet" v-if="user.iade==1"><i class="glyphicon glyphicon-remove"></i> İptal</li>
          <!-- <li @click="irsaliye_yazdir" v-if="false"><i class="glyphicon glyphicon-print"></i> İrsaliye Yazdır</li> -->
      </ul>
    </div>
  </div>
</template>

<script>
  import GridLoader from 'vue-spinner/src/GridLoader.vue'
  import IrsaliyeModal from '../components/IrsaliyeModal.vue'
  export default {
    components: {
      GridLoader,
      IrsaliyeModal
    },
    data: function () {
    return {
        veri:{},
        api_link:window.api_link,
        pusher_channel:window.pusher_channel,
        kuryeler:window.kuryeler,
        colors:window.colors,
        printHtml:window.printHtml,
        kurye_id:0,
        order_id:0,
        op_id:0,
        irsaliye_no:"",
        is_loading:false,
        user:window.user,
        payments:window.payments,
        checkedIrs:[],
        viewMenu:false,
        top: '0px',
        left: '0px',
        secimData:window.secimData,
        dragging: false,
        currentDragId:0,
        option_tops:[''],
        option_topnames:[''],
        option_names:[''],
        option_product_desc:[''],
        option_fatura_unvan:[''],
        option_mevcut_urun:[''],
        option_bize_mesaj:[''],
        option_siptar:[''],
        option_cikis_tarihi:[''],
        top_names,
        durumlar,
        labels
      }
    },
    name: 'hatali-page',
    methods: {
        startDrag() {
          this.dragging = true;
        },
        stopDrag() {
          this.dragging = false;
          this.currentDragId = 0;
        },
        doDrag(id,e) {
          e.preventDefault()
          if (this.dragging && this.currentDragId !== id) {
            if(this.checkedIrs.indexOf(id) > -1){
              this.checkedIrs.splice(this.checkedIrs.indexOf(id),1);
            }else{
              this.checkedIrs.push(id);
            }
            this.currentDragId = id
          }
        },
        secili:function(id,e){
          if(e.target.nodeName==='A' || e.target.nodeName=='IMG'){
            return;
          }
          e.preventDefault()
          if(this.checkedIrs.indexOf(id) > -1){
            this.checkedIrs.splice(this.checkedIrs.indexOf(id),1);
          }else{
            this.checkedIrs.push(id);
          }
        },
        cek:function(on){
          this.veri={}
          this.is_loading=true
          this.$http.post(this.api_link+'/v1/hatali',this.secimData)
          .then((response) => {
            if(response.status===200){
              this.veri = response.body
              this.irsaliye_no = response.body.irsaliye_no
              if(on){
                var a = this.option_topnames = [''];
                var o = this.option_tops = [''];
                var n= this.option_names = [''];
                var g= this.option_fatura_unvan = [''];
                var m= this.option_mevcut_urun = [''];
                var b= this.option_product_desc = [''];
                var s= this.option_siptar = [''];
                var t= this.option_cikis_tarihi = [''];
                this.veri.forEach(function(op,k){
                  if(a.indexOf(op.top_id) === -1){
                      a.push(op.top_id);
                  }
                  if(o.indexOf(op.product_top) === -1){
                      o.push(op.product_top);
                  }
                  if(n.indexOf(op.product_name) === -1){
                      n.push(op.product_name);
                  }
                  if(g.indexOf(op.irsaliyesi.fatura_unvan) === -1){
                      g.push(op.irsaliyesi.fatura_unvan);
                  }
                  if(m.indexOf(op.mevcut_urun) === -1){
                      m.push(op.mevcut_urun);
                  }
                  if(b.indexOf(op.product_desc) === -1){
                      b.push(op.product_desc);
                  }
                  if(s.indexOf(op.irsaliyesi.siptar) === -1){
                      s.push(op.irsaliyesi.siptar);
                  }
                  if(t.indexOf(op.cikis_tarihi) === -1){
                      t.push(op.cikis_tarihi);
                  }
                })
              }
            }
            this.is_loading=false
          },(error)=>{
            alert("hata..")
          });
        },
        showModal:function(op){
          this.order_id = op.irsaliyesi.id
        },
        orderModalKapat:function(){
          this.order_id = 0;
        },
        setMenu: function(event) {
          this.top = (event.clientY - 100) + 'px';
          this.left = event.clientX  + 'px';
        },
        openMenu: function(op,e) {
            this.order_number = op.irsaliyesi.order_number;
            this.op_id = op.id;
            //this.order_id = op.irsaliyesi.id;
            this.viewMenu = true;
            this.$nextTick(function() {
                this.$refs.right.focus();
                this.setMenu(e)
            }.bind(this));
            e.preventDefault();
        },
        closeMenu: function() {
          this.viewMenu = false;
        },
        cikis_yazdir:function(){
          let product_ids = this.checkedIrs;
          this.closeMenu();
          this.$http
          .post(this.api_link+'/v1/print/cikis',{product_ids:product_ids,row:this.row,column:this.column})
          .then(function(response) {
                this.printHtml(response.body);
                let products = this.veri.products
                this.checkedPrd.forEach(function(v,k){
                  var io = products.find(item => item.id === v);
                  io.irsaliye_no = "ok"
                });
                this.checkedPrd.forEach(function(op,k){
                      console.log(op)
                })
            });
        },
        irsaliye_yazdir:function(){
          this.closeMenu();
          this.$http
          .get(this.api_link+'/v1/print/irsaliye/'+this.op_id+'?irs_no='+this.irsaliye_no)
          .then(function(response) {
                this.printHtml(response.body);
                //PHE.printHtml(response.body);
                this.op_id = 0;
                if(this.irsaliye_no.length > 0){
                  let seri = this.irsaliye_no.charAt(0);
                  let no = this.irsaliye_no.slice(1);
                  this.irsaliye_no = seri+this.pad(parseInt(no)+1,no.length);
                }

            });
        },
        iptalet:function(){
          let op_id = this.op_id
          this.closeMenu();
          if(confirm("İptal edilecek?")){
            this.$http.put(this.api_link+'/v1/iptalet',{op_id})
            .then(function(response) {
              this.cek();
            })
          }
        },
        uretimegeri:function(){
          let op_id = this.op_id
          this.closeMenu();
          if(confirm("Top numarası silinecek ve gelen siparişlere gönderilecek?")){
            this.$http.put(this.api_link+'/v1/uretimegeri',{op_id})
            .then(function(response) {
              this.cek();
            })
          }
        },
        pad:function(str, max) {
        str = str.toString();
        return str.length < max ? this.pad("0" + str, max) : str;
        },
        temizle:function(){
          this.checkedIrs = []
          this.secimData = {order_number:"",bize_mesaj:"",semt_adi:"",fatura_unvan:"",alici_adsoyad:"",product_name:"",teslim_saati:"",kargo:"",siparisalan:"",payment:"",payment_ok:"",sort:"created_at",direction:"desc"}
          this.cek(false)
        },
        hepsiniSec:function(){
          let secili = this.checkedIrs
          this.veri.forEach(function(op,k){
            if(secili.indexOf(op.id) === -1){
                secili.push(op.id);
            }
          })
        },
        setSort:function(field){
          this.secimData.sort = field
          if(this.secimData.direction === "asc"){
            this.secimData.direction = "desc"
          }else if(this.secimData.direction === "desc"){
            this.secimData.direction = "asc"
          }else{
            this.secimData.direction = "asc"
          }
          this.cek(false)
        }
    },
    computed:{
      sortClass:function(){
        if(this.secimData.direction==='asc'){
          return 'glyphicon glyphicon-arrow-down'
        }else{
          return 'glyphicon glyphicon-arrow-up'
        }
      },
      totalItem: function(){
        let sum = 0;

        if(this.veri){
          this.veri.forEach(function(item) {
            sum += parseFloat(item.product_qty);
          });
        }

        return sum;
      }
    },
    mounted:function(){

      this.irsaliye_no = this.$localStorage.get("irs_no");
      this.cek(true);
      window.addEventListener('mouseup', this.stopDrag);
    }
  }
</script>
