<style scoped>
</style>

<template>
  <div>
    <div class="panel panel-info">
      <div class="panel-heading">
      BASKI HAZIRLIK <span v-if="veri.products">({{veri.products.length}})</span>

        <grid-loader style="position:absolute;left:350px;top:10px;" :loading="is_loading"></grid-loader>
        <button v-on:click="cek(false)" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-refresh"></i></button>
        <button v-on:click="hepsiniSec" class="btn btn-default btn-circle"><i class="glyphicon  glyphicon-flash"></i></button>
        <button v-on:click="mesaj_yazdir" class="btn btn-default btn-circle" :disabled="checkedPrd.length==0"><i class="glyphicon  glyphicon-print"></i></button>
        <button @click="secilenleriUret()" class="btn btn-warning" :disabled="checkedPrd.length==0">SEÇİLENLER BASKIYA VERİLDİ</button>
        <button @click="temizle()" class="btn btn-default" style="margin-left:10px;" title="TEMİZLE"><i class="glyphicon glyphicon-remove"></i></button>

        <form class="form-inline pull-right" @submit.prevent="top_degistir()">
              <select v-model="yeni_top" class="form-control">
               <option v-for="option in ['','133','150','160','175']">
                {{ option }}
              </option>
            </select>
              <button class="btn btn-danger" type="submit" :disabled="checkedPrd.length==0 || yeni_top==''">TOP DEĞİŞTİR</button>
        </form>
      </div>

      <div class="panel-body" v-if="veri.products">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><input type="text" size="6" v-model="secimData.order_number" @change="cek(false)" class="form-control" placeholder="No"></th>
            <th></th>
           <th>
              <select v-model="secimData.mevcut_urun" @change="cek(false)" class="form-control">
                <option v-for="option in option_mevcut_urun">
                  {{ option }}
                </option>
              </select>
             </th>
             <th></th>
            <th>
              <select v-model="secimData.product_name" @change="cek(false)" class="form-control">
                <option v-for="option in option_names">
                  {{ option }}
                </option>
              </select>
            </th>
            <th>
            <select v-model="secimData.product_top" @change="cek(false)" class="form-control">
               <option v-for="option in option_tops">
                {{ option }}
              </option>
            </select>
            </th>
            <th></th>
            <th></th>
            <th>
              <select v-model="secimData.product_desc" @change="cek(false)" class="form-control">
                <option v-for="option in option_product_desc">
                  {{ option }}
                </option>
              </select>
            </th>
            <th>
              <select v-model="secimData.siptar" @change="cek(false)" class="form-control">
                <option v-for="option in option_siptar">
                  {{ option }}
                </option>
              </select>
            </th>
            <th>
              <select v-model="secimData.cikis_tarihi" @change="cek(false)" class="form-control">
                <option v-for="option in option_cikis_tarihi">
                  {{ option }}
                </option>
              </select>
            </th>

            <th>
              <select v-model="secimData.fatura_unvan" @change="cek(false)" class="form-control">
                <option v-for="option in option_fatura_unvan">
                  {{ option }}
                </option>
              </select>
            </th>
            <th>
              <input type="text" size="6" v-model="secimData.alici_adsoyad" @change="cek(false)" class="form-control" placeholder="Alt Bayi">
            </th>

          </tr>
          <tr>
            <th>Sipariş NO</th>
            <th>Resim</th>
            <th>Baskı Görseli</th>
            <th>Kod</th>
            <th>Kalite</th>
            <th><a @click="setSort('product_top')" class="sort">Top</a> <i v-if="secimData.sort=='product_top'" :class="sortClass"></i></th>
            <th>Ölçü</th>
            <th>Miktar</th>
            <th>Müşteri Notu</th>
            <th>Sipariş Tarihi</th>
            <th>Çıkış Tarihi</th>
            <th>Bayi</th>
            <th><a @click="setSort('alici_adsoyad')" class="sort">Alt Bayi</a> <i v-if="secimData.sort=='alici_adsoyad'" :class="sortClass"></i></th>
          </tr>
        </thead>
        <tbody>
        <tr v-for="p in veri.products" :id="p.id" :title="p.product_sku" @mousedown="startDrag" @mousemove="doDrag(p.id,$event)" @click.stop="secili(p.id,$event)" :class="{secili:checkedPrd.indexOf(p.id)>-1}" v-on:contextmenu="openMenu(p,$event)" >
          <td>
              <div class="btn-group">
                <a class="btn obtn" @click="showModal(p.irsaliyesi)" :class="p.irsaliye_no ? 'btn-danger':'btn-success'">
                  <i class="icon-edit"></i>
                  <!-- {{p.irsaliyesi.order_number}} -->
                  <span v-if="!p.irsaliye_no">_____</span>
                  <span v-if="p.irsaliye_no">{{p.irsaliye_no}}</span>
                </a>
                <h4>{{p.irsaliye_no}}</h4>
              </div>
          </td>
          <td><a v-if="p.product_image" :href="p.product_image.replace('uploads','uploads/org').replace('products','products/org')" target="_blank"><img :src="p.product_image" style="max-width:150px;max-height:70px;"></a></td>
          <td><a v-if="p.production_image" :href="'https://www.dropbox.com/home/YUNUS%20CAN/Apps/JUNGLEHALI/'+p.irsaliyesi.fatura_unvan+'/'+p.production_image" target="_blank"><i class="fa fa-image fa-3x"></i></a></td>
          <td>{{p.mevcut_urun}}</td>
          <td>{{p.product_sku}} {{p.product_name}}</td>
          <td>{{p.product_top}}</td>
          <td>{{p.product_width}}x{{p.product_height}}</td>
          <td class="text-right">{{parseInt(p.product_qty)}} </td>
          <td class="red">{{p.product_desc}}</td>
          <td>{{p.irsaliyesi.siptar}} </td>
          <td>{{p.cikis_tarihi}} </td>
          <td class="green">{{p.irsaliyesi.fatura_unvan}} </td>
          <td class="purple">{{p.alici_firma?p.alici_firma:p.alici_adsoyad}}</td>
        </tr>
      </tbody>
      <tfoot>
         <tr>
            <th colspan="6"></th>
            <th class="text-right"><strong>{{totalItem}}</strong></th>
            <th colspan="5"></th>
         </tr>
      </tfoot>
      </table>

     </div>
    </div>

     <irsaliye-modal :order_id="order_id" v-if="order_id" @kapatilacak="IrsaliyeModalKapat()"></irsaliye-modal>
     <div class="right-click-menu" tabindex="-1" ref="right" v-if="viewMenu" v-on:blur="closeMenu"
     v-bind:style="{top:top, left:left}">
      <h4 class="text-center">{{product_name}}</h4>
       <ul>
          <li @click="uretildi"><i class="glyphicon glyphicon-saved"></i> Seçilenler Baskıya Verildi</li>
          <li @click="mesaj_yazdir"><i class="glyphicon glyphicon-print"></i> Seçilenleri Yazdır</li>
          <li @click="iptalet" v-if="user.iade==1"><i class="glyphicon glyphicon-remove"></i> Sil</li>
      </ul>
    </div>
  </div>
</template>

<script>

  import GridLoader from 'vue-spinner/src/GridLoader.vue'
  import IrsaliyeModal from '../components/IrsaliyeModal.vue'

  export default {
    components: {
      GridLoader,
      IrsaliyeModal
    },
    data: function () {
    return {
        veri:{},
        api_link:api_link,
        pusher_channel,
        colors,
        printHtml,
        is_loading:true,
        order_id:0,
        user,
        checkedPrd:[],
        viewMenu:false,
        top: '0px',
        left: '0px',
        product_id:0,
        product_name:"",
        secimData,
        dragging: false,
        currentDragId:0,
        option_tops:[''],
        option_names:[''],
        option_fatura_unvan:[''],
        option_mevcut_urun:[''],
        option_bize_mesaj:[''],
        option_siptar:[''],
        option_cikis_tarihi:[''],
        yeni_top:''
      }
    },
    name: 'hazirlik-page',
    methods: {
        startDrag() {
          this.dragging = true;
        },
        stopDrag() {
          this.dragging = false;
          this.currentDragId = 0;
        },
        doDrag(id,e) {
          e.preventDefault()
          if (this.dragging && this.currentDragId !== id) {
            if(this.checkedPrd.indexOf(id) > -1){
              this.checkedPrd.splice(this.checkedPrd.indexOf(id),1);
            }else{
              this.checkedPrd.push(id);
            }
            this.currentDragId = id
          }
        },
        secili:function(id,e){

          if(e.target.nodeName==='A' || e.target.nodeName==='IMG'  || e.target.nodeName==='I'){
            return;
          }
          e.preventDefault()
          if(this.checkedPrd.indexOf(id) > -1){
            this.checkedPrd.splice(this.checkedPrd.indexOf(id),1);
          }else{
            this.checkedPrd.push(id);
          }
        },
        cek:function(on){
          this.veri={}
          this.is_loading=true
          this.checkedPrd=[]
          this.$http.post(this.api_link+'/v1/hazirlik',this.secimData)
          .then((response) => {
            if(response.status==200){
              this.veri = response.body
              if(on){
                var o = this.option_tops = [''];
                var n= this.option_names = [''];
                var g= this.option_fatura_unvan = [''];
                var m= this.option_mevcut_urun = [''];
                var b= this.option_product_desc = [''];
                var s= this.option_siptar = [''];
                var t= this.option_cikis_tarihi = [''];
                this.veri.products.forEach(function(op,k){
                  if(o.indexOf(op.product_top) === -1){
                      o.push(op.product_top);
                  }
                  if(n.indexOf(op.product_name) === -1){
                      n.push(op.product_name);
                  }
                  if(g.indexOf(op.irsaliyesi.fatura_unvan) === -1){
                      g.push(op.irsaliyesi.fatura_unvan);
                  }
                  if(m.indexOf(op.mevcut_urun) === -1){
                      m.push(op.mevcut_urun);
                  }
                  if(b.indexOf(op.product_desc) === -1){
                      b.push(op.product_desc);
                  }
                  if(s.indexOf(op.irsaliyesi.siptar) === -1){
                      s.push(op.irsaliyesi.siptar);
                  }
                  if(t.indexOf(op.cikis_tarihi) === -1){
                      t.push(op.cikis_tarihi);
                  }
                })
              }
            }
            this.is_loading=false
          },(error)=>{
            if(error.status ==401){
              this.$localStorage.remove("user")
              this.$router.push('/login')
            }
          });
        },
        showModal:function(order){
          this.order_id = order.id
        },
        IrsaliyeModalKapat:function(){
          this.order_id = 0;
        },
        yenieklendi:function(urunler){
          let myNotification = new Notification("YENİ ÜRÜN", {
                body: urunler
          })
          this.cek(false);
        },
        uretildi(){
          if(this.checkedPrd.length>0){
              this.secilenleriUret();
          }else{
            alert("Lütfen seçim yapınız..")
          }
          this.closeMenu();
        },
        secilenleriUret(){
          this.is_loading=true
          let checkedPrd = this.checkedPrd
            this.$http.put(this.api_link+'/v1/hazirlandi',{checkedPrd}).then((response)=>{
              if(response.status == 200){
                this.uretimdenKaldir(this.checkedPrd)
                 this.is_loading=false
              }else{
                alert("Bir problem oluştu, lütfen tekrar deneyiniz..");
                 this.is_loading=false
              }
            });
        },
        top_degistir(){
          this.is_loading=true
            this.$http.put(this.api_link+'/v1/top_degistir',{checkedPrd:this.checkedPrd,yeni_top:this.yeni_top}).then((response)=>{
              if(response.status == 200){
                 this.cek(true)
                 this.is_loading=false
              }else{
                alert("Bir problem oluştu, lütfen tekrar deneyiniz..");
                 this.is_loading=false
              }
            });
        },
        uretimdenKaldir:function(checkedPrd){
          var indexRemove;
          var i = 0;
          var products = this.veri.products;
          checkedPrd.forEach(function(v,k){
            var io = products.findIndex(item => item.id === v);
            if(io>-1){
              products.splice(io, 1);
            }
          });
          this.veri.products = products
          this.checkedPrd = []
        },
        setMenu: function(event) {
          this.top = (event.clientY - 100) + 'px';
          this.left = event.clientX  + 'px';
        },
        openMenu: function(p,e) {
            if(e.target.nodeName==='H4'){
              return;
            }
            this.product_name = p.product_name
            this.product_id = p.id
            this.viewMenu = true;
            this.$nextTick(function() {
                this.$refs.right.focus();
                this.setMenu(e)
            });
            e.preventDefault();
        },
        closeMenu: function() {
          this.viewMenu = false
          this.product_id = 0
        },
        mesaj_yazdir:function(){
          let product_ids = this.checkedPrd;
          this.closeMenu();
          this.$http
          .post(this.api_link+'/v1/print/mesaj',{product_ids:product_ids})
          .then(function(response) {
                this.printHtml(response.body);
                let products = this.veri.products
                this.checkedPrd.forEach(function(v,k){
                  var io = products.find(item => item.id === v);
                  io.irsaliye_no = "ok"
                });
                this.checkedPrd.forEach(function(op,k){
                      console.log(op)
                })
            });
        },
        temizle:function(){
          this.checkedPrd = []
          this.secimData={order_number:"",product_name:"",bize_mesaj:"",fatura_unvan:"",alici_adsoyad:"",product_sku:"",sort:"created_at",direction:"",gelecek:this.secimData.gelecek}
          this.cek(false)
        },
        hepsiniSec:function(){
          let secili = this.checkedPrd
          this.veri.products.forEach(function(op,k){
            if(secili.indexOf(op.id) === -1){
                secili.push(op.id);
            }
          })
        },
        iptalet:function(){
          let op_id = this.product_id
          this.closeMenu();
          if(confirm("Bu sipariş silinecek")){
            this.$http.put(this.api_link+'/v1/iptalet',{op_id})
            .then(function(response) {
              this.cek();
            })
          }
        },
        setSort:function(field){
          this.secimData.sort = field
          if(this.secimData.direction == "asc"){
            this.secimData.direction = "desc"
          }else if(this.secimData.direction == "desc"){
            this.secimData.direction = "asc"
          }else{
            this.secimData.direction = "asc"
          }
          this.cek(false)
        }
    },
    computed:{
      sortClass:function(){
        if(this.secimData.direction=='asc'){
          return 'glyphicon glyphicon-arrow-down'
        }else{
          return 'glyphicon glyphicon-arrow-up'
        }
      },
      totalItem: function(){
        let sum = 0;
        this.veri.products.forEach(function(item) {
          sum += parseFloat(item.product_qty);
        });

        return sum;
      }
    },
    created:function(){

      this.cek(true);
    },
    mounted() {
      window.addEventListener('mouseup', this.stopDrag);
    }
  }
</script>
