<style scoped>

</style>

<template>

<div>
    <div class="panel panel-danger">
      <div class="panel-heading">
        KURYELER  ({{veri.length}}) &nbsp;&nbsp;&nbsp;&nbsp;
        <span v-if="arama">
           <h4>ARAMA SONUÇLARI</h4>
        </span>
        <grid-loader style="position:absolute;left:380px;top:10px;" :loading="is_loading"></grid-loader>
        <button class="btn btn-warning" @click="yeni_kurye=true">YENİ KURYE</button>
      </div>

    <div  class="panel-body">

      <table class="table table-bordered table-condensed">
        <thead>
           <tr v-if="!arama">

              <th>

              </th>
              <th>
                <input type="text" size="6" v-model="secimData.name" @change="cek">
              </th>
              <th>
                <input type="text" size="6" v-model="secimData.gsm" @change="cek">
              </th>
              <th>
                <input type="text" size="6" v-model="secimData.tel" @change="cek">
              </th>
              <th>
                <input type="text" size="6" v-model="secimData.firma" @change="cek">
              </th>
              <th>
                <input type="text" size="6" v-model="secimData.email" @change="cek">
              </th>
              <th>
                <input type="text" size="6" v-model="secimData.username" @change="cek">
              </th>
              <th>&nbsp;</th>
              <th>
                <select v-model="secimData.aktif" style="width:50px;" @change="cek">
                   <option value="">..</option>
                  <option value="0">KAPALI</option>
                  <option value="1">AÇIK</option>
                </select>
              </th>
            </tr>
          <tr>
            <th>No</th>
            <th>Adı Soyadı</th>
            <th>GSM</th>
            <th>Tel</th>
            <th>Firma</th>
            <th>Eposta</th>
            <th>Kullanıcı Adı</th>
            <th>Şifre</th>
            <th>Durum</th>
          </tr>
        </thead>
        <tbody>
        <tr v-for="kurye in veri" :id="kurye.id">
          <td>
              {{kurye.id}}
          </td>
          <td>
            <editable-text v-model="kurye.name" @changed="degisti(kurye)"></editable-text>
          </td>
          <td>
            <editable-text v-model="kurye.gsm" @changed="degisti(kurye)"></editable-text>
          </td>
          <td>
            <editable-text v-model="kurye.tel" @changed="degisti(kurye)"></editable-text>
          </td>
          <td>
            <editable-text v-model="kurye.firma" @changed="degisti(kurye)"></editable-text>
          </td>
          <td>
            <editable-text v-model="kurye.email" @changed="degisti(kurye)"></editable-text>
          </td>
          <td>
            <editable-text v-model="kurye.username" @changed="degisti(kurye)"></editable-text>
          </td>
          <td>
            <editable-password v-model="kurye.password" @changed="degisti(kurye)"></editable-password>
          </td>
          <td>
            <input
                type="checkbox"
                v-model="kurye.aktif"
                v-bind:true-value=1
                v-bind:false-value=0
                @change="degisti(kurye)"
            >
          </td>
        </tr>
      </tbody>
      </table>
     </div>
    </div>
    <kurye-modal v-if="yeni_kurye" @kapatilacak="yeniModalKapat()"></kurye-modal>
  </div>
</template>

<script>
  import GridLoader from 'vue-spinner/src/GridLoader.vue'
  import KuryeModal from '../components/KuryeModal.vue'
  import EditableText from '../components/EditableText.vue'
  import EditableSelect from '../components/EditableSelect.vue'
  import EditablePassword from '../components/EditablePassword.vue'

  export default {
    components: {
      GridLoader,
      EditableText,
      EditableSelect,
      EditablePassword,
      KuryeModal
    },
    data: function () {
    return {
        veri:{},
        api_link,
        pusher_channel,
        kurye_id:0,
        user,
        viewMenu:false,
        arama:false,
        top: '0px',
        left: '0px',
        is_loading:false,
        yeni_kurye:false,
        secimData:{
          sube_id:"",
          name:"",
          gsm:"",
          tel:"",
          firma:"",
          email:"",
          aktif:""
        }
      }
    },
    name: 'kurye-page',
    methods: {

        cek:function(){
          this.veri={}
          this.arama=false
          this.is_loading=true
          this.$http.post(this.api_link+'/v1/kurye',this.secimData)
          .then((response) => {
            if(response.status==200){
              this.veri = response.body
            }
            this.is_loading=false
          },(error)=>{
            if(error.status ==401){
              this.$localStorage.remove("user")
              this.$router.push('/login')
            }
          });
        },
        degisti:function(kurye){
          this.is_loading=true
          this.$http.patch(this.api_link+'/v1/kurye/'+kurye.id,kurye)
          .then((response) => {
            this.is_loading=false
          },(error)=>{
            if(error.status ==401){
              this.$localStorage.remove("user")
              this.$router.push('/login')
            }
          });
        },
        temizle:function(){
          this.checkedIrs = []
        },
        yeniModalKapat:function(){
          this.yeni_kurye = false
          this.cek()
        }
    },
    created:function(){
      this.cek();
    }
  }
</script>
