<template>

<div>

    <div class="panel panel-danger">
      <div class="panel-heading">
        TOPLAR  ({{toplar.length}}) &nbsp;&nbsp;&nbsp;&nbsp;
        <span v-if="arama">
           <h4>ARAMA SONUÇLARI</h4>
        </span>
        <grid-loader style="position:absolute;left:380px;top:10px;" :loading="is_loading"></grid-loader>
        <button class="btn btn-warning" @click="yeni_top=true">YENİ TOP</button>
      </div>

    <div  class="panel-body">

      <table class="table table-bordered table-condensed">
        <thead>
           <tr v-if="!arama">
              <th>&nbsp;</th>
              <th>
                <input type="text" class="form-control" v-model="secimData.filename" @change="cek" placeholder="Top No">
              </th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th>
                <select v-model="secimData.aktif" style="width:50px;" @change="cek">

                  <option value="0">HEPSİ</option>
                  <option value="1">AÇIK</option>
                </select>
              </th>
            </tr>
          <tr>
            <th>No</th>
            <th>Top Adı</th>
            <th>Uzunluk</th>
            <th>Resim</th>
            <th></th>
            <th>Durum</th>
          </tr>
        </thead>
        <tbody>
        <tr v-for="top in toplar" :id="top.id">
          <td>
              {{top.id}}
          </td>
          <td>
              <editable-text v-model="top.name" @changed="degisti(top)"></editable-text>
          </td>
          <td>
              <editable-text v-model="top.length" @changed="degisti(top)"></editable-text>
          </td>
          <td>
            <input type="file" @change="saveImage($event,top)" class="drop-area" v-if="!top.image">
            <a :href="top.image"  v-if="top.image" target="_blank"><img :src="top.image" width="50"></a>
          </td>
          <td>
            <button class="btn btn-xs btn-danger" @click="removeImage(top)" v-if="top.image"><i class="fa fa-recycle"></i></button>
          </td>
          <td>
            <input
                type="checkbox"
                v-model="top.aktif"
                v-bind:true-value=1
                v-bind:false-value=0
                @change="degisti(top)"
            >
          </td>
          <!-- <td><button class="btn btn-xs btn-danger" @click="sil(top)"><i class="fa fa-recycle"></i></button></td> -->
        </tr>
      </tbody>
      </table>
     </div>
    </div>
    <top-modal v-if="yeni_top" @kapatilacak="yeniModalKapat()"></top-modal>
  </div>
</template>

<script>
  import GridLoader from 'vue-spinner/src/GridLoader.vue'
  import TopModal from '../components/TopModal.vue'
  import EditableText from '../components/EditableText.vue'
  import EditableSelect from '../components/EditableSelect.vue'
  import { FileUploadService } from 'v-file-upload'

  export default {
    components: {
      GridLoader,
      EditableText,
      EditableSelect,
      TopModal
    },
    data: function () {
    return {
        api_link,
        pusher_channel,
        toplar,
        image_id:0,
        user,
        viewMenu:false,
        arama:false,
        top: '0px',
        left: '0px',
        is_loading:false,
        yeni_top:false,
        secimData:{
            name:"",
            filename:"",
            aktif:"1"
        }
      }
    },
    name: 'top-page',
    methods: {

        cek:function(){
          this.toplar={}
          this.arama=false
          this.is_loading=true
          this.$http.post(this.api_link+'/v1/top',this.secimData)
          .then((response) => {
            if(response.status==200){
              this.toplar = response.body
            }
            this.is_loading=false
          },(error)=>{
            if(error.status ==401){
              this.$localStorage.remove("user")
              this.$router.push('/login')
            }
          });
        },
        degisti:function(top){
          this.is_loading=true
          this.$http.patch(this.api_link+'/v1/top/'+top.id,top)
          .then((response) => {
            this.is_loading=false
          },(error)=>{
            if(error.status ==401){
              this.$localStorage.remove("user")
              this.$router.push('/login')
            }
          });
        },
        removeImage:function(top){
          if(confirm("Resim silinecek?")){
            this.is_loading=true
            this.$http.delete(this.api_link+'/v1/top/'+top.id)
            .then((response) => {
              this.cek()
            },(error)=>{
              if(error.status ==401){
                this.$localStorage.remove("user")
                this.$router.push('/login')
              }
            });
          }
        },
        temizle:function(){
          this.checkedIrs = []
        },
        yeniModalKapat:function(){
          this.yeni_top = false
          this.cek()
        },
        saveImage(e,top) {
        let file = e.target.files[0];

        let fileUpload = new FileUploadService(
          this.api_link+'/v1/top/upload/'+top.id,
          {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
          this.onProgress
        )
        fileUpload
          .upload(file)
          .then(e => {
            this.is_loading=false
            top.image = e.target.response.image
          })
          .catch(e => {
            // Handle error
          })
      },
      onProgress(e){
        this.is_loading=true
      },
    },
    created:function(){

    }
  }
</script>
