<style scoped>

</style>

<template>
<div>
    <div class="panel panel-info">
      <div class="panel-heading">
        TRANSFER

        <grid-loader style="position:absolute;left:380px;top:10px;" :loading="is_loading"></grid-loader>

      </div>
      <div class="panel-body">
           <div class="input-group">
            <input type="text" class="form-control" placeholder="TOP NUMARASI" v-model="top_number">
            <span class="input-group-btn">
                <button class="btn btn-default" @click="cek()" :disabled="top_number==''">GETİR</button>
            </span>
          </div>
          <div>
              <br>
              <transition :duration="1000">
                  <img :src="veri.top_image" v-if="veri.top_image">
              </transition>

              <p class="label label-info" v-if="veri.id && !veri.top_image">{{top_number}} Top görseli bulunamadı..</p>
          </div>
          <br><br>
          <button class="btn btn-success btn-lg btn-block" @click="top_transfere()" v-if="veri.id">TRANSFERE ALINDI</button>
      </div>
     </div>

  </div>
</template>

<script>
  import GridLoader from 'vue-spinner/src/GridLoader.vue'

  export default {
    components: {
      GridLoader
    },
    data: function () {
    return {
        veri:{},
        is_loading:false,
        api_link,
        checkedIrs:[],
        user,
        top_number:""
      }
    },
    name: 'transfer-panel',
    methods: {
        cek:function(on){
          this.is_loading=true
          this.$http.post(this.api_link+'/v1/top_urunleri',{top_number:this.top_number})
          .then((response) => {
            if(response.status==200){
              this.veri = response.body
            }
            this.is_loading=false
          },(error)=>{
            if(error.status=='404'){
              this.veri={}
              alert("Numara hatalı.. Top bulunamadı..")
            }else{
              alert("Hata! Tekrar giriş yapınız")
              location.reload()
            }

            this.is_loading=false
          });
        },

        top_transfere:function(){
          this.is_loading=true
            let checkedIrs = this.checkedIrs
            this.$http.put(this.api_link+'/v1/top_transfere',{top_number:this.top_number}).then((response)=>{
              if(response.status == 200){
                 this.veri = {}
                 this.top_number = ""
                 this.is_loading=false
              }else{
                alert("Bir problem oluştu, lütfen tekrar deneyiniz..");
                 this.is_loading=false
              }
            });
        },

    },
    created:function(){

    },
  }
</script>
