<style scoped>
.secili{
  background-color: #FFB6C1;
}
</style>

<template>
  <div>
    <div class="panel panel-warning" :class="{'modal-backdrop' : viewHareket}">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <form class="form-inline" @submit.prevent="cek()">
            <div class="form-group">
              <label for="tarih1">İlk Tarih</label>
              <editable-date v-model="secimData.tarih1"></editable-date>
            </div>
            <div class="form-group">
              <label for="tarih2">İkinci Tarih</label>
              <editable-date v-model="secimData.tarih2"></editable-date>
            </div>
              <select v-model="secimData.tip" class="form-control">
                <option v-for="option in options" :value="option.value">
                  {{ option.text }}
                </option>
              </select>
            <button type="submit" class="btn btn-danger">GÖSTER</button>
            <button class="btn btn-default" @click="secimData_temizle()">TEMİZLE</button>
            <label>
              <input type="checkbox" v-model="secimData.iptaliade"/> İptal İade
            </label>
          </form>


          </div>
          <div class="col-sm-6 hidden-xs">
             <form class="form-inline" id="excel_form" action="/tum/excel" method="POST">
                <input type="hidden" name="product_ids" id="product_ids">
                <input type="hidden" name="_token" v-model="csrf">
                <button class="btn btn-success pull-right" @click.prevent="cikis_excel" type="button">EXCEL <i class="glyphicon glyphicon-save-file"></i></button>
            </form>
             <button v-on:click="cikis_yazdir" class="btn btn-default pull-right" style="margin:0 4px 0 4px;">YAZDIR <i class="glyphicon  glyphicon-print"></i></button>
            <form class="form-inline" @submit.prevent="ara()">
                <input type="text" name="order_number" v-model="searchData.order_number" placeholder="Sipariş No"  class="form-control">
                <input type="text" name="order_number" v-model="searchData.top_number" placeholder="Top No"  class="form-control">
                <input type="text" name="fatura_unvan" v-model="searchData.fatura_unvan" placeholder="Bayi"  class="form-control">
                <input type="text" name="mevcut_urun" v-model="searchData.mevcut_urun" placeholder="Ürün Kodu"  class="form-control">
                <button class="btn btn-danger" type="submit">ARA</button>
            </form>
            </div>
          </div>
      </div>
    </div>
    <div class="panel panel-warning" v-if="arama">
      <div class="panel-heading">
        ARAMA SONUÇLARI ({{veri.length}})
      </div>
    </div>
    <div class="panel panel-info" v-if="!arama">
      <div class="panel-heading">
        <a href="#" class="navbar-brand">TÜM SİPARİŞLER ({{veri.length}})</a>
        <button v-on:click="cek()" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-refresh"></i></button>
        <grid-loader style="position:absolute;left:350px;top:10px;" :loading="is_loading"></grid-loader>
      </div>
      <div class="panel-body">
       <span>İlk Tarih : <strong>{{secimData.tarih1}}</strong></span>
        <span>Son Tarih : <strong>{{secimData.tarih2}}</strong></span>
        <span v-show="secimData.order_number">Sipariş No:<strong>{{secimData.order_number}}</strong></span>
        <span v-show="secimData.status">Durum:<strong>{{durumlar[secimData.status]}}</strong></span>
        <span v-show="secimData.fatura_unvan">Bayi:<strong>{{secimData.fatura_unvan}}</strong></span>
        <span v-show="secimData.alici_adsoyad">Alt Bayi:<strong>{{secimData.alici_adsoyad}}</strong></span>
        <span v-show="secimData.ship">Teslim Şekli:<strong>{{secimData.ship}}</strong></span>
        <span v-if="kuryeler[secimData.kurye_id]">Kargo:<strong>{{kuryeler[secimData.kurye_id].name }}</strong></span>
        <span v-show="secimData.siparisalan">Sipariş Alan:<strong>{{secimData.siparisalan}}</strong></span>
        <span v-show="secimData.payment">Ödeme:<strong>{{secimData.payment}}</strong></span>
        <span v-show="secimData.payment_ok">Ödeme Var mı:<strong>{{secimData.payment_ok}}</strong></span>
     </div>
   </div>
   <div class="panel panel-info">
    <div class="panel-body">
      <table class="table table-bordered table-condensed">
        <thead>
         <tr v-if="!arama">
          <th><input type="text" size="6" v-model="secimData.order_number" @change="cek(false)" class="form-control"></th>
          <th>
            <select v-model="secimData.status" style="width:50px;" @change="cek(false)" class="form-control">
               <option value="">..</option>
              <option v-for="(value,index) in durumlar" :value="index">
                {{ value }}
              </option>
            </select>
          </th>
          <th></th>
          <th>
            <select v-model="secimData.fatura_unvan" @change="cek(false)" class="form-control">
                <option v-for="option in option_fatura_unvan">
                  {{ option }}
                </option>
              </select>
          </th>
          <th>
             <input type="text" v-model="secimData.top_number" @change="cek(false)" class="form-control">
          </th>
          <th>
             <select v-model="secimData.product_top" @change="cek(false)" class="form-control">
               <option v-for="option in option_product_tops">
                {{ option }}
              </option>
            </select>
          </th>
         <!--  <th>
            <select v-model="secimData.alici_adsoyad" @change="cek(false)" class="form-control">
                <option v-for="option in option_alici_adsoyad">
                  {{ option }}
                </option>
              </select>
          </th> -->
          <th>
             <select v-model="secimData.product_name" @change="cek(false)" class="form-control">
               <option v-for="option in option_product_names">
                {{ option }}
              </option>
            </select>
          </th>
          <th></th>
          <!-- <th></th> -->
          <th>
              <select v-model="secimData.siptar" @change="cek(false)" class="form-control">
                <option v-for="option in option_siptar">
                  {{ option }}
                </option>
              </select>
            </th>
            <th>
              <select v-model="secimData.cikis_tarihi" @change="cek(false)" class="form-control">
                <option v-for="option in option_cikis_tarihi">
                  {{ option }}
                </option>
              </select>
            </th>

          <!-- <th>
            <select v-model="secimData.kargo" style="width:50px;" @change="cek(false)" class="form-control">
              <option value="">..</option>
              <option value="0">Araç</option>
              <option value="1">Kargo</option>
            </select>
          </th> -->
          <!-- <th>
            <select v-model="secimData.kurye_id" style="width:50px;" @change="cek(false)" class="form-control">
              <option value="">..</option>
              <option v-for="(k,index) in kuryeler" :value="index">
                {{ k.name }}
              </option>
            </select>
          </th> -->
          <!-- <th>
            <input type="text" size="6" v-model="secimData.siparisalan" @change="cek(false)" class="form-control">
          </th> -->
         <!--   <th>
            <select v-model="secimData.payment" style="width:50px;" @change="cek(false)" class="form-control">
              <option value="">..</option>
              <option v-for="(value,index) in payments" :value="index">
                {{ value }}
              </option>
            </select>
          </th>
          <th>
              <select v-model="secimData.payment_ok" @change="cek(false)" class="form-control">
                <option value="">..</option>
                <option value="1">VAR</option>
                <option value="0">YOK</option>
              </select>
          </th> -->
        </tr>
        <tr v-if="arama">
          <th><input type="text" size="6" v-model="searchData.order_number" @change="ara(false)" class="form-control"></th>
          <th>
            <select v-model="searchData.status" style="width:50px;" @change="ara(false)" class="form-control">
               <option value="">..</option>
              <option v-for="(value,index) in durumlar" :value="index">
                {{ value }}
              </option>
            </select>
          </th>
          <th></th>
          <th>
            <select v-model="searchData.fatura_unvan" @change="ara(false)" class="form-control">
                <option v-for="option in option_fatura_unvan">
                  {{ option }}
                </option>
              </select>
          </th>
          <th>
             <input type="text" v-model="searchData.top_number" @change="ara(false)" class="form-control">
          </th>
          <th>
             <select v-model="searchData.product_top" @change="ara(false)" class="form-control">
               <option v-for="option in option_product_tops">
                {{ option }}
              </option>
            </select>
          </th>
         <!--  <th>
            <select v-model="searchData.alici_adsoyad" @change="ara(false)" class="form-control">
                <option v-for="option in option_alici_adsoyad">
                  {{ option }}
                </option>
              </select>
          </th> -->
          <th>
             <select v-model="searchData.product_name" @change="ara(false)" class="form-control">
               <option v-for="option in option_product_names">
                {{ option }}
              </option>
            </select>
          </th>
          <th></th>
          <!-- <th></th> -->
          <th>
              <select v-model="searchData.siptar" @change="ara(false)" class="form-control">
                <option v-for="option in option_siptar">
                  {{ option }}
                </option>
              </select>
            </th>
            <th>
              <select v-model="searchData.cikis_tarihi" @change="ara(false)" class="form-control">
                <option v-for="option in option_cikis_tarihi">
                  {{ option }}
                </option>
              </select>
            </th>

        </tr>
          <tr>
            <th></th>
            <th><a @click="setSort('status')" class="sort">Sipariş Durumu</a> <i v-if="secimData.sort=='status'" :class="sortClass"></i></th>
            <th>Resim</th>
            <th>Bayi</th>
            <!-- <th><a @click="setSort('alici_adsoyad')" class="sort">Alt Bayi</a> <i v-if="secimData.sort=='alici_adsoyad'" :class="sortClass"></i></th> -->
            <th>Top No</th>
            <th>Top</th>
            <th><a @click="setSort('product_name')" class="sort">Ürün</a> <i v-if="secimData.sort=='product_name'" :class="sortClass"></i></th>
            <th>Miktar</th>
            <th>Sipariş Tarihi</th>
            <th>Çıkış Tarihi</th>
           <!-- <th><a @click="setSort('ship')" class="sort">Teslim Şekli</a> <i v-if="secimData.sort=='ship'" :class="sortClass"></i></th> -->
            <!-- <th><a @click="setSort('kurye_id')" class="sort">Kargo</a> <i v-if="secimData.sort=='kurye_id'" :class="sortClass"></i></th> -->
            <!-- <th>Kaynak</th> -->
            <!-- <th>Ödeme</th>
            <th>Ödeme Varmı</th> -->
          </tr>
        </thead>
        <tbody>
        <tr v-for="op in veri" :id="op.id" v-on:contextmenu="openMenu(op,$event)" :class="{secili:op.id == op_id}">
          <td>
              <div class="btn-group">
                <a class="btn obtn" @click="showModal(op)" :class="op.irsaliye_no ? 'btn-danger':'btn-success'">
                  <!-- {{op.irsaliyesi.order_number}} -->
                  <span v-if="!op.irsaliye_no">_____</span>
                  <span v-if="op.irsaliye_no">{{op.irsaliye_no}}</span>
                </a>
              </div>
          </td>
          <td><label class="label" :class="labels[op.status]">{{durumlar[op.status]}}</label></td>
          <td><a v-if="op.product_image" :href="op.product_image.replace('uploads','uploads/org').replace('products','products/org')" target="_blank"><img :src="op.product_image" style="max-width:150px;max-height:70px;"></a></td>
          <td class="green">{{op.irsaliyesi.fatura_unvan}}</td>
          <!-- <td class="purple">{{op.alici_firma?op.alici_firma:op.alici_adsoyad}}</td> -->
          <td><span v-if="op.topu">{{op.topu.name}}</span></td>
          <td>{{op.product_top}}
            <span v-if="op.stock">({{(parseFloat(op.stock.product_top) * parseFloat(op.stock.product_height) / 10000).toFixed(2)}}m<sup>2</sup>)</span>
          </td>
          <td>
            {{op.mevcut_urun}} {{op.product_name}} ({{op.product_width}}x{{op.product_height}})
          </td>
          <td>{{parseInt(op.product_qty)}} ad.</td>
          <td>{{op.irsaliyesi.siptar}} </td>
          <td>{{op.cikis_tarihi}} </td>
          <!-- <td>{{op.kargo==1 ? 'Kargo' : 'Teslimat'}}</td> -->
          <!-- <td><span v-if="kuryeler[op.kurye_id]">{{kuryeler[op.kurye_id].name}}</span></td> -->
         <!--  <td>{{op.irsaliyesi.siparisalan}}</td> -->
          <!--
           <td>{{payments[op.irsaliyesi.payment]}}</td>
           <td>
            <span v-show="op.irsaliyesi.payment_ok" class="glyphicon glyphicon-check" aria-hidden="true"></span>
            <span v-show="!op.irsaliyesi.payment_ok" class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
          </td> -->
        </tr>
        <tr>
          <td colspan="5"></td>
          <td colspan="5">{{toplamMetrekare.toFixed(2)}} m<sup>2</sup></td>
        </tr>
      </tbody>
      </table>

     </div>
     </div>

     <irsaliye-modal :order_id="order_id" v-if="order_id" @kapatilacak="orderModalKapat()"></irsaliye-modal>
     <hareket-modal v-if="viewHareket" @kapatilacak="modalKapat()">
       <div v-html="hareket_data"></div>
       <slot name="footer">
         <button class="btn" @click="modalKapat()">KAPAT</button>
       </slot>
     </hareket-modal>

    <div class="right-click-menu" tabindex="-1" ref="right" v-if="viewMenu" v-on:blur="closeMenu"
     v-bind:style="{top:top, left:left}">
      <h4 class="text-center">{{order_number}}</h4>
       <ul>
          <li @click="mesaj_yazdir"><i class="glyphicon glyphicon-print"></i> Kart Yazdır</li>
          <li @click="irsaliye_yazdir" v-if="false"><i class="glyphicon glyphicon-print"></i> İrsaliye Yazdır</li>
          <li @click="hareket_getir"><i class="glyphicon glyphicon-list"></i> Sipariş Hareketleri</li>
          <li @click="uretimegeri" v-if="user.onay==1"><i class="glyphicon glyphicon-repeat"></i> Gelen Siparişlere Geri Gönder</li>
          <li @click="iptalet" v-if="user.iade==1"><i class="glyphicon glyphicon-remove"></i> İptal</li>
          <li @click="iadeet" v-if="user.iade==1"><i class="glyphicon glyphicon-remove"></i> İade</li>
      </ul>
    </div>
  </div>
</template>

<script>
  import GridLoader from 'vue-spinner/src/GridLoader.vue'
  import IrsaliyeModal from '../components/IrsaliyeModal.vue'
  import HareketModal from '../components/HareketModal.vue'
  import EditableDate from '../components/EditableDate.vue'
  export default {
    components: {
      GridLoader,
      IrsaliyeModal,
      HareketModal,
      EditableDate
    },
    data: function () {
    return {
        durumlar,
        labels,
        veri:{},
        api_link,
        pusher_channel,
        kuryeler,
        payments,
        colors,
        printHtml,
        order_id:0,
        op_id:0,
        irsaliye_no:"",
        hareket_data:"",
        arama:false,
        secimData:{tarih1,tarih2,tip:'siptar',iptaliade:false,order_number:"",status:"",fatura_unvan:"",alici_adsoyad:"",teslim_saati:"",ship:"",siparisalan:"",coupon_code:"",payment:"",payment_ok:"",sort:"created_at",direction:"desc"
        },
        options:[
          {text:'ÇIKIŞ TARİHİ',value:'cikis_tarihi'},
          {text:'SİPARİŞ TARİHİ',value:'siptar'}
        ],
        is_loading:true,
        user,
        searchData:{"iptaliade":true,"order_number":"","fatura_unvan":"","alici_adsoyad":"","top_number":""},
        checkedIrs:[],
        viewMenu:false,
        viewHareket:false,
        top: '0px',
        left: '0px',
        order_number:"",
        option_product_names:[''],
        option_product_tops:[''],
        option_fatura_unvan:[''],
        option_alici_adsoyad:[''],
        option_siptar:[''],
        option_cikis_tarihi:[''],
        csrf:""
      }
    },
    name: 'tum-page',
    methods: {
        secili:function(id,e){
          e.preventDefault()
          if(this.checkedIrs.indexOf(id) > -1){
            this.checkedIrs.splice(this.checkedIrs.indexOf(id),1);
          }else{
            this.checkedIrs.push(id);
          }
        },
        cek:function(on){
          this.veri={}
          this.arama = false
          this.is_loading=true
          this.order_id = 0
          this.$http.post(this.api_link+'/v1/tum',this.secimData)
          .then((response) => {
            if(response.status==200){
              this.veri = response.body.tum
              this.irsaliye_no = response.body.irsaliye_no

              var p= this.option_product_tops = [''];
              var n= this.option_product_names = [''];
              var a= this.option_alici_adsoyad = [''];
              var g= this.option_fatura_unvan = [''];
              var s= this.option_siptar = [''];
              var t= this.option_cikis_tarihi = [''];
              this.veri.forEach(function(op,k){

                if(p.indexOf(op.product_top) === -1){
                      p.push(op.product_top);
                }
                if(n.indexOf(op.product_name) === -1){
                    n.push(op.product_name);
                }
                if(a.indexOf(op.alici_adsoyad) === -1){
                    a.push(op.alici_adsoyad);
                }
                if(s.indexOf(op.irsaliyesi.siptar) === -1){
                    s.push(op.irsaliyesi.siptar);
                }
                if(g.indexOf(op.irsaliyesi.fatura_unvan) === -1){
                  g.push(op.irsaliyesi.fatura_unvan);
                }
                if(t.indexOf(op.cikis_tarihi) === -1){
                    t.push(op.cikis_tarihi);
                }
              })

            }
            this.is_loading=false
          },(error)=>{
            alert("hata..")
          });
        },
        ara:function(){
          this.arama = true
          this.is_loading=true
          this.$http.post(this.api_link+'/v1/search',this.searchData)
          .then(function(response) {
            this.veri = response.body
            this.is_loading=false
            var p= this.option_product_tops = [''];
              var n= this.option_product_names = [''];
              var a= this.option_alici_adsoyad = [''];
              var g= this.option_fatura_unvan = [''];
              var s= this.option_siptar = [''];
              var t= this.option_cikis_tarihi = [''];
              this.veri.forEach(function(op,k){

                if(p.indexOf(op.product_top) === -1){
                      p.push(op.product_top);
                }
                if(n.indexOf(op.product_name) === -1){
                    n.push(op.product_name);
                }
                if(a.indexOf(op.alici_adsoyad) === -1){
                    a.push(op.alici_adsoyad);
                }
                if(s.indexOf(op.irsaliyesi.siptar) === -1){
                    s.push(op.irsaliyesi.siptar);
                }
                if(g.indexOf(op.irsaliyesi.fatura_unvan) === -1){
                  g.push(op.irsaliyesi.fatura_unvan);
                }
                if(t.indexOf(op.cikis_tarihi) === -1){
                    t.push(op.cikis_tarihi);
                }
              })
          })
        },
        secimData_temizle:function(){
            this.secimData = {
              tarih1,tarih2,tip:'cikis_tarihi',iptaliade:false,order_number:"",status:"",fatura_unvan:"",alici_adsoyad:"",teslim_saati:"",ship:"",siparisalan:"",coupon_code:"",payment:"",payment_ok:"",sort:"updated_at",direction:""
          }
          this.searchData = {"iptaliade":true,"order_number":"","fatura_unvan":"","alici_adsoyad":"","coupon_code":""}
          this.cek()
        },
        iadeet:function(){
          let op_id = this.op_id
          this.closeMenu();
          this.$http.put(this.api_link+'/v1/iadeet',{op_id})
          .then(function(response) {
            this.cek();
          })
        },
        iptalet:function(){
          let op_id = this.op_id
          this.closeMenu();
          this.$http.put(this.api_link+'/v1/iptalet',{op_id})
          .then(function(response) {
            this.cek();
          })
        },
        uretimegeri:function(){
          let op_id = this.op_id
          this.closeMenu();
          this.$http.put(this.api_link+'/v1/uretimegeri',{op_id})
          .then(function(response) {
            this.cek();
          })
        },
        showModal:function(op){
          this.order_id = op.irsaliyesi.id
        },
        orderModalKapat:function(){
          this.order_id = 0;
        },
        hareket_getir:function(){
          this.closeMenu();
          this.viewHareket = true;
          let order_number = this.order_number;
          this.hareket_data = 'yükleniyor..';
          this.$http.post(this.api_link+'/v1/takip',{order_number})
          .then(function(response) {
            this.hareket_data = response.body;
          })
        },
        modalKapat:function(){
          this.viewHareket = 0;
          this.hareket_data = "";
          this.order_id = 0;
        },
        setMenu: function(event) {
          this.top = (event.clientY - 100) + 'px';
          this.left = event.clientX  + 'px';
        },
        openMenu: function(op,e) {

            this.order_number = op.irsaliyesi.order_number;
            //this.order_id = op.irsaliyesi.id;
            this.op_id = op.id;
            this.viewMenu = true;
            this.$nextTick(function() {
                this.$refs.right.focus();
                this.setMenu(e)
            });
            e.preventDefault();
        },
        closeMenu: function() {
          this.viewMenu = false
          this.op_id = 0
        },
        mesaj_yazdir:function(){
          let op_id = this.op_id
          this.closeMenu()
          this.$http
          .get(this.api_link+'/v1/print/mesaj/'+op_id)
          .then(function(response) {
                this.printHtml(response.body);
                this.order_id = 0;
                let self = this
                this.veri.forEach(function(op,k){
                  if(op_id == op.id){
                      op.irsaliye_no = "ok"
                  }
                })
            });
        },
        cikis_excel:function(){
          let product_ids = []
          this.veri.forEach(function(op,k){
              product_ids.push(op.id)
          })
          $("#product_ids").val(product_ids);
          $("#excel_form").submit();
        },
        cikis_yazdir:function(){
          let product_ids = []
          this.veri.forEach(function(op,k){
              product_ids.push(op.id)
          })
          this.closeMenu();
          this.$http
          .post(this.api_link+'/v1/print/cikis',{product_ids:product_ids})
          .then(function(response) {
                this.printHtml(response.body);
                let products = this.veri.products
                this.checkedPrd.forEach(function(v,k){
                  var io = products.find(item => item.id === v);
                  io.irsaliye_no = "ok"
                });
                this.checkedPrd.forEach(function(op,k){
                      console.log(op)
                })
            });
        },
        irsaliye_yazdir:function(){
          let op_id = this.op_id
          this.closeMenu()
          this.$http
          .get(this.api_link+'/v1/print/irsaliye/'+op_id+'?irs_no='+this.irsaliye_no)
          .then(function(response) {
                this.printHtml(response.body);
                this.order_id = 0;
                if(this.irsaliye_no.length > 0){
                  let seri = this.irsaliye_no.charAt(0);
                  let no = this.irsaliye_no.slice(1);
                  this.irsaliye_no = seri+this.pad(parseInt(no)+1,no.length);
                }
            });
        },
        pad:function(str, max) {
          str = str.toString();
          return str.length < max ? this.pad("0" + str, max) : str;
        },
        setSort:function(field){
          this.secimData.sort = field
          if(this.secimData.direction == "asc"){
            this.secimData.direction = "desc"
          }else if(this.secimData.direction == "desc"){
            this.secimData.direction = "asc"
          }else{
            this.secimData.direction = "asc"
          }
          this.cek()
        }
    },
    computed:{
      sortClass:function(){
        if(this.secimData.direction=='asc'){
          return 'glyphicon glyphicon-arrow-down'
        }else{
          return 'glyphicon glyphicon-arrow-up'
        }
      },
      toplamMetrekare:function(){
        var m2=0;
        if(this.veri.length){
          this.veri.forEach(function(op,k){
            if(op.stock){
              m2+= parseFloat(op.product_qty) * parseFloat(op.stock.product_top) * parseFloat(op.stock.product_height) / 10000;
            }
          })
        }
        return m2;
      }
    },
    created:function(){
      this.cek(true);
      this.csrf =  document.querySelector('meta[name="csrf-token"]').getAttribute('content')
    }
  }
</script>
