<style scoped>

</style>

<template>
<div>
    <div class="panel panel-info">
      <div class="panel-heading">
        ETİKETİ BASILACAK SİPARİŞLER <span v-if="veri.uretilmis">({{veri.uretilmis.length}})</span>

        <button v-on:click="cek(false)" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-refresh"></i></button>
        <button v-on:click="hepsiniSec" class="btn btn-default btn-circle"><i class="glyphicon  glyphicon-flash"></i></button>
        <button v-on:click="etiket_yazdir" class="btn btn-default" :disabled="checkedIrs.length==0">ETİKET <i class="glyphicon  glyphicon-print"></i></button>
        <button @click="temizle()" class="btn btn-default" style="margin-left:10px;" title="TEMİZLE"><i class="glyphicon glyphicon-remove"></i></button>
        <grid-loader style="position:absolute;left:380px;top:10px;" :loading="is_loading"></grid-loader>

        <div class="pull-right form-inline">
            <button class="btn btn-danger" :disabled="checkedIrs.length==0" @click="transfere"> TRANSFERE ALINDI</button>
        </div>
      </div>
    <div class="panel-body" v-if="veri.uretilmis">

      <table class="table table-bordered">
       <thead>
           <tr>
            <th><input type="text" size="6" v-model="secimData.order_number" @change="cek(false)" class="form-control" placeholder="No"></th>
            <th></th>
            <th>
              <select v-model="secimData.mevcut_urun" @change="cek(false)" class="form-control">
                <option v-for="option in option_mevcut_urun">
                  {{ option }}
                </option>
              </select>
             </th>
            <th>
              <select v-model="secimData.product_name" @change="cek(false)" class="form-control">
                <option v-for="option in option_names">
                  {{ option }}
                </option>
              </select>
            </th>
           <th>
             <select v-model="secimData.top_id" @change="cek(false)" class="form-control">
               <option v-for="option in option_tops" :value="option">
                {{ top_names[option] }}
              </option>
            </select>
            </th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
           <th>
              <select v-model="secimData.product_desc" @change="cek(false)" class="form-control">
                <option v-for="option in option_product_desc">
                  {{ option }}
                </option>
              </select>
            </th>
            <th>
              <select v-model="secimData.siptar" @change="cek(false)" class="form-control">
                <option v-for="option in option_siptar">
                  {{ option }}
                </option>
              </select>
            </th>
            <th>
              <select v-model="secimData.cikis_tarihi" @change="cek(false)" class="form-control">
                <option v-for="option in option_cikis_tarihi">
                  {{ option }}
                </option>
              </select>
            </th>

            <th>
              <select v-model="secimData.fatura_unvan" @change="cek(false)" class="form-control">
                <option v-for="option in option_fatura_unvan">
                  {{ option }}
                </option>
              </select>
            </th>
            <th>
              <input type="text" size="6" v-model="secimData.alici_adsoyad" @change="cek(false)" class="form-control" placeholder="Alt Bayi">
            </th>

          </tr>

          <tr>
            <th></th>
            <th></th>
            <th>Kod</th>
            <th>Kalite</th>
            <th><a @click="setSort('top_id')" class="sort">Top No</a> <i v-if="secimData.sort=='top_id'" :class="sortClass"></i></th>
            <th>Top</th>
            <th>Ölçü</th>
            <th>Miktar</th>
            <th>Okunan</th>
            <th>Müşteri Notu</th>
            <th>Sipariş Tarihi</th>
            <th>Çıkış Tarihi</th>
            <th>Bayi</th>
            <th><a @click="setSort('alici_adsoyad')" class="sort">Alt Bayi</a> <i v-if="secimData.sort=='alici_adsoyad'" :class="sortClass"></i></th>

          </tr>
        </thead>
        <tbody>
        <tr v-for="op in veri.uretilmis" :id="op.id" :class="{secili:checkedIrs.indexOf(op.id)>-1}" @mousedown="startDrag" @mousemove="doDrag(op.id,$event)" @click.stop="secili(op.id,$event)" v-on:contextmenu="openMenu(op,$event)" >
          <td>
              <div class="btn-group">
                <a class="btn obtn" @click="showModal(op)" :class="op.irsaliye_no ? 'btn-danger':'btn-success'">
                  <i class="icon-edit"></i>
                  <!-- {{op.irsaliyesi.order_number}} -->
                  <span v-if="!op.irsaliye_no">_____</span>
                  <span v-if="op.irsaliye_no">{{op.irsaliye_no}}</span>
                </a>
                <h4>{{op.irsaliye_no}}</h4>
              </div>
          </td>
          <td><a v-if="op.product_image" :href="op.product_image.replace('uploads','uploads/org').replace('products','products/org')" target="_blank"><img :src="op.product_image" style="max-width:150px;max-height:70px;"></a></td>
          <td>{{op.mevcut_urun}}</td>
          <td>{{op.product_sku}} {{op.product_name}}
          </td>
          <td>{{top_names[op.top_id]}}</td>
          <td>{{op.product_top}}</td>
          <td>{{op.product_width}}x{{op.product_height}}</td>
          <td class="text-right">{{parseInt(op.product_qty)}} </td>
          <td>{{op.okunan ? op.okunan.split(",").length : ""}} </td>
          <td class="red">{{op.product_desc}}</td>
          <td>{{op.irsaliyesi.siptar}} </td>
          <td>{{op.cikis_tarihi}} </td>
          <td class="green">{{op.irsaliyesi.fatura_unvan}} </td>
          <td class="purple">{{op.alici_firma?op.alici_firma:op.alici_adsoyad}}</td>
        </tr>
      </tbody>
      <tfoot>
         <tr>
            <th colspan="7"></th>
            <th class="text-right"><strong>{{totalItem}}</strong></th>
            <th colspan="6"></th>
         </tr>
      </tfoot>
      </table>
     </div>
     </div>
     <div class="panel panel-warning" v-if="veri.kismiuretim">
      <div class="panel-heading">
        KISMİ ÜRETİLENLER <span v-if="veri.kismiuretim.length">({{veri.kismiuretim.length}})</span>
      </div>

    <div class="panel-body" v-if="veri.kismiuretim.length">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Müşteri Notu</th>
            <th>Bayi</th>
            <th>Alt Bayi</th>
            <th>Ürünler</th>
            <th>Sipariş Tarihi</th>
            <th>Teslim Şekli</th>
            <th>Kaynak</th>
            <th>Ödeme</th>
            <th>Alındı mı</th>
            <th>Kayıt Zamanı</th>
          </tr>
        </thead>
        <tbody>
        <tr v-for="op in veri.kismiuretim" :id="op.id" :key="op.id">
          <td>
              <div class="btn-group">
                <a class="btn obtn" @click="showModal(op)"  :class="op.irsaliye_no ? 'btn-danger':'btn-primary'">
                   {{op.irsaliyesi.order_number}}
                   <!-- <span v-if="op.irsaliye_no"><br>{{op.irsaliye_no}}</span> -->
                </a>
              </div>
          </td>
          <td class="red">{{op.product_desc}}</td>
          <td>{{op.irsaliyesi.fatura_unvan}} </td>
          <td>{{op.alici_firma?op.alici_firma:op.alici_adsoyad}} </td>
          <td>
            <div class="row">
                <div class="col-xs-2"><b>{{parseInt(op.product_qty)}}</b></div>
                <div class="col-xs-6">
              {{op.product_name}} {{op.product_options}}</div>
                <div class="col-xs-4"><a v-if="op.product_image" :href="'/uploads/org/'+op.product_image" target="_blank"><img :src="'/uploads/'+op.product_image" style="max-width:80px;max-height:40px;" class="img img-responsive pull-right"></a></div>
              </div>
          </td>
          <td>{{op.irsaliyesi.siptar}} </td>
          <td>{{op.kargo == 1 ? 'Kargo' : 'Teslimat'}}</td>
          <td>{{op.irsaliyesi.siparisalan}}</td>
          <td>{{payments[op.irsaliyesi.payment]}}</td>
          <td>
            <span v-show="op.irsaliyesi.payment_ok" class="glyphicon glyphicon-check" aria-hidden="true"></span>
            <span v-show="!op.irsaliyesi.payment_ok" class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
          </td>
          <td>{{op.created_at}}</td>
        </tr>
      </tbody>
      </table>
     </div>
    </div>
      <irsaliye-modal :order_id="order_id" v-if="order_id" @kapatilacak="orderModalKapat()"></irsaliye-modal>
      <div class="right-click-menu" tabindex="-1" ref="right" v-if="viewMenu" v-on:blur="closeMenu"
     v-bind:style="{top:top, left:left}">
      <h4 class="text-center">{{order_number}}</h4>
       <ul>
          <li @click="etiket_yazdir"><i class="glyphicon glyphicon-print"></i> Seçilenleri Yazdır</li>
          <!-- <li @click="irsaliye_yazdir" v-if="false"><i class="glyphicon glyphicon-print"></i> İrsaliye Yazdır</li> -->
          <li @click="dagit"><i class="glyphicon glyphicon-step-forward"></i> Transfere Alındı</li>
      </ul>
    </div>
  </div>
</template>

<script>
  import GridLoader from 'vue-spinner/src/GridLoader.vue'
  import IrsaliyeModal from '../components/IrsaliyeModal.vue'

  export default {
    components: {
      GridLoader,
      IrsaliyeModal
    },
    data: function () {
    return {
        veri:{},
        api_link,
        pusher_channel,
        colors,
        printHtml,
        order_id:0,
        irsaliye_no:"",
        op_id:0,
        dagitimvar:0,
        is_loading:false,
        user,
        payments,
        checkedIrs:[],
        viewMenu:false,
        top: '0px',
        left: '0px',
        secimData,
        dragging:false,
        currentDragId:0,
        option_tops:[''],
        option_names:[''],
        option_fatura_unvan:[''],
        option_mevcut_urun:[''],
        option_bize_mesaj:[''],
        option_siptar:[''],
        option_cikis_tarihi:[''],
        oku:"",
        top_names
      }
    },
    name: 'uretilen-page',
    methods: {
        startDrag() {
          this.dragging = true;
        },
        stopDrag() {
          this.dragging = false;
          this.currentDragId = 0;
        },
        doDrag(id,e) {
          e.preventDefault()
          if (this.dragging && this.currentDragId !== id) {
            if(this.checkedIrs.indexOf(id) > -1){
              this.checkedIrs.splice(this.checkedIrs.indexOf(id),1);
            }else{
              this.checkedIrs.push(id);
            }
            this.currentDragId = id
          }
        },
        secili:function(id,e){
          if(e.target.nodeName=='A' || e.target.nodeName=='IMG'){
            return;
          }
          e.preventDefault()
          if(this.checkedIrs.indexOf(id) > -1){
            this.checkedIrs.splice(this.checkedIrs.indexOf(id),1);
          }else{
            this.checkedIrs.push(id);
          }
        },
        cek:function(on){
          this.is_loading=true
          this.checkedIrs = []
          this.$http.post(this.api_link+'/v1/uretilen',this.secimData)
          .then((response) => {
            if(response.status==200){
              this.veri = response.body
              this.irsaliye_no = response.body.irsaliye_no
              if(on){
                var o = this.option_tops = [''];
                var n= this.option_names = [''];
                var g= this.option_fatura_unvan = [''];
                var m= this.option_mevcut_urun = [''];
                var b= this.option_product_desc = [''];
                var s= this.option_siptar = [''];
                var t= this.option_cikis_tarihi = [''];
                this.veri.uretilmis.forEach(function(op,k){
                  if(o.indexOf(op.top_id) === -1){
                      o.push(op.top_id);
                  }
                  if(n.indexOf(op.product_name) === -1){
                      n.push(op.product_name);
                  }
                  if(g.indexOf(op.irsaliyesi.fatura_unvan) === -1){
                      g.push(op.irsaliyesi.fatura_unvan);
                  }
                  if(m.indexOf(op.mevcut_urun) === -1){
                      m.push(op.mevcut_urun);
                  }
                  if(b.indexOf(op.product_desc) === -1){
                      b.push(op.product_desc);
                  }
                  if(s.indexOf(op.irsaliyesi.siptar) === -1){
                      s.push(op.irsaliyesi.siptar);
                  }
                  if(t.indexOf(op.cikis_tarihi) === -1){
                      t.push(op.cikis_tarihi);
                  }
                })
              }
            }
            this.is_loading=false
          },(error)=>{
            alert("hata..")
          });
        },
        eklendi:function(order_id){
          this.cek(false)
        },
        dagit:function(){

            if(this.checkedIrs.length>0){
              this.transfere();
            }else{
              alert("Lütfen seçim yapınız..")
            }
            this.closeMenu();

        },
        transfere:function(){
          this.is_loading=true
            let checkedIrs = this.checkedIrs
            this.$http.put(this.api_link+'/v1/transfere',{checkedIrs}).then((response)=>{
              if(response.status == 200){
                this.uretilendenCikar(this.checkedIrs)
                 this.is_loading=false
              }else{
                alert("Bir problem oluştu, lütfen tekrar deneyiniz..");
                 this.is_loading=false
              }
            });
        },
        uretilendenCikar:function(checkedIrs){
          var indexRemove;
          var i = 0;
          var uretilmis = this.veri.uretilmis;
          checkedIrs.forEach(function(v,k){
            var io = uretilmis.findIndex(item => item.id === v);
            if(io>-1){
              uretilmis.splice(io, 1);
            }
          });
          this.veri.uretilmis = uretilmis
          this.checkedIrs = []
        },
        showModal:function(op){
          this.order_id = op.irsaliyesi.id
        },
        orderModalKapat:function(){
          this.order_id = 0;
        },
        setMenu: function(event) {
          this.top = (event.clientY - 100) + 'px';
          this.left = event.clientX  + 'px';
        },
        openMenu: function(op,e) {
            if(e.target.nodeName==='H4'){
              return;
            }
            this.order_number = op.irsaliyesi.order_number;
            this.op_id = op.id;
            //this.order_id = op.irsaliyesi.id;
            this.viewMenu = true;
            this.$nextTick(function() {
                this.$refs.right.focus();
                this.setMenu(e)
            });
            e.preventDefault();
        },
        closeMenu: function() {
          this.viewMenu = false;
        },
        etiket_yazdir:function(){
          var t = this
          t.closeMenu();
          let secili = this.checkedIrs
          var printData = []
          t.veri.uretilmis.forEach(function(op,k){
            if(secili.indexOf(op.id) !== -1){
                for(var adet=1;adet<=op.product_qty;adet++){

                  var barkod_no = op.irsaliye_no+"-"+adet;
                  //var aciklama = op.irsaliyesi.bize_mesaj ? t.karakter(op.irsaliyesi.bize_mesaj.substring(0,50)) : "";
                  var aciklama = op.product_options ? t.karakter(op.product_options.substring(0,50)) : "";
                  var mevcut_urun = op.mevcut_urun+" "+op.product_width+"x"+op.product_height
                  var cari = t.karakter(op.irsaliyesi.fatura_unvan.substring(0,50));

                  printData.push({barkod_no:barkod_no,product_top:op.product_top,product_sku:op.product_sku,aciklama:aciklama,mevcut_urun:mevcut_urun,cari:cari,stok_kodu:op.stok_kodu})
                }
            }
          })
          t.printEtiket(printData)
          return "";
          this.$http
          .post(this.api_link+'/v1/print/etiket',{product_ids:product_ids})
          .then(function(response) {
                this.printHtml(response.body);
                let products = this.veri.products
                this.checkedPrd.forEach(function(v,k){
                  var io = products.find(item => item.id === v);
                  io.irsaliye_no = "ok"
                });
                this.checkedPrd.forEach(function(op,k){
                      console.log(op)
                })
            });
        },
        irsaliye_yazdir:function(){
          this.closeMenu();
          this.$http
          .get(this.api_link+'/v1/print/irsaliye/'+this.op_id+'?irs_no='+this.irsaliye_no)
          .then(function(response) {
                this.printHtml(response.body);
                //PHE.printHtml(response.body);
                this.op_id = 0;
                if(this.irsaliye_no.length > 0){
                  let seri = this.irsaliye_no.charAt(0);
                  let no = this.irsaliye_no.slice(1);
                  this.irsaliye_no = seri+this.pad(parseInt(no)+1,no.length);
                }

            });
        },
        pad:function(str, max) {
        str = str.toString();
        return str.length < max ? this.pad("0" + str, max) : str;
        },
        temizle:function(){
          this.checkedIrs = []
          this.secimData = {order_number:"",bize_mesaj:"",semt_adi:"",fatura_unvan:"",alici_adsoyad:"",product_name:"",teslim_saati:"",kargo:"",siparisalan:"",payment:"",payment_ok:"",sort:"created_at",direction:"desc"}
          this.cek(false)
        },
        hepsiniSec:function(){
          let secili = this.checkedIrs
          this.veri.uretilmis.forEach(function(op,k){
            if(secili.indexOf(op.id) === -1){
                secili.push(op.id);
            }
          })
        },
        setSort:function(field){
          this.secimData.sort = field
          if(this.secimData.direction == "asc"){
            this.secimData.direction = "desc"
          }else if(this.secimData.direction == "desc"){
            this.secimData.direction = "asc"
          }else{
            this.secimData.direction = "asc"
          }
          this.cek(false)
        },
        printEtiket:function(printData){
          var data = []
          printData.forEach(function(item){

                data.push('c0000\n');
                data.push('KI501\n');
                data.push('O0220\n');
                data.push('f220\n');
                data.push('KW0278\n');
                data.push('KI7\n');
                data.push('V0\n');
                data.push('L\n');
                data.push('H12\n');
                data.push('PC\n');
                data.push('A2\n');
                data.push('D11\n');
                data.push('1a4205100840083'+item.barkod_no+'\n');
                data.push('121100000260129'+item.aciklama+'\n');
                data.push('121100000390129'+item.mevcut_urun+'\n');
                data.push('131100000520129'+item.cari+'\n');
                data.push('1a6204800200011'+item.stok_kodu+'\n');
                data.push('141100000830011'+item.product_top+'\n');
                data.push('141100001040011'+item.product_sku+'\n');
                data.push('191100200710128'+item.barkod_no+'\n');
                data.push('191100200040031'+item.stok_kodu+'\n');
                data.push('^01\n');
                data.push('Q0001\n');
                data.push(':0001\n');
                data.push('E\n');

          });

          var config = qz.configs.create("argoxUSB");

          qz.print(config, data).catch(displayError);

        },
        karakter:function(str){
          return str.replace('Ğ','G')
            .replace('Ü','U')
            .replace('Ş','S')
            .replace('İ','I')
            .replace('Ö','O')
            .replace('Ç','C')
            .replace('ğ','g')
            .replace('ü','u')
            .replace('ş','s')
            .replace('ı','i')
            .replace('ö','o')
            .replace('ç','c');
        }
    },
    computed:{
      sortClass:function(){
        if(this.secimData.direction=='asc'){
          return 'glyphicon glyphicon-arrow-down'
        }else{
          return 'glyphicon glyphicon-arrow-up'
        }
      },
      totalItem: function(){
        let sum = 0;
        this.veri.uretilmis.forEach(function(item) {
          sum += parseFloat(item.product_qty);
        });

        return sum;
      }
    },
    created:function(){
      this.cek(true);
    },
    mounted() {
      window.addEventListener('mouseup', this.stopDrag);
    }
  }
</script>
