<style scoped>
 .drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 300px;
  font-family: sans-serif;
  padding: 20px;
}
.drop-area.highlight {
  border-color: purple;
}
</style>

<template>

<div>
 <div class="panel panel-danger">
      <div class="panel-heading">
        ÜRÜNLER  ({{images.length}}) &nbsp;&nbsp;&nbsp;&nbsp;
        <span v-if="arama">
           <h4>ARAMA SONUÇLARI</h4>
        </span>
        <grid-loader style="position:absolute;left:380px;top:10px;" :loading="is_loading"></grid-loader>
        <button class="btn btn-warning" @click="yeni_urun=true">YENİ ÜRÜN</button>
      </div>

    <div  class="panel-body">

      <table class="table table-bordered table-condensed">
        <thead>
           <tr v-if="!arama">
              <th></th>
              <th><input type="text" class="form-control" v-model="secimData.name" @change="cek" placeholder="Ürün Adı"></th>
              <th colspan="2">
                <input type="text" class="form-control" v-model="secimData.filename" @change="cek" placeholder="Ürün">
              </th>
              <th>
                <select v-model="secimData.catalog_id" @change="cek" class="form-control">
                   <option value="">..</option>
                  <option v-for="(v,k) in katalog" :key="k" :value="k">{{v}}</option>
                </select>
              </th>
              <th>
                <select v-model="secimData.status"  @change="cek" class="form-control">
                   <option value="">..</option>
                  <option value="0">KAPALI</option>
                  <option value="1">AÇIK</option>
                </select>
              </th>
              <th>&nbsp;</th>
            </tr>
          <tr>
            <th>No</th>
            <th>Ürün</th>
            <th colspan="2">Resim</th>
            <th>Katalog</th>
            <th>Bayi</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        <tr v-for="image in images.data" :id="image.id">
          <td>
              {{image.id}}
          </td>
          <td>
            <editable-text v-model="image.name" @changed="degisti(image)"></editable-text>
          </td>
          <td>
            <img :src="image.filename" width="75">
          </td>
          <td>
            <input type="file" @change="saveImage($event,image)" class="drop-area">
          </td>
          <td>
            <editable-select  v-model="image.catalog_id"  :options="katalog" @changed="degisti(image)"></editable-select>
          </td>
          <td>
            <editable-select  v-model="image.customer_id"  :options="customers" @changed="degisti(image)"></editable-select>
          </td>

          <td>
            <input
                type="checkbox"
                v-model="image.status"
                v-bind:true-value=1
                v-bind:false-value=0
                @change="degisti(image)"
            >
          </td>
          <td><button class="btn btn-xs btn-danger" @click="sil(image)"><i class="fa fa-recycle"></i></button></td>
        </tr>
      </tbody>
      </table>
      <h1>SAYFALAMA</h1>
      <pagination :data="images" @pagination-change-page="cek"></pagination>
     </div>
    </div>
    <urun-modal v-if="yeni_urun" @kapatilacak="yeniModalKapat()"></urun-modal>
</div>
</template>

<script>
  import GridLoader from 'vue-spinner/src/GridLoader.vue'
  import UrunModal from '../components/UrunModal.vue'
  import EditableText from '../components/EditableText.vue'
  import EditableSelect from '../components/EditableSelect.vue'
  import { FileUploadService } from 'v-file-upload'
  import pagination from 'laravel-vue-pagination'

  export default {
    components: {
      GridLoader,
      EditableText,
      EditableSelect,
      UrunModal,
      pagination
    },
    data: function () {
    return {
        api_link,
        pusher_channel,
        images,
        customers,
        image_id:0,
        user,
        viewMenu:false,
        arama:false,
        top: '0px',
        left: '0px',
        is_loading:false,
        yeni_urun:false,
        secimData:{
            name:"",
            filename:"",
            status:"1",
            catalog_id:"1"
        },
        katalog
      }
    },
    name: 'urun-page',
    methods: {

        cek:function(page=1){
          this.images={}
          this.arama=false
          this.is_loading=true
          this.$http.post(this.api_link+'/v1/urun?page='+page,this.secimData)
          .then((response) => {
            if(response.status==200){
              this.images = response.body
            }
            this.is_loading=false
          },(error)=>{
            if(error.status ==401){
              this.$localStorage.remove("user")
              this.$router.push('/login')
            }
          });
        },
        getResults:function(){
          console.log(images)
        },
        degisti:function(urun){
          this.is_loading=true
          this.$http.patch(this.api_link+'/v1/urun/'+urun.id,urun)
          .then((response) => {
            this.is_loading=false
          },(error)=>{
            if(error.status ==401){
              this.$localStorage.remove("user")
              this.$router.push('/login')
            }
          });
        },
        sil:function(urun){
          if(confirm("Ürün silinecek?")){
            this.is_loading=true
            this.$http.delete(this.api_link+'/v1/urun/'+urun.id)
            .then((response) => {
              this.cek()
            },(error)=>{
              if(error.status ==401){
                this.$localStorage.remove("user")
                this.$router.push('/login')
              }
            });
          }
        },
        temizle:function(){
          this.checkedIrs = []
        },
        yeniModalKapat:function(){
          this.yeni_urun = false
          this.cek()
        },
        saveImage(e,image) {
        let file = e.target.files[0];

        let fileUpload = new FileUploadService(
          this.api_link+'/v1/urun/upload/'+image.id,
          {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
          this.onProgress
        )
        fileUpload
          .upload(file)
          .then(e => {
            this.is_loading=false
            image.filename = e.target.response.image
          })
          .catch(e => {
            // Handle error
          })
      },
      onProgress(e){
        this.is_loading=true
      },
    },
    created:function(){

    }
  }
</script>
