
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: rgb(180, 8, 3);
$brand-info: #519ece;
$brand-success: #1fad06;
$brand-warning: #e79223;
$brand-danger:  #df2465;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Ruda", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
$navbar-default-link-color:                rgb(231, 218, 218) !default;
$navbar-default-link-hover-color:          rgb(179, 164, 164) !default;
$navbar-default-color: #3C006C;
$navbar-default-bg: #FFFFFF;

$state-info-text:                $brand-info;
$state-info-bg:                  lighten($brand-info, 40%);
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:                $brand-warning;
$state-warning-bg:                  lighten($brand-warning, 40%);
$state-warning-border:              darken(adjust-hue($state-warning-bg, -10), 7%) !default;
