/* BASIC THEME CONFIGURATION */

body {
  color: $text-color;
  background: $body-bg;
  font-family: 'Ruda', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
}

::selection, ::-moz-selection {
  background: $brand-primary;
  color: #fff;
}

#container {
  width: 100%;
  height: 100%;
}

/* Bootstrap Modifications */

.modal-header {
  background: $brand-primary;
}

.modal-title {
  color: white;
}

.btn-round {
  border-radius: 20px;
  -webkit-border-radius: 20px;
}

.accordion-heading .accordion-toggle {
  display: block;
  cursor: pointer;
  border-top: 1px solid #F5F5F5;
  padding: 5px 0px;
  line-height: 28.75px;
  color: #1a1a1a;
  background-color: #ffffff;
  outline: none !important;
  text-decoration: none;
}
.btn-clear-g {
  color: $brand-info;
  background: transparent;
  border-color: $brand-info;
  &:hover {
    color: white;
  }
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid $text-color;
}

/*Helpers*/

.centered {
  text-align: center;
}

.goleft {
  text-align: left;
}

.goright {
  text-align: right;
}

.mt {
  margin-top: 25px;
}

.mb {
  margin-bottom: 25px;
}

.ml {
  margin-left: 5px;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

/*Exclusive Theme Colors Configuration*/

.label-theme, .bg-theme {
  background-color: $brand-primary;
}

ul.top-menu > li > .logout {
  color: $body-bg;
  font-size: 12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid $brand-info !important;
  padding: 5px 15px;
  margin-right: 15px;
  background: $brand-primary;
  margin-top: 15px;
}

/*sidebar navigation*/

#sidebar {
  width: 210px;
  height: 100%;
  position: fixed;
  background: #424a5d;
  h5 {
    color: $body-bg;
    font-weight: 700;
  }
  ul li {
    position: relative;
  }
  .sub-menu > .sub li {
    padding-left: 32px;
    &:last-child {
      padding-bottom: 10px;
    }
  }
}

/*LEFT NAVIGATION ICON*/

.dcjq-icon {
  height: 17px;
  width: 17px;
  display: inline-block;
  background: url("/images/nav-expand.png") no-repeat top;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: absolute;
  right: 10px;
  top: 15px;
}

.active .dcjq-icon {
  background: url("/images/nav-expand.png") no-repeat bottom;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/*---*/

.nav-collapse.collapse {
  display: inline;
}

ul.sidebar-menu {
  margin: -2px 0 0;
  padding: 0;
  li ul.sub {
    margin: -2px 0 0;
    padding: 0;
  }
  margin-top: 75px;
}

#sidebar > ul > li {
  > ul.sub {
    display: none;
  }
  &.active > ul.sub, > ul.sub > li > a {
    display: block;
  }
}

ul.sidebar-menu li {
  ul.sub li {
    background: #424a5d;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    &:last-child {
      border-radius: 0 0 4px 4px;
      -webkit-border-radius: 0 0 4px 4px;
    }
    a {
      font-size: 12px;
      padding: 6px 0;
      line-height: 35px;
      height: 35px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      color: #aeb2b7;
      &:hover {
        color: white;
        background: transparent;
      }
    }
    &.active a {
      color: $brand-primary;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      display: block;
    }
  }
  /*line-height: 20px !important;*/
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  &.sub-menu {
    line-height: 15px;
  }
  a {
    span {
      display: inline-block;
    }
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &.active, &:hover, &:focus {
      background: $brand-primary;
      color: #fff;
      display: block;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    i {
      font-size: 15px;
      padding-right: 6px;
    }
    &:hover i, &:focus i, &.active i {
      color: #fff;
    }
  }
}

.mail-info {
  margin: -3px 6px 0 0;
  font-size: 11px;
  &:hover {
    margin: -3px 6px 0 0;
    font-size: 11px;
  }
}

/* MAIN CONTENT CONFIGURATION */


.header, .footer {
  min-height: 50px;
  padding: 0 15px;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1002;
}

.black-bg {
  background: $navbar-default-color;
  border-bottom: 1px solid #c9aa5f;
}

.wrapper {
  margin-top:70px;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 0px;
  width: 100%;
}

a.logo {
  font-size: 20px;
  color: #ffffff;
  float: left;
  margin-top: 15px;
  b {
    font-weight: 900;
  }
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
  span {
    color: $brand-primary;
  }
}

/*notification*/

#top_menu .nav > li, ul.top-menu > li {
  float: left;
}

.notify-row {
  float: left;
  margin-top: 15px;
  margin-left: 92px;
  .notification span.label {
    display: inline-block;
    height: 18px;
    width: 20px;
    padding: 5px;
  }
}

ul.top-menu > li > a {
  color: #666666;
  font-size: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #666666 !important;
  padding: 2px 6px;
  margin-right: 15px;
  &:hover, &:focus {
    border: 1px solid #b6b6b6 !important;
    background-color: transparent !important;
    border-color: #b6b6b6 !important;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #b6b6b6 !important;
  }
}

.notify-row .badge {
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 100;
}

.dropdown-menu {
  &.extended {
    max-width: 300px !important;
    min-width: 160px !important;
    top: 42px;
    width: 235px !important;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
    border: none !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    li {
      p {
        background-color: #F1F2F7;
        color: #666666;
        margin: 0;
        padding: 10px;
        border-radius: 4px 4px 0px 0px;
        -webkit-border-radius: 4px 4px 0px 0px;
        &.green {
          background-color: $brand-primary;
          color: #fff;
        }
        &.yellow {
          background-color: $brand-warning;
          color: #fff;
        }
      }
      a {
        border-bottom: 1px solid #EBEBEB !important;
        font-size: 12px;
        list-style: none;
        padding: 15px 10px !important;
        width: 100%;
        display: inline-block;
        &:hover {
          background-color: #F7F8F9 !important;
          color: #2E2E2E;
        }
      }
    }
  }
  &.tasks-bar .task-info {
    .desc {
      font-size: 13px;
      font-weight: normal;
    }
    .percent {
      display: inline-block;
      float: right;
      font-size: 13px;
      font-weight: 600;
      padding-left: 10px;
      margin-top: -4px;
    }
  }
  &.extended .progress {
    margin-bottom: 0 !important;
    height: 10px;
  }
  &.inbox li a {
    .photo img {
      border-radius: 2px 2px 2px 2px;
      float: left;
      height: 40px;
      margin-right: 4px;
      width: 40px;
    }
    .subject {
      display: block;
      .from {
        font-size: 12px;
        font-weight: 600;
      }
      .time {
        font-size: 11px;
        font-style: italic;
        font-weight: bold;
        position: absolute;
        right: 5px;
      }
    }
    .message {
      display: block !important;
      font-size: 11px;
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari and Chrome */
  .dropdown-menu.extended {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
  }
}

.top-nav {
  margin-top: 7px;
  ul.top-menu > li .dropdown-menu.logout {
    width: 268px !important;
  }
  li.dropdown .dropdown-menu {
    float: right;
    right: 0;
    left: auto;
  }
}

.dropdown-menu.extended.logout > li {
  float: left;
  text-align: center;
  width: 33.3%;
  &:last-child {
    float: left;
    text-align: center;
    width: 100%;
    background: $brand-success;
    border-radius: 0 0 3px 3px;
    > a {
      color: #fff;
      border-bottom: none !important;
      &:hover {
        color: #fff;
        border-bottom: none !important;
        > i {
          color: #fff;
        }
      }
    }
  }
  > a {
    color: #a4abbb;
    border-bottom: none !important;
  }
}

.full-width .dropdown-menu.extended.logout > li > a:hover {
  background: none !important;
  color: $brand-info !important;
}

.dropdown-menu.extended.logout > li > a {
  &:hover {
    background: none !important;
    i {
      color: $brand-info;
    }
  }
  i {
    font-size: 17px;
  }
  > i {
    display: block;
  }
}

.top-nav {
  ul.top-menu > li {
    > a {
      border: 1px solid #eeeeee;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      padding: 6px;
      background: none;
      margin-right: 0;
      &:hover, &:focus {
        border: 1px solid #F1F2F7;
        background: #F1F2F7;
      }
    }
    margin-left: 10px;
  }
  .dropdown-menu.extended.logout {
    top: 50px;
  }
  .nav .caret {
    border-bottom-color: #A4AABA;
    border-top-color: #A4AABA;
  }
  ul.top-menu > li > a:hover .caret {
    border-bottom-color: #000;
    border-top-color: #000;
  }
}

.log-arrow-up {
  background: url("/images/arrow-up.png") no-repeat;
  width: 20px;
  height: 11px;
  position: absolute;
  right: 20px;
  top: -10px;
}

/*----*/

.notify-arrow {
  border-style: solid;
  border-width: 0 9px 9px;
  height: 0;
  margin-top: 0;
  opacity: 0;
  position: absolute;
  left: 7px;
  top: -18px;
  transition: all 0.25s ease 0s;
  width: 0;
  z-index: 10;
  margin-top: 10px;
  opacity: 1;
}

.notify-arrow-yellow {
  border-color: transparent transparent $brand-warning;
  border-bottom-color: $brand-warning !important;
  border-top-color: $brand-warning !important;
}

.notify-arrow-green {
  border-color: transparent transparent $brand-primary;
  border-bottom-color: $brand-primary !important;
  border-top-color: $brand-primary !important;
}

/*--sidebar toggle---*/

.sidebar-toggle-box {
  float: left;
  padding-right: 15px;
  margin-top: 20px;
  .fa-bars {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
  }
}

.sidebar-closed {
  > #sidebar > ul {
    display: none;
  }
  #main-content {
    margin-left: 0px;
  }
  #sidebar {
    margin-left: -180px;
  }
}

/* Dash Side */

.ds {
  background: #ffffff;
  padding-top: 20px;
  h4 {
    font-size: 14px;
    font-weight: 700;
  }
  h3 {
    color: #ffffff;
    font-size: 16px;
    padding: 0 10px;
    line-height: 60px;
    height: 60px;
    margin: 0;
    background: $brand-warning;
    text-align: center;
  }
  i {
    font-size: 12px;
    line-height: 16px;
  }
  .desc {
    border-bottom: 1px solid #eaeaea;
    display: inline-block;
    padding: 15px 0;
    width: 100%;
    &:hover {
      background: $body-bg;
    }
  }
  .thumb {
    width: 30px;
    margin: 0 10px 0 20px;
    display: block;
    float: left;
  }
  .details {
    width: 170px;
    float: left;
  }
  > .desc p {
    font-size: 11px;
  }
  p > muted {
    font-size: 9px;
    font-style: italic;
    color: #666666;
  }
  a {
    color: $brand-primary;
  }
}

/* LINE ICONS CONFIGURATION */

.mtbox {
  margin-top: 80px;
  margin-bottom: 40px;
}

.box1 {
  padding: 15px;
  text-align: center;
  color: #989898;
  border-bottom: 1px solid #989898;
  span {
    font-size: 50px;
  }
  h3 {
    text-align: center;
  }
}

.box0 {
  &:hover .box1 {
    border-bottom: 1px solid #ffffff;
  }
  p {
    text-align: center;
    font-size: 12px;
    color: $body-bg;
  }
  &:hover {
    p {
      color: $brand-warning;
    }
    background: #ffffff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  }
}

/* MAIN CHART CONFIGURATION */

.main-chart {
  padding-top: 20px;
}

.mleft {}

.border-head h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 18px;
  display: inline-block;
  width: 100%;
  font-weight: 700;
  color: #989898;
}

.custom-bar-chart {
  height: 290px;
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
  border-bottom: 1px solid #c9cdd7;
  .bar {
    height: 100%;
    position: relative;
    width: 6%;
    margin: 0px 4%;
    float: left;
    text-align: center;
    z-index: 10;
    .title {
      position: absolute;
      bottom: -30px;
      width: 100%;
      text-align: center;
      font-size: 11px;
    }
    .value {
      position: absolute;
      bottom: 0;
      background: $brand-warning;
      color: $brand-primary;
      width: 100%;
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      &:hover {
        background: #2f2f2f;
        color: #fff;
      }
    }
  }
}

.y-axis {
  color: #555555;
  position: absolute;
  text-align: left;
  width: 100%;
  font-size: 11px;
  li {
    border-top: 1px dashed #dbdce0;
    display: block;
    height: 58px;
    width: 100%;
    &:last-child {
      border-top: none;
    }
    span {
      display: block;
      margin: -10px 0 0 -60px;
      padding: 0 10px;
      width: 40px;
    }
  }
}

/*Donut Chart Main Page Conf*/

.donut-main {
  display: block;
  text-align: center;
  h4 {
    font-weight: 700;
    font-size: 16px;
  }
}

/* *************************************************************************************
PANELS CONFIGURATIONS
*************************************************************************************** */

/*Panel Size*/

.pn {
  height: 250px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  &:hover {
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
  }
}

/*Grey Panel*/

.grey-panel {
  text-align: center;
  background: #dfdfe1;
  .grey-header {
    background: #ccd1d9;
    padding: 3px;
    margin-bottom: 15px;
  }
  h5 {
    font-weight: 200;
    margin-top: 10px;
  }
  p {
    margin-left: 5px;
  }
}

/* Specific Conf for Donut Charts*/

.donut-chart {
  p {
    margin-top: 5px;
    font-weight: 700;
    margin-left: 15px;
  }
  h2 {
    font-weight: 900;
    color: #FF6B6B;
    font-size: 38px;
  }
}

/* Dark Blue*/

.darkblue-panel {
  text-align: center;
  background: #444c57;
  .darkblue-header {
    background: transparent;
    padding: 3px;
    margin-bottom: 15px;
  }
  h1 {
    color: $body-bg;
  }
  h5 {
    font-weight: 200;
    margin-top: 10px;
    color: white;
  }
  footer {
    color: white;
    h5 {
      margin-left: 10px;
      margin-right: 10px;
      font-weight: 700;
    }
  }
}

/*Green Panel*/

.green-panel {
  text-align: center;
  background: $brand-primary;
  .green-header {
    background: $brand-success;
    padding: 3px;
    margin-bottom: 15px;
  }
  h5 {
    color: white;
    font-weight: 200;
    margin-top: 10px;
  }
  h3 {
    color: white;
    font-weight: 100;
  }
  p {
    color: white;
  }
}

/*White Panel */

.white-panel {
  text-align: center;
  background: #ffffff;
  color: #ccd1d9;
  p {
    margin-top: 5px;
    font-weight: 700;
    margin-left: 15px;
  }
  .white-header {
    background: #f4f4f4;
    padding: 3px;
    margin-bottom: 15px;
    color: #c6c6c6;
  }
  .small {
    font-size: 10px;
    color: #ccd1d9;
  }
  i {
    color: $brand-primary;
    padding-right: 4px;
    font-size: 14px;
  }
}

/*STOCK CARD Panel*/

.card {
  background: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
  height: 250px;
}

.stock {
  .stock-chart {
    background: $brand-info;
    #chart {
      height: 10.7em;
      background: url(http://i.imgbox.com/abmuNQx2) center bottom no-repeat;
    }
  }
  .current-price {
    background: #1d2122;
    padding: 10px;
    .info abbr {
      display: block;
      color: #f8f8f8;
      font-size: 1.5em;
      font-weight: 600;
      margin-top: 0.18em;
    }
    .changes {
      text-align: right;
    }
  }
  .changes .up {
    color: #4fd98b;
  }
  .current-price .changes .value {
    font-size: 1.8em;
    font-weight: 700;
  }
  .summary {
    color: #2f2f2f;
    display: block;
    background: $body-bg;
    padding: 10px;
    text-align: center;
    strong {
      font-weight: 900;
      font-size: 14px;
    }
  }
}

/*Content Panel*/

.content-panel {
  background: #ffffff;
  box-shadow: 0px 3px 2px #aab2bd;
  padding-top: 15px;
  padding-bottom: 5px;
  h4 {
    margin-left: 10px;
  }
}

/*WEATHER PANELS*/

/* Weather 1 */

.weather {
  background: url(/images/weather.jpg) no-repeat center top;
  text-align: center;
  background-position: center center;
  i {
    color: white;
    margin-top: 45px;
  }
  h2 {
    color: white;
    font-weight: 900;
  }
  h4 {
    color: white;
    font-weight: 900;
    letter-spacing: 1px;
  }
}

/* Weather 2 */

.weather-2 {
  background: #e9f0f4;
  .weather-2-header {
    background: #54bae6;
    padding-top: 5px;
    margin-bottom: 5px;
    p {
      color: white;
      margin-left: 5px;
      margin-right: 5px;
      small {
        font-size: 10px;
      }
    }
  }
  .data {
    margin-right: 10px;
    margin-left: 10px;
    color: #272b34;
    h5 {
      margin-top: 0px;
      font-weight: lighter;
    }
    h1 {
      margin-top: 2px;
    }
  }
}

/* Weather 3 */

.weather-3 {
  background: $brand-warning;
  i {
    color: white;
    margin-top: 30px;
    font-size: 70px;
  }
  h1 {
    margin-top: 10px;
    color: white;
    font-weight: 900;
  }
  .info {
    background: $body-bg;
    i {
      font-size: 15px;
      color: #c2c2c2;
      margin-bottom: 0px;
      margin-top: 10px;
    }
    h3 {
      font-weight: 900;
      margin-bottom: 0px;
    }
    p {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 16px;
      color: #c2c2c2;
      font-size: 15px;
      font-weight: 700;
    }
  }
}

/*Twitter Panel*/

.twitter-panel {
  background: #4fc1e9;
  text-align: center;
  i {
    color: white;
    margin-top: 40px;
  }
  p {
    color: #f5f5f5;
    margin: 10px;
  }
  .user {
    color: white;
    font-weight: 900;
  }
}

/* Instagram Panel*/

.instagram-panel {
  background: url(/images/instagram.jpg) no-repeat center top;
  text-align: center;
  background-position: center center;
  i {
    color: white;
    margin-top: 35px;
  }
  p {
    margin: 5px;
    color: white;
  }
}

/* Product Panel */

.product-panel {
  background: #dadad2;
  text-align: center;
  padding-top: 50px;
  height: 100%;
}

/* Product Panel 2*/

.product-panel-2 {
  background: #dadad2;
  text-align: center;
  .badge {
    position: absolute;
    top: 20px;
    left: 35px;
  }
}

.badge-hot {
  background: $brand-danger;
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  border-radius: 100%;
}

/* Soptify Panel */

#spotify {
  background: url(/images/lorde.jpg) no-repeat center top;
  margin-top: -15px;
  background-attachment: relative;
  background-position: center center;
  min-height: 220px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .btn-clear-g {
    top: 15%;
    right: 10px;
    position: absolute;
    margin-top: 5px;
  }
  .sp-title {
    bottom: 15%;
    left: 25px;
    position: absolute;
    color: #efefef;
    h3 {
      font-weight: 900;
    }
  }
  .play {
    bottom: 18%;
    right: 25px;
    position: absolute;
    color: #efefef;
    font-size: 20px;
  }
}

.followers {
  margin-left: 5px;
  margin-top: 5px;
}

/* BLOG PANEL */

#blog-bg {
  background: url(/images/blog-bg.jpg) no-repeat center top;
  margin-top: -15px;
  background-attachment: relative;
  background-position: center center;
  min-height: 150px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .badge {
    position: absolute;
    top: 20px;
    left: 35px;
  }
}

.badge-popular {
  background: $brand-info;
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 13px;
  color: #fff;
  text-align: center;
  border-radius: 100%;
}

.blog-title {
  background: rgba(0, 0, 0, 0.5);
  bottom: 100px;
  padding: 6px;
  color: white;
  font-weight: 700;
  position: absolute;
  display: block;
  width: 120px;
}

.blog-text {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 15px;
  font-size: 12px;
}

/* Calendar Configuration */

#calendar {
  color: white;
  padding: 0px !important;
}

.calendar-month-header {
  background: $brand-success;
}

/* TODO PANEL */

.steps {
  display: block;
  input {
    &[type=checkbox] {
      display: none;
    }
    &[type=submit] {
      background: $brand-warning;
      border: none;
      padding: 0px;
      margin: 0 auto;
      width: 100%;
      height: 55px;
      color: white;
      font-weight: 900;
      font-size: 11px;
      letter-spacing: 1px;
      cursor: pointer;
      transition: background 0.5s ease;
      &:hover {
        background: #8fde9c;
      }
    }
  }
  label {
    background: #393D40;
    height: 65px;
    line-height: 65px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #44494e;
    color: #889199;
    font-weight: 900;
    font-size: 11px;
    letter-spacing: 1px;
    text-indent: 52px;
    cursor: pointer;
    transition: all 0.7s ease;
    margin: 0px;
    &:before {
      content: "";
      width: 12px;
      height: 12px;
      display: block;
      position: absolute;
      margin: 26px 0px 0px 18px;
      border-radius: 100%;
      transition: border 0.7s ease;
    }
    &:hover {
      background: #2B2E30;
      color: #46b7e5;
      &:before {
        border: 1px solid #46b7e5;
      }
    }
  }
}

#op1:checked ~ label[for=op1]:before, #op2:checked ~ label[for=op2]:before, #op3:checked ~ label[for=op3]:before {
  border: 2px solid #96c93c;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGFJREFUeNpinHLMhgEHKADia0xQThIQs6JJ9gPxZhYQAcS6QHwDiI8hSYJAC0gBPxDLAvFcIJ6JJJkDxFNBVtgBcQ8Qa6BLghgwN4A4a9ElQYAFSj8C4mwg3o8sCQIAAQYA78QTYqnPZuEAAAAASUVORK5CYII=') no-repeat center center;
}

/* PROFILE PANELS */
/* Profile 01*/

#profile-01 {
  background: url(/images/profile-01.jpg) no-repeat center top;
  margin-top: -15px;
  background-attachment: relative;
  background-position: center center;
  min-height: 150px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h3 {
    color: white;
    padding-top: 50px;
    margin: 0px;
    text-align: center;
  }
  h6 {
    color: white;
    text-align: center;
    margin-bottom: 0px;
    font-weight: 900;
  }
}

.profile-01 {
  background: $brand-primary;
  height: 50px;
  &:hover {
    background: #2f2f2f;
    -webkit-transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;
    -o-transition: background-color 0.6s;
    transition: background-color 0.6s;
    cursor: pointer;
  }
  p {
    color: white;
    padding-top: 15px;
    font-weight: 400;
    font-size: 15px;
  }
}

/* Profile 02*/

#profile-02 {
  background: url(/images/profile-02.jpg) no-repeat center top;
  margin-top: -15px;
  background-attachment: relative;
  background-position: center center;
  min-height: 200px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .user {
    padding-top: 40px;
    text-align: center;
  }
  h4 {
    color: white;
    margin: 0px;
    padding-top: 8px;
  }
}

.pr2-social {
  a {
    color: #cdcdcd;
    &:hover {
      color: $brand-primary;
    }
  }
  i {
    margin-top: 15px;
    margin-right: 12px;
    font-size: 20px;
  }
}

/*spark line*/

.chart {
  display: inline-block;
  text-align: center;
  width: 100%;
  .heading {
    text-align: left;
    span {
      display: block;
    }
  }
}

.panel.green-chart .chart-tittle {
  font-size: 16px;
  padding: 15px;
  display: inline-block;
  font-weight: normal;
  background: $brand-success;
  width: 100%;
  -webkit-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}

#barchart {
  margin-bottom: -15px;
  display: inline-block;
}

.panel {
  &.green-chart {
    .chart-tittle .value {
      float: right;
      color: $brand-success;
    }
    background: $brand-success;
    color: #fff;
  }
  &.terques-chart {
    background: transparent;
    color: $text-color;
    .chart-tittle {
      .value {
        float: right;
        color: #fff;
        a {
          color: #2f2f2f;
          font-size: 12px;
          &:hover, &.active {
            color: $brand-primary;
            font-size: 12px;
          }
        }
      }
      font-size: 16px;
      padding: 15px;
      display: inline-block;
      font-weight: normal;
      background: $brand-info;
      width: 100%;
      -webkit-border-radius: 0px 0px 4px 4px;
      border-radius: 0px 0px 4px 4px;
    }
  }
}

.inline-block {
  display: inline-block;
}

/* showcase background */

.showback {
  background: #ffffff;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 3px 2px #aab2bd;
}

/* Calendar Events - Calendar.html*/

.external-event {
  cursor: move;
  display: inline-block !important;
  margin-bottom: 7px !important;
  margin-right: 7px !important;
  padding: 10px;
}

.drop-after {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #ccc;
}

.fc-state-default {
  background: $body-bg;
  .fc-button-inner {
    background: $body-bg;
  }
}

.fc-state-active .fc-button-inner {
  background: #FFFFFF;
}

/* Gallery Configuration */

.photo-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: $brand-primary;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.project {
  .overlay {
    position: absolute;
    text-align: center;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity = 0);
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  &:hover {
    .photo-wrapper {
      background-color: $brand-primary;
      background-image: url(/images/zoom.png);
      background-repeat: no-repeat;
      background-position: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: relative;
    }
    .photo {
      opacity: 10;
      filter: alpha(opacity = 4000);
      opacity: 0.1;
      filter: alpha(opacity = 40);
    }
    .overlay {
      opacity: 100;
      filter: alpha(opacity = 10000);
      opacity: 1;
      filter: alpha(opacity = 100);
    }
  }
}

/* EZ Checklist */

.ez-checkbox {
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

.ez-radio {
  height: 20px;
  width: 20px;
}

.brand-highlight {
  background: #fffbcc !important;
}

/* FORMS CONFIGURATION */

.form-panel {
  background: #ffffff;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 3px 2px #aab2bd;
  text-align: left;
}
.form-control:focus {
  border-color: $brand-info;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
label {
  font-weight: 400;
}

.form-horizontal.style-form .form-group {
  border-bottom: 1px solid #eff2f7;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.round-form {
  border-radius: 500px;
  -webkit-border-radius: 500px;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
  }
}

#focusedInput {
  border: 1px solid $brand-danger;
  box-shadow: none;
}

.add-on {
  float: right;
  margin-top: -37px;
  padding: 3px;
  text-align: center;
  .btn {
    height: 34px;
  }
}

/* TOGGLE CONFIGURATION */

.has-switch {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  line-height: 1.231;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 80px;
  -webkit-mask: url('/images/mask.png') 0 0 no-repeat;
  mask: url('/images/mask.png') 0 0 no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  &.deactivate {
    opacity: 0.5;
    filter: alpha(opacity = 50);
    cursor: default !important;
    label, span {
      cursor: default !important;
    }
  }
  > div {
    width: 162%;
    position: relative;
    top: 0;
    &.switch-animate {
      -webkit-transition: left 0.25s ease-out;
      -moz-transition: left 0.25s ease-out;
      -o-transition: left 0.25s ease-out;
      transition: left 0.25s ease-out;
      -webkit-backface-visibility: hidden;
    }
    &.switch-off {
      left: -63%;
      label {
        background-color: #7f8c9a;
        border-color: #bdc3c7;
        -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.5);
        -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.5);
        box-shadow: -1px 0 0 rgba(255, 255, 255, 0.5);
      }
    }
    &.switch-on {
      left: 0%;
      label {
        background-color: #41cac0;
      }
    }
  }
  input[type=checkbox] {
    display: none;
  }
  span {
    cursor: pointer;
    font-size: 14.994px;
    font-weight: 700;
    float: left;
    height: 29px;
    line-height: 19px;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 5px;
    position: relative;
    text-align: center;
    width: 50%;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
    -webkit-backface-visibility: hidden;
    &.switch-left {
      border-radius: 30px 0 0 30px;
      background-color: #2A3542;
      color: #41cac0;
      border-left: 1px solid transparent;
    }
    &.switch-right {
      border-radius: 0 30px 30px 0;
      background-color: #bdc3c7;
      color: #ffffff;
      text-indent: 7px;
      [class*="fui-"] {
        text-indent: 0;
      }
    }
  }
  label {
    border: 4px solid #2A3542;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    float: left;
    height: 29px;
    margin: 0 -21px 0 -14px;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 29px;
    z-index: 100;
    -webkit-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
    -webkit-backface-visibility: hidden;
  }
}

.switch-square {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -webkit-mask: url('/images/mask.png') 0 0 no-repeat;
  mask: url('/images/mask.png') 0 0 no-repeat;
  > div.switch-off label {
    border-color: #7f8c9a;
    border-radius: 6px 0 0 6px;
  }
  span {
    &.switch-left {
      border-radius: 6px 0 0 6px;
      [class*="fui-"] {
        text-indent: -10px;
      }
    }
    &.switch-right {
      border-radius: 0 6px 6px 0;
      [class*="fui-"] {
        text-indent: 5px;
      }
    }
  }
  label {
    border-radius: 0 6px 6px 0;
    border-color: #41cac0;
  }
}

/*LOGIN CONFIGURATION PAGE*/

.form-login {
  max-width: 330px;
  margin: 100px auto 0;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  h2.form-login-heading {
    margin: 0;
    padding: 25px 20px;
    text-align: center;
    background: $brand-primary;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
  }
}

.login-wrap {
  padding: 20px;
  .registration {
    text-align: center;
  }
}

.login-social-link {
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
}

/*LOCK SCREEN CONF*/

#showtime {
  width: 100%;
  color: #fff;
  font-size: 90px;
  margin-bottom: 30px;
  margin-top: 250px;
  display: inline-block;
  text-align: center;
  font-weight: 400;
}

.lock-screen {
  text-align: center;
  a {
    color: white;
    &:hover {
      color: #48cfad;
    }
  }
  i {
    font-size: 60px;
  }
  .modal-content {
    position: relative;
    background-color: $body-bg;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
}

.btn-facebook {
  color: #fff;
  background-color: #5193ea;
  border-color: $brand-info;
  &:hover, &:focus, &:active, &.active {
    color: #fff;
    background-color: $brand-info;
    border-color: $brand-info;
  }
}

.open .dropdown-toggle.btn-facebook {
  color: #fff;
  background-color: $brand-info;
  border-color: $brand-info;
}

.btn-twitter {
  color: #fff;
  background-color: #44ccfe;
  border-color: #2bb4e8;
  &:hover, &:focus, &:active, &.active {
    color: #fff;
    background-color: #2bb4e8;
    border-color: #2bb4e8;
  }
}

.open .dropdown-toggle.btn-twitter {
  color: #fff;
  background-color: #2bb4e8;
  border-color: #2bb4e8;
}

/*badge*/

.badge {
  &.bg-primary {
    background: #8075c4;
  }
  &.bg-success {
    background: #a9d86e;
  }
  &.bg-warning {
    background: $brand-warning;
  }
  &.bg-important {
    background: #ff6c60;
  }
  &.bg-info {
    background: #41cac0;
  }
  &.bg-inverse {
    background: #2A3542;
  }
}

/*easy pie chart*/

.easy-pie-chart {
  display: inline-block;
  padding: 30px 0;
}

.chart-info {
  display: inline-block;
  .increase, .decrease {
    display: inline-block;
  }
  width: 100%;
  margin-bottom: 5px;
}

.chart-position {
  margin-top: 70px;
}

.chart-info {
  span {
    margin: 0 3px;
  }
  .increase {
    background: #ff6c60;
    width: 10px;
    height: 10px;
  }
  .decrease {
    background: $body-bg;
    width: 10px;
    height: 10px;
  }
}

.panel-footer.revenue-foot {
  background-color: #e6e7ec;
  -webkit-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  border: none;
  padding: 0;
  width: 100%;
  display: inline-block;
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-flex;
    li {
      float: left;
      width: 33.33%;
      &.first a {
        &:hover {
          -webkit-border-radius: 0px 0px 0px 4px;
          border-radius: 0px 0px 0px 4px;
        }
        -webkit-border-radius: 0px 0px 0px 4px;
        border-radius: 0px 0px 0px 4px;
      }
      &.last a {
        &:hover {
          -webkit-border-radius: 0px 0px 4px 0px;
          border-radius: 0px 0px 4px 0px;
          border-right: none;
        }
        -webkit-border-radius: 0px 0px 4px 0px;
        border-radius: 0px 0px 4px 0px;
        border-right: none;
      }
      a {
        display: inline-block;
        width: 100%;
        padding: 14px 15px;
        text-align: center;
        border-right: 1px solid #d5d8df;
        color: $text-color;
        &:hover {
          background: #fff;
          position: relative;
        }
      }
      &.active a {
        background: #fff;
        position: relative;
      }
      a {
        i {
          color: #c6cad5;
          display: block;
          font-size: 16px;
        }
        &:hover i {
          color: #ff6c60;
          display: block;
          font-size: 16px;
        }
      }
      &.active a i {
        color: #ff6c60;
        display: block;
        font-size: 16px;
      }
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari and Chrome */
  .panel-footer.revenue-foot {
    margin-bottom: -4px;
  }
}

/*flot chart*/

.flot-chart {
  .chart, .pie, .bars {
    height: 300px;
  }
}

/*todolist*/

#sortable {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  li {
    padding-left: 3em;
    font-size: 12px;
    i {
      position: absolute;
      left: 6px;
      padding: 4px 10px 0 10px;
      cursor: pointer;
    }
    input[type=checkbox] {
      margin-top: 0;
    }
  }
}

.ui-sortable {
  > li {
    padding: 15px 0 15px 35px !important;
    position: relative;
    background: #f5f6f8;
    margin-bottom: 2px;
    border-bottom: none !important;
  }
  li {
    &.list-primary {
      border-left: 3px solid #41CAC0;
    }
    &.list-success {
      border-left: 3px solid #78CD51;
    }
    &.list-danger {
      border-left: 3px solid #FF6C60;
    }
    &.list-warning {
      border-left: 3px solid #F1C500;
    }
    &.list-info {
      border-left: 3px solid #58C9F3;
    }
    &.list-inverse {
      border-left: 3px solid #BEC3C7;
    }
  }
}

/*footer*/

.site-footer {
  background: $navbar-default-color;
  color: #fff;
  padding: 10px 0;
}

.go-top {
  margin-right: 1%;
  float: right;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  i {
    color: #2A3542;
  }
}

.site-min-height {
  min-height: 900px;
}

.label-facebook {
  background-color: #3b5998;
  color: #fff;
}

.label-uretimde {
  background-color: #dd4b39;
  color: #fff;
}

.label-uretilen {
  background-color: #2ba9e1;
  color: #fff;
}

.label-dagitimda {
  background-color: #cb2027;
  color: #fff;
}

.label-kargoda {
  background-color: #2c4762;
  color: #fff;
}

.secili {
  background-color: #FFF380;
}

.table {
  overflow-x: scroll;
}

.right-click-menu {
  background: #FAFAFA;
  border: 1px solid #BDBDBD;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: block;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 999999;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
    li {
      border-bottom: 1px solid #E0E0E0;
      margin: 0;
      padding: 5px 20px;
      cursor: pointer;
    }
  }
  li {
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background: #1E88E5;
      color: #FAFAFA;
    }
  }
}

.modal-backdrop {
  opacity: 0.3 !important;
}

.btn-circle {
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

span {
  &.glyphicon {
    font-size: 1.5em;
  }
  &.glyphicon-check {
    color: green;
  }
  &.glyphicon-unchecked {
    color: red;
  }
  &.glyphicon-earphone {
    color: blue;
  }
}

.red {
  color: $brand-danger;
}

.blue {
  color: $brand-info;
}

.green {
  color: $brand-success;
}

.purple {
  color: #800080;
}

.uretim {
  border-bottom: 0 none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  padding: 10px 5px;
}

.sort {
  cursor: pointer;
}

.Table {
  display: table;
}

.Title {
  display: table-caption;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.Heading {
  display: table-row;
  font-weight: bold;
  text-align: center;
}

.Row {
  display: table-row;
}

.Cell {
  display: table-cell;
  border-right: solid #eeeeee;
  border-width: thin;
  padding-left: 5px;
  padding-right: 5px;
  width: 12.5%;
}

.bbt {
  border-bottom: solid #dddddd;
  border-width: thin;
}

.list-group-item {
  padding: 1px 2px;
}

.label {
  padding: 5px 8px;
}

.label-islem {
  background-color: #006666;
}

.label-uretildi {
  background-color: #3339FF;
}

.label-iade {
  background-color: rgb(204, 78, 0);
}

.label-iptal {
  background-color: rgb(255, 98, 0);
}

.list-group-item {
  padding: none;
}

.obtn {
  padding: 2px 4px;
  font-size: 10px;
}

.table {
  font-size: 11px;
}

.resumable-error {
  display: none;
  font-size: 14px;
  font-style: italic;
}

.resumable-drop {
  padding: 15px;
  font-size: 13px;
  text-align: center;
  color: #666;
  font-weight: bold;
  background-color: #eee;
  border: 2px dashed #aaa;
  border-radius: 10px;
  margin-top: 40px;
  z-index: 9999;
}

.resumable-dragover {
  padding: 30px;
  color: #555;
  background-color: #ddd;
  border: 1px solid #999;
}

/* Uploader: Progress bar */
.progress-container {
  height: 7px;
  background: #9CBD94;
  position: relative;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #45913A;
  width: 0;
}

.progress-text {
  font-size: 11px;
  line-height: 9px;
  padding-left: 10px;
}

.resumable-file-name {
  position: absolute;
  left: 50px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top:10px;
}
.resumable-file-progress{
  padding-top:10px;
}
.resumable-list {
  background-color: #eee;
  margin: 5px 0 5px;
  width: 50%;
  overflow: auto;
}
.navbar-nav{
  li{
    a{
      padding:15px 6px;
    }
  }
}
