<style scoped>
  tr,td {
    padding:5px;
  }
  td.right{
    text-align: right;
  }
  table.table-price{
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  table.table-price th, table.table-price td{
    border: 1px solid #ccc;
  }
  .modal{
    display: block;
    overflow: auto;
    margin:0 auto;
  }
  .modal-dialog {
    width: 90%;
    margin: 0;
    padding: 0;
  }

  .modal-content {
    height: auto;
    min-height: 90%;
    border-radius: 0;
  }
  .Table{
    display: table;
  }
  .Title{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
  }
  .Heading{
    display: table-row;
    font-weight: bold;
    text-align: center;
  }
  .Row{
    display: table-row;
  }
  .Cell{
    display: table-cell;
    border: solid #eeeeee;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 15%;
  }
  .right{
    text-align: right;
  }
</style>

<template>
  <div>
    <div class="modal" tabindex="-1" role="dialog" id="myModal">

      <div class="modal-dialog" role="document">
        <div class="modal-content" v-if="op.irsaliyesi">
          <div class="modal-header">
            <button type="button" class="close" @click="kapat()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">{{op.irsaliyesi.order_number}}</h3>
            <grid-loader style="position:absolute;left:410px;top:10px;" :loading="is_loading"></grid-loader>
          </div>
          <div class="modal-body">
            <button v-if="!is_loading" class="btn btn-danger btn-block" @click="teslimet()"><h2>TESLİM EDİLDİ</h2></button>
            <div class="row">
              <div class="col-xs-12">

               <table class="table table-condensed table-bordered" border="1">
                <caption>GÖNDERİCİ BİLGİLERİ</caption>
                <tr>
                <td>Gönderici Adı Soyadı</td>
                  <td><strong>{{op.irsaliyesi.gon_adsoyad}}</strong></td>
                </tr>
                <tr>
                  <td>Gsm:</td>
                  <td>{{op.irsaliyesi.gon_cep}}</td>
                </tr>
                <tr>
                  <td>Tel:</td>
                  <td>{{op.irsaliyesi.gon_sabit}}</td>
                </tr>
                <tr>
                  <td>Email:</td>
                  <td>{{op.irsaliyesi.gon_email}}</td>
                </tr>
                <tr>
                  <td>Müşteri Notu:</td>
                  <td>{{op.irsaliyesi.bize_mesaj}}</td>
                </tr>
                <tr>
                  <td>Kurye Mesajı</td>
                  <td><strong>{{op.irsaliyesi.kurye_mesaj}}</strong></td>
                </tr>
              </table>
            </div>

          </div>
          <div class="row">
            <div class="col-xs-12">
              <table class="table table-price">
                <caption>Ürün Bilgileri</caption>
                <tr>
                  <td>Ürün</td>
                  <td>
                    {{op.product_name}}  (<span class="red"> {{parseInt(op.product_qty)}} Adet</span>)
                  </td>
                </tr>
                <tr>
                  <td>
                    Taşıma Ücreti
                  </td>
                  <td>
                    <span class="red">{{op.shipping}}</span>
                  </td>
                </tr>
                <tr>
                  <td>Çıkış Tarihi </td>
                  <td>{{op.cikis_tarihi}}</td>

                </tr>
                <tr>
                  <td>Teslim Tarihi </td><td>{{op.teslim_tarihi}}</td>
                </tr>
                <tr>
                  <td>Teslim Saati </td><td>{{op.teslim_saati}}</td>
                </tr>
                <tr>
                  <td colspan="2">
                    <strong class="red"><br>{{op.gon_gizli==1 && "GÖNDERİCİ GİZLİ OLACAK" || ""}}</strong>
                  </td>
                </tr>
              </table>
              <table class="table table-price">
                <caption>Alt Bayi Bilgileri</caption>
                <tr>
                  <td>Alt Bayi Adı Soyadı </td>
                  <td>{{op.alici_adsoyad}}</td>
                </tr>
                <tr>
                  <td>Alt Bayi Telefonu </td>
                  <td>{{op.alici_telefon}}</td>
                </tr>
                <tr>
                  <td>Semt Adı </td>
                  <td>{{op.semt_adi}}</td>
                </tr>
                <tr>
                  <td>İl Adı </td>
                  <td>{{op.il_adi}}</td>
                </tr>
                <tr>
                  <td>Adres Tipi </td><td>{{op.alici_adrestipi}}</td>
                </tr>
                <tr>
                  <td>İşyeri Adı </td><td>{{op.alici_firma}}</td>
                </tr>
                <tr>
                  <td>Alt Bayi Adres: </td><td>{{op.alici_adres}}</td>
                </tr>
                <tr>
                  <td>Adres Tarifi: </td><td>{{op.alici_adrestarifi}}</td>
                </tr>
                <tr>
                  <td>Adreste Bulunamazsa </td><td>{{op.alici_yoksa}}</td>
                </tr>
              </table>

            </div>
          </div>

          <h2 v-if="op.irsaliyesi.kapida==1 && op.irsaliyesi.payment_ok == 0">
            KAPIDA ÖDEME VAR ({{(parseFloat(op.irsaliyesi.total) + parseFloat(op.irsaliyesi.shipping)).toFixed(2)}})
          </h2>

        </div>
        <div class="modal-footer">
          <button class="btn" @click="kapat()">İPTAL</button>
          <button v-if="!is_loading" class="btn btn-danger btn-block" @click="teslimet()"><h2>TESLİM EDİLDİ</h2></button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</div>
</template>

<script>

  import GridLoader from 'vue-spinner/src/GridLoader.vue'
  export default {
    components: {
      GridLoader
    },
    data: function () {
      return {
        op:{},
        api_link:window.api_link,
        user:window.user,
        is_loading:false
      }
    },
    props: [
    'op_id'
    ],
    methods: {
      getir:function(){
        this.$http.get(this.api_link+'/v1/irsaliye_item/'+this.op_id)
        .then(function(response) {
          this.op = response.body;
        })
      },
      kapat:function(){
        this.$emit("kapatilacak");
      },
      teslimet(){
        this.is_loading=true
        let checkedIrs = [this.op.id]
        this.$http.put(this.api_link+'/v1/gonderi/teslimet',{checkedIrs}).then((response)=>{
          if(response.status === 200){
            this.kapat()
          }else{
            alert("Bir problem oluştu, lütfen tekrar deneyiniz..");
            this.is_loading=false
          }
        });
      },
    },
    mounted:function(){
      this.getir();
    }
  }

</script>
