<style scoped>

</style>

<template>

<div>
    <div class="panel panel-danger">
      <div class="panel-heading">
        {{user.name}} DAĞITIMDAKİ SİPARİŞLER
        <span v-if="arama">
           <h4>ARAMA SONUÇLARI</h4>
        </span>
        <grid-loader style="position:absolute;left:380px;top:10px;" :loading="is_loading"></grid-loader>
      </div>

    <div  class="panel-body">
      <table class="table table-bordered table-condensed">
        <thead>
           <tr v-if="!arama">
              <th>&nbsp;</th>
              <th>
                <input type="text" size="6" v-model="secimData.alici_adsoyad" @change="cek" placeholder="Alt Bayi Adı">
              </th>
              <th>
                <input type="text" size="6" v-model="secimData.alici_firma" @change="cek" placeholder="Alt Bayi Firma">
              </th>
              <th>
                <input type="text" size="6" v-model="secimData.alici_telefon" @change="cek" placeholder="Alt Bayi Telefon">
              </th>

              <th>
                <input type="text" size="6" v-model="secimData.gon_adsoyad" @change="cek" placeholder="Gönderici Adı">
              </th>
            </tr>
          <tr>
            <th>No</th>
            <th>Alt Bayi Adı Soyadı</th>
            <th>Alt Bayi Firma</th>
            <th>Alt Bayi Telefon</th>
            <th>Gönderici</th>
          </tr>
        </thead>
        <tbody>
        <tr v-for="op in veri" :id="op.id" :key="op.id">
          <td>
            <a class="btn btn-info" ref="btn" @click="showModal(op)">
                  {{op.irsaliyesi.order_number}}<br>
                  <!-- {{op.irsaliye_no}} -->
            </a>
          </td>
          <td>
              {{op.alici_adsoyad}}
          </td>
          <td>
            {{op.alici_firma}}
          </td>
          <td>
            {{op.alici_telefon}}
          </td>
          <td>
            {{op.irsaliyesi.gon_adsoyad}}
          </td>
        </tr>

      </tbody>
      </table>
     </div>
     </div>
  <gonderi-modal :op_id="order_id" v-if="order_id" @kapatilacak="orderModalKapat()"></gonderi-modal>
  </div>
</template>

<script>
  import GridLoader from 'vue-spinner/src/GridLoader.vue'
  import GonderiModal from './GonderiModal.vue'

  export default {
    components: {
      GridLoader,
      GonderiModal
    },
    data: function () {
    return {
        veri:{},
        api_link:window.api_link,
        pusher_channel:window.pusher_channel,
        user:window.user,
        arama:false,
        is_loading:false,
        order_id:0,
        secimData:{
          alici_telefon:"",
          alici_firma:"",
          alici_adsoyad:"",
          id:"",
          gon_adsoyad:"",
        }
      }
    },
    name: 'gonderi-page',
    methods: {

        cek:function(){
          this.veri={}
          this.arama=false
          this.is_loading=true
          this.$http.post(this.api_link+'/v1/gonderi',this.secimData)
          .then((response) => {
            if(response.status===200){
              this.veri = response.body
            }
            this.is_loading=false
          },(error)=>{
            if(error.status === 401){
              this.$localStorage.remove("user")
              this.$router.push('/login')
            }
          }).bind(this);
        },
        showModal:function(op){
          this.order_id = op.id
        },
        orderModalKapat:function(){
          this.cek()
          this.order_id = 0
        },
    },
    created:function(){
      this.cek();
    }
  }
</script>
